@model LIMS.Web.Areas.Admin.Models.StatisticalData.ProductionModel
@{
    //page title
    ViewBag.Title = "Livestock";
}
@inject IWorkContext workContext
@using LIMS.Web.Areas.Admin.Helper

@{
    var roles = workContext.CurrentCustomer.CustomerRoles.Select(m => m.Name).ToList();
    var district = workContext.CurrentCustomer.OrgAddress;

}
<form method="post">
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel light form-fit">
                <div class="x_title">
                    <div class="actions">
                    </div>
                </div>
                <vc:admin-widget widget-zone="blog_details_buttons" additional-data="null" />
                <div class="x_content form">
                    <div class="form-row">


                        <div class="col-md-2">
                            <div class="form-group">
                                <admin-label asp-for="ProductionType" />
                                <admin-select asp-for="ProductionType" asp-items="ViewBag.ProductionTypeId" onchange="getProductionData()" required="required" />
                                <span asp-validation-for="ProductionType"></span>
                            </div>
                        </div>
                        @*<div class="col-md-2">
                                <div class="form-group">
                                    <admin-label asp-for="Provience" />
                                    <admin-select asp-for="Provience" data-val="Sudurpashchim Province" id="country" />
                                    <span asp-validation-for="Provience"></span>
                                </div>
                            </div>
                            @if (roles.Contains("MolmacAdmin") || roles.Contains("DolfdAdmin") || roles.Contains("AddAdmin"))
                            {
                                <div class="col-md-2">

                                    <div class="form-group">
                                        <admin-label asp-for="District" />
                                        <select name="district" id="district" data-val="@Model.District" class="form-control" required="required">
                                            <option value="">select</option>
                                        </select>
                                        <span asp-validation-for="District"></span>

                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="col-md-2">

                                    <div class="form-group">
                                        <admin-label asp-for="District" />
                                        <select id="district" data-val="@Model.District" class="form-control" disabled required="required">
                                            <option value="">select</option>
                                        </select>
                                        <span asp-validation-for="District"></span>
                                
                                    </div>
                                </div>
                                <input type="hidden" name="district" value="@Model.District" />
                            }*@

                        <div class="col-md-2">
                            <div class="form-group">
                                <admin-label asp-for="LocalLevel" />
                                <input asp-for="LocalLevel" type="hidden"/>
                                <select name="LocalLevel1" asp-items="@ViewBag.LocalLevels" data-val="@Model.LocalLevel" class="form-control" disabled>                                   
                                </select>
                                <span asp-validation-for="LocalLevel"></span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <admin-label asp-for="Ward" />
                                <admin-select asp-for="Ward" asp-items="ViewBag.Ward" required="required" onchange="getProductionData()" />
                                <span asp-validation-for="Ward"></span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <admin-label asp-for="FiscalYear" />
                                <admin-select asp-for="FiscalYear" asp-items="ViewBag.FiscalYearId" required="required" onchange="getProductionData()" ></admin-select>
                                <span asp-validation-for="FiscalYear"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <admin-label asp-for="FarmId" />
                                <admin-select asp-for="FarmId" asp-items="ViewBag.FarmId" required="required" onchange="getProductionData()"></admin-select>
                                <span asp-validation-for="FarmId"></span>
                            </div>
                        </div>

                    </div>
                </div>
                <div id="showTable">
                    <table class="table table-bordered" style="width:50%">
                        <thead>
                            <tr>
                                <td>@T("Admin.Production.SpeciesName")</td>
                                <td>@T("Admin.Production.Quantity")</td>
                                <td>@T("Admin.Production.Unit")</td>
                                <td>@T("Admin.Production.Remarks")</td>
                            </tr>
                        </thead>
                        <tbody id="tabularEntry">
                            @*@foreach(var item in Model.Species) {
                                <tr id="@item.Id">
                                    <td>
                                        @item.EnglishName
                                        <input type="hidden" name="SpeciesId" value=@item.Id />
                                        <input type="hidden" name="ProductionDataId" value="" />
                                    </td>
                                    <td>
                                        <input type="number" name="Quantity" class="form-control" />
                                    </td>
                                    <td class="unit">


                                    </td>
                                    <td>
                                        <input type="text" name="Ward" class="form-control" />
                                    </td>
                                    <td>
                                        <input type="text" name="Tole" class="form-control" />
                                    </td>
                                    <td>
                                        <input type="date" name="ProductionDate" class="form-control">
                                    </td>
                                </tr>

                                }*@
                        </tbody>
                    </table>
                    <div class="col-md-6">
                        <center>
                            <input type="submit" id="subumtform" class="btn btn-success" />
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<div style="display: none;" id="select-units">
    <select name="Unit" class="form-control" disabled="disabled"></select>
</div>



<script>
    $(document).ready(function () {
        //for unit dropdown

        $("#showTable").hide();
        console.log($('#select-units').html());

        $("#@Html.IdFor(m=>m.ProductionType)").on("change", async function () {
            var production = $(this).val();

            await $.get('/Admin/Production/GetUnit', function (data) {
                $('#select-units select')
                    .find('option')
                    .remove();
                $.each(data, function (i, item) {

                    if (production == "Milk") {

                        if (item.Text == "Lt.") {
                            $("#select-units select").append($("<option selected></option>").val(this['Value']).html(this['Text']));
                        }
                        else {
                            $("#select-units select").append($("<option></option>").val(this['Value']).html(this['Text']));

                        }
                    }
                    else if (production == "Meat")
                    {

                            if (item.Text == "MT.") {
                                $("#select-units select").append($("<option selected></option>").val(this['Value']).html(this['Text']));
                            }
                            else {
                                $("#select-units select").append($("<option></option>").val(this['Value']).html(this['Text']));

                            }
                     }
                    else if (production == "Wool")
                        {
                        if (item.Text == "Kg.") {
                            $("#select-units select").append($("<option selected></option>").val(this['Value']).html(this['Text']));
                        }
                        else {
                            $("#select-units select").append($("<option></option>").val(this['Value']).html(this['Text']));

                        }
                    }
                    else if (production == "Wool") {
                        if (item.Text == "Kg.") {
                            $("#select-units select").append($("<option selected></option>").val(this['Value']).html(this['Text']));
                        }
                        else {
                            $("#select-units select").append($("<option></option>").val(this['Value']).html(this['Text']));

                        }
                    }
                    else if (production == "Egg") {
                        if (item.Text == "No") {
                            $("#select-units select").append($("<option selected></option>").val(this['Value']).html(this['Text']));
                        }
                        else {
                            $("#select-units select").append($("<option></option>").val(this['Value']).html(this['Text']));

                        }
                    }
                    else {
                        if (item.Text == "Kg.") {
                            $("#select-units select").append($("<option selected></option>").val(this['Value']).html(this['Text']));
                        }
                        else {
                            $("#select-units select").append($("<option></option>").val(this['Value']).html(this['Text']));

                        }
                    }
                    });
                $(".unit").html($('#select-units').html());
            });

            $('#tabularEntry').html('');
            url = "@Url.Action("GetSpeciesProductionType","Production")"
            var data= {
                productionType:production
            }
            //addAntiForgeryToken(data);
            $.getJSON(url, { productionType: production }, (result) => {
                $.each(result, function (i, item) {
                    var tableRow = '<tr id="' + item.Id + '">';
                    tableRow += '<td>' + item.EnglishName + '<input type="hidden" name="SpeciesId" value="'+item.Id+'"/><input type="hidden" name="ProductionDataId" value="" /></td>';
                    tableRow += '<td><input type="number" name="Quantity"  class="form-control" min="0" step="0.01" /></td>';
                    tableRow += '<td>' + $('#select-units').html() + '</td>';
                    tableRow += '<td><input type="text" name="Remarks"  class="form-control" /></td>';
                     tableRow += '</tr>';
                    $("#tabularEntry").append(tableRow);
                });
            });
            $("#showTable").show();
        });

        var list = [];
        $("#subumtform").click(function () {

        });
    });
    function getProductionData() {
        var data = {

            fiscalYearId: $('#@Html.IdFor(m => m.FiscalYear)').val(),
            district: $('#district').val(),
            locallevel: $('#locallevel').val(),
            ward: $('#@Html.IdFor(m=>m.Ward)').val(),
            productionType: $('#@Html.IdFor(m => m.ProductionType)').val(),
            farmId :$('#@Html.IdFor(m => m.FarmId)').val()
        };
        addAntiForgeryToken(data);
        $("#tabularEntry input[name='Quantity']").val("");
        $("#tabularEntry input[name='Remarks']").val("");
        $("#tabularEntry input[name='ProductionDataId']").val("");
        $.post("@Url.Action("GetProductionData", "Production")", data, function (result) {
            $.each(result, function (index, item) {
                $('tr#' + item.Species.Id + ' input[name="ProductionDataId"]').val(item.Id);
                $('tr#' + item.Species.Id + ' input[name="Quantity"]').val(item.Quantity);
                $('tr#' + item.Species.Id + ' input[name="Remarks"]').val(item.Remarks);
                 console.log(item);
            });
        });
    }
</script>