@model List<MainMenuModel>
@{
    var curCulture = System.Threading.Thread.CurrentThread.CurrentCulture.Name;
    string menuName = "";
    string subMenuName = "";
    string subSubMenuName = "";
}
<style>
    ul {
        list-style-type: none
    }

    .dropdown-item {
        display: block !important;
        padding-left: 10px;
        padding-bottom: 5px;
        color: #2657BA
    }

</style>
<div>
    <ul class="navbar-nav">

        @if (Model.Any())
        {
            @foreach (var item in Model)
            {
                { menuName = curCulture == "en-US" ? item.MainMenuName : item.MainMenuNameNepali; }

                @if (item.HasSubMenu && item.SubMenus.Any())
                {
                    <li class="nav-item dropdown">
                        <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">@menuName </a>
                        <div class="dropdown-menu">
                            @foreach (var subItem in item.SubMenus)
                            {
                                {
                                    subMenuName = curCulture == "en-US" ? subItem.Name : subItem.NameNepali;
                                }
                                if (subItem.HasSubSubMenu && subItem.SubSubMenus.Any())
                                {
                                    @*<li class="nav-item dropdown">
                                        <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">@subMenuName </a>

                                        <a class="dropdown-item" href="#"></a>*@

                                    @foreach (var subSubItem in subItem.SubSubMenus)
                                    {
                                        { subSubMenuName = curCulture == "en-US" ? subSubItem.SubSubMenuName : subSubItem.SubSubMenuNameNepali; }

                                        <a class="dropdown-item" href='@(subSubItem.Url)' target='@(subSubItem.IsUrlExternal?"_blank":"_self")'>@subSubMenuName</a>
                                    }

                                    @*</li>*@
                                }

                                else
                                {

                                    @*<a class="dropdown-item" href="#"></a>*@

                                    <a class="dropdown-item" href='@(subItem.Url)' target='@(subItem.IsUrlExternal?"_blank":"_self")'>@subMenuName</a>


                                }


                            }
                        </div>
                    </li>
                }
               
                else
                {
                    <li class="nav-item">
                        <a class="nav-link" href='@(item.Url+"?mainmenu="+item.MainMenuId.ToString())' target='@(item.IsUrlExternal?"_blank":"_self")'>@menuName</a>
                    </li>
                }
               
            }
        }
    </ul>
</div>




