@model List<MainMenuModel>
    @{
        var curCulture = System.Threading.Thread.CurrentThread.CurrentCulture.Name;
        string menuName = "";
        string subMenuName ="";
        string subSubMenuName = "";
     }
<div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
        @if (Model.Any())
        {
            @foreach (var item in Model)
            {
                { menuName = curCulture == "en-US" ? item.MainMenuName : item.MainMenuNameNepali; }

                @if (item.HasSubMenu && item.SubMenus.Any())
                {

                    @foreach (var subItem in item.SubMenus)
                    {
                        {
                            subMenuName = curCulture == "en-US" ? subItem.Name : subItem.NameNepali;
                        }
                        if (subItem.HasSubSubMenu && subItem.SubSubMenus.Any())
                        {
                            <li class="nav-item dropdown">
                                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">@subMenuName </a>

                                <a class="dropdown-item" href="#"></a>
                                <div class="dropdown-menu">
                                    @foreach (var subSubItem in subItem.SubSubMenus)
                                    {
                                        { subSubMenuName = curCulture == "en-US" ? subSubItem.SubSubMenuName : subSubItem.SubSubMenuNameNepali; }

                                        <a class="dropdown-item" href="@subSubItem.Url">@subSubMenuName</a>
                                    }
                                </div>
                            </li>
                        }

                        else
                        {
                            <a class="nav-link" href="@item.Url">@menuName</a>
                        }
                    }
                }
                else if (item.HasSubMenu)
                {
                    <a class="nav-link" href="#">
                        @menuName
                    </a>
                }
                else
                {
                    <a class="nav-link" href="@item.Url">@menuName</a>


                }
                <!-- top level -->
                <!-- top level -->
            }
        }
    </ul>
</div>




