@model List<EmployeeModel>
@{
    
    int i = 1;
}
<section>
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <h2>Employee</h2>
                <table class="table table-bordered table-responsive">
                    <thead>
                        <tr>
                            <th>
                                S.N.
                                @*सि.नं.*@
                            </th>
                            <th>
                                Name
                                @*नाम, थर*@
                            </th>
                            <th>
                                Designation
                                @*पद*@
                            </th>
                            <th>
                                Photo
                                @*फोटो*@
                            </th>

                            <th>
                                Email
                                @*इमेल*@
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                    {

                        <tr>
                            <td>@(i)</td>
                            <td>@item.Name</td>
                            <td>@item.Designation</td>
                            <td>
                                <image src='@item.Image.PictureUrl' onerror="if (this.src != 'error.jpg') this.src = '~/Dolfd/img/user.jpg';"
                                       style="height: 100px; width: 120px;" alt=""></image>
                            </td>
                            <td>@item.Email1</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
@*<asp:Repeater ID="repEmployee" runat="server" OnItemCommand="repEmployee_ItemCommand">
        <ItemTemplate>
            <div class="col-md-2">

                <div class="thumbnail text-center">
                    <image src='images/employee/<%#Eval("id") %>.jpg' onerror="if (this.src != 'error.jpg') this.src = 'img/user.jpg';"
                           style="height: 200px; width: 220px;" alt=""></image>
                    <br style="height: 1px;" />
                    <label>
                        <%#Limit(Eval("designation").ToString(),30) %>
                    </label>
                    <br />
                    <label>
                        <%#Limit(Eval("name").ToString(),30) %>
                    </label><br />
                    <label>
                        <%#Limit(Eval("phone").ToString(), 30)%>
                    </label><br />
                    <label><%#Eval("jobStartDate") %></label>
                </div>
            </div>
        </ItemTemplate>
    </asp:Repeater>*@

