@model List<EmployeeModel>
@using LIMS.Website1.Data 
@inject IGetLabel _lbl

<section>
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <h2>
                    @{_lbl.GetByName("Employee.Employee", "");}
                </h2>
                <table class="table table-bordered table-responsive">
                    <thead>
                        <tr>
                            <th>
                                Sn
                            </th>
                            <th>
                              Name
                            </th>
                            <th>
                             Designation
                            </th>
                            <th>
                              Image
                            </th>
                            <th>
                            Phone
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Any())
                        {
                            int i = 1;
                            @foreach (var item in Model)
                            {
                                
                        <tr>
                            <td>@i</td>
                            <td>@item.Name</td>
                            <td>@item.Designation</td>
                            <td>
                                <image src='@(!String.IsNullOrEmpty(item.Image.PictureUrl) ? @item.Image.PictureUrl : "/Dolfd/img/111.png")'
                                       style="height: 100px; width: 120px;" alt=""></image>
                            </td>
                            <td>@item.OfficePhone</td>
                            @{i++;
                            }
                        </tr>

                            }
                        }
                        else
                        {
                            <tr>
                        <td colspan="5">No record found.</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
@*<asp:Repeater ID="repEmployee" runat="server" OnItemCommand="repEmployee_ItemCommand">
        <ItemTemplate>
            <div class="col-md-2">

                <div class="thumbnail text-center">
                    <image src='images/employee/<%#Eval("id") %>.jpg' onerror="if (this.src != 'error.jpg') this.src = 'img/user.jpg';"
                           style="height: 200px; width: 220px;" alt=""></image>
                    <br style="height: 1px;" />
                    <label>
                        <%#Limit(Eval("designation").ToString(),30) %>
                    </label>
                    <br />
                    <label>
                        <%#Limit(Eval("name").ToString(),30) %>
                    </label><br />
                    <label>
                        <%#Limit(Eval("phone").ToString(), 30)%>
                    </label><br />
                    <label><%#Eval("jobStartDate") %></label>
                </div>
            </div>
        </ItemTemplate>
    </asp:Repeater>*@

