@inject AdminAreaSettings adminAreaSettings
@{
    //page title
    ViewBag.Title = "Banner ";
}

<div class="row">
    <div class="col-md-12">
        <div class="x_panel light form-fit">
            <div class="x_title">
                <div class="caption">
                    <i class="fa fa-comment"></i>
                    @T("Admin.Banner.LIST")
                </div>
                <div class="actions btn-group btn-group-devided">
                    <a href="@Url.Action("Create")" class="btn green"><i class="fa fa-plus"></i><span class="d-none d-sm-inline"> @T("Admin.Common.AddNew") </span></a>
                </div>
            </div>
            <div class="x_content form">
                <div class="form-horizontal">
                    <div class="form-body">
                        <div class="x_content">
                            <div id="blogpost-grid"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#blogpost-grid").kendoGrid({
            dataSource: {
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("List", "Banner"))",
                        type: "POST",
                        dataType: "json",
                        data: addAntiForgeryToken
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors"
                },
                error: function(e) {
                    display_kendoui_grid_error(e);
                    // Cancel the changes
                    this.cancelChanges();
                },
                pageSize: @(adminAreaSettings.DefaultGridPageSize),
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true
            },
            pageable: {
                refresh: true,
                pageSizes: [@(adminAreaSettings.GridPageSizes)]
            },
            editable: {
                confirmation: false,
                mode: "inline"
            },
            scrollable: false,
            columns: [
                {
                    field: "Title",
                    title: "@T("Admin.Banner.Title")",
                    width: 200,
                    template: '<a class="k-link" href="Edit/#=Id#"><i class="fa fa-edit"/>&nbsp#=kendo.htmlEncode((Title == null) ? " ": Title)#</a>',
                    attributes: {
                        style: "text-align: center;"
                    }
                },
                {
                    field: "Description",
                    title: "@T("Admin.Banner.Description")",
                    width: 200,
                    attributes: {
                        style: "text-align: center;"
                    }
                },
                {
                    field: "Id",
                    title: "@T("Admin.Banner.Action")",
                    width: 200,
                    template: '<a class="btn btn-info btn-sm" href="Detail/#=Id#">View Details</a>',
                    attributes: {
                        style: "text-align: center;"
                    }
                },
            ]

        });
    });
</script>