@model MonthlyProgressModel

@{
    ViewBag.Title = "Progress";
}

@inject IWorkContext workContext
@using LIMS.Web.Areas.Admin.Helper

@{
    var roles = workContext.CurrentCustomer.CustomerRoles.Select(m => m.Name).ToList();
}

<style>
    .printContent {
        height: 550px;
        overflow-y: scroll;
    }
</style>
@*<a asp-action="CreateMainKaryakram"><button class="btn btn-primary">@T("Admin.MainProgress")</button></a>
    <a asp-action="CreateNitigatKaryakram"><button class="btn btn-primary">@T("Admin.NitigatProgress")</button></a>
    <a asp-action="Create"><button class="btn btn-outline-danger">@T("Admin.OverallProgress")</button></a>*@

<form method="post">
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel light form-fit">
                <div class="x_title">
                    <div class="actions">

                    </div>
                </div>
                <vc:admin-widget widget-zone="blog_details_buttons" additional-data="null" />
                <div class="x_content form">
                    <div class="form-row">
                        <div class="col-md-12"><i>Note:Choose at least Fiscal year and month to filter out montly progress.</i></div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <admin-label asp-for="FiscalYearId" />
                                <admin-select asp-for="FiscalYearId" asp-items="ViewBag.FiscalYearId" onchange="getPragati()" required="required" />
                                <span asp-validation-for="FiscalYearId"></span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <admin-label asp-for="ExpensesCategory" />
                                <admin-select asp-for="ExpensesCategory" asp-items="ViewBag.ExpensesCategory" onchange="getPragati()" />
                                @* expenses category *@
                                <span asp-validation-for="ExpensesCategory"></span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <admin-label asp-for="ProgramType" />
                                <admin-select asp-for="ProgramType" asp-items="ViewBag.ProgramType" onchange="getPragati()" />
                                @* source of fund *@
                                <span asp-validation-for="ProgramType"></span>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                <admin-label asp-for="Type" />
                                <admin-select asp-for="Type" asp-items="ViewBag.Type" onchange="getPragati()" />
                                @* type of expens *@
                                <span asp-validation-for="Type"></span>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                <admin-label asp-for="Month" />
                                <admin-select asp-for="Month" asp-items="ViewBag.Month" onchange="getPragati()" required="required" />
                                <span asp-validation-for="Month"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="showTable" class="printContent">
                <input class="form-control" type="text" id="myInput" onkeyup="myFunction()" placeholder="Filter" title="Filter name">
                <br />
                <table id="abc" class="table table-bordered">
                    <thead>
                        <tr style="text-align:center">
                            <th>@T("Admin.Budget.ActivityName")</th>
                            <th>@T("Admin.Budget.KarchaSrishak")</th>
                            <th>@T("Admin.Budget.SerialNO")</th>
                            <th>@T("Admin.Budget.VautikPragati")</th>
                            <th>@T("Admin.Budget.BitiyaPragati")</th>
                            <th></th>

                        </tr>
                    </thead>
                    <tbody id="tabularEntry">

                        @if (Model.Pragatis.Count() > 0)
                        {
                            foreach (var item in Model.Pragatis)
                            {
                                <tr id="@item.Id" data-budgetid="@item.BudgetId" data-progressid="@item.Id" data-id="@item.Id" data-upalbdiharu="@item.UpalbdiHaru" data-remarks="@item.Remarks" data-vaukitpragati="@item.VautikPragati" item-bitiyapragati="@item.BitiyaPragati">
                                    <td>
                                        @item.Budget.ActivityName
                                        <input type="hidden" name="BudgetId" value="@item.Budget.BudgetId" />
                                        <input type="hidden" name="ProgressDataId" value="@item.Id" />
                                    </td>
                                    <td>
                                        @item.Budget.KarchaSrishak
                                    </td>
                                    <td>@T(item.Budget.KharchaUpaSirshak) </td>
                                    <td>@item.VautikPragati</td>
                                    <td>@item.BitiyaPragati</td>
                                    <td><button type="button" class="btnUpdate btn btn-primary"><i class="fa fa-edit"></i></button></td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                <div class="modal" id="modalProgress">
                    <input type="hidden" id="hidBudgetId" />
                    <input type="hidden" id="hidProgressId" />
                    <input type="hidden" id="hidMonth" />
                    <input type="hidden" id="hidFiscalYear" />
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>@T("Admin.Budget.VautikPragati")</label>
                            <input type="number" step="001" name="BhautikPragati" id="txtBhautik" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>@T("Admin.Budget.BitiyaPragati")</label>
                            <input type="number" step="001" name="BitiyaPragati" id="txtBitiya" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>@T("Admin.Budget.UpalabdhiHaru")</label>
                            <textarea type="text" rows="4" id="txtUpalabdhiHaru" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>@T("Admin.Budget.Kaifiyat")</label>
                            <textarea type="text" rows="2" id="txtRemarks" class="form-control"></textarea>
                        </div>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-success" id="btnUpdateTable">Submit</button>
                            <button type="button" class="btn btn-danger" id="btnClose" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                    @*<center>
            <input type="submit" class="btn btn-success" />
        </center>*@
                </div>
        </div>
    </div>

</form>
<script>
    $(document).ready(function () {
        var row;

        $("#showTable").hide();
        //getPragati();
          $("#@Html.IdFor(m=>m.ExpensesCategory)").on("change", function () {
            getPragati();
        })

        $("#@Html.IdFor(m=>m.ProgramType)").on("change", function () {
            getPragati();
        })
        $("#@Html.IdFor(m=>m.FiscalYearId)").on("change", function () {
            getPragati();
        })
        $("#@Html.IdFor(m=>m.Type)").on("change", function () {
            getPragati();
        })
         $("#@Html.IdFor(m=>m.Month)").on("change", function () {
            getPragati();
        })

    });
    async function getPragati() {
        expensesCategory = $('#@Html.IdFor(m=>m.ExpensesCategory)').val();
        programType = $('#@Html.IdFor(m=>m.ProgramType)').val(); //sourceOfFund
        type = $('#@Html.IdFor(m=>m.Type)').val(); //chalu, pujigat
        fiscalYear = $('#@Html.IdFor(m=>m.FiscalYearId)').val();
        month = $('#@Html.IdFor(m => m.Month)').val();

        //if (!isEmpty(fiscalYear) && !isEmpty(expensesCategory) && !isEmpty(programType)  && !isEmpty(type)  && !isEmpty(month) ) {
        if (!isEmpty(fiscalYear) && !isEmpty(month)) {

            var data = {
                programType: programType,
                type: type,
                fiscalYear: fiscalYear,
                expensesCategory: expensesCategory,
                month: month
            };
            addAntiForgeryToken(data);
            $.get("@Url.Action("GetBudget", "MonthlyProgress")", data, function (result) {

                $("#tabularEntry").empty();

                if (result.length > 0) {
                    // $("#tabularEntry").empty();

                    $.each(result, function (index, item) {
                        var tableRow = '<tr id="' + item.Id + '" data-budgetid="' + item.BudgetId + '" data-progressid="' + item.Id + '"  data-id="' + item.Id + '" data-upalbdiharu="' + item.UpalbdiHaru + '" data-remarks="' + item.Remarks + '" data-vautikpragati="' + item.VautikPragati + '" data-bitiyapragati="' + item.BitiyaPragati + '">';
                        tableRow += '<td>' + item.Budget.ActivityName + '<input type="hidden" name="BudgetId" value="' + item.BudgetId + '"/><input type="hidden" name="ProgressDataId" value="' + item.Id + '" /></td>';
                        tableRow += '<td>' + item.Budget.KarchaSrishak + '</td>';
                        tableRow += '<td>' + item.Budget.SerialNO + '</td>';

                        tableRow += '<td>' + item.VautikPragati + '</td>';
                        tableRow += '<td>' + item.BitiyaPragati + '</td>';
                        tableRow += '<td><button class="btnUpdate btn btn-primary"><i class="fa fa-edit"></i></button></td>';

                        tableRow += '</tr>';
                        $("#tabularEntry").append(tableRow);
                    });

                    $("#showTable").show();
                }
                else {
                    $("#showTable").hide();
                }
            });
        }

    }

     function getMonthlyData() {
          expensesCategory =  $('#@Html.IdFor(m=>m.ExpensesCategory)').val();
         programType = $('#@Html.IdFor(m=>m.ProgramType)').val();
         type = $('#@Html.IdFor(m=>m.Type)').val();
         fiscalYear = $('#@Html.IdFor(m=>m.FiscalYearId)').val();
         month= $('#@Html.IdFor(m => m.Month)').val();

        if ( fiscalYear != "" && month!="") {

            var data = {
            expensesCategory : $('#@Html.IdFor(m=>m.ExpensesCategory)').val(),
                programType: $('#@Html.IdFor(m=>m.ProgramType)').val(),
                type: $('#@Html.IdFor(m=>m.Type)').val(),
                fiscalYear: $('#@Html.IdFor(m=>m.FiscalYearId)').val(),
                month: $('#@Html.IdFor(m => m.Month)').val(),
            };
            addAntiForgeryToken(data);
            $.post("@Url.Action("GetProgress", "MonthlyProgress")", data, function (result) {
                $("input[type=text]").val('');
                $.each(result, function (index, item) {
                    $('tr#' + item.Budget.Id + ' input[name="ProgressDataId"]').val(item.Id);
                  });
            });
        }
    }


    function myFunction() {
        var input, filter, table, tr, td, i;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("abc");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            td2 = tr[i].getElementsByTagName("td")[1];
            td3 = tr[i].getElementsByTagName("td")[2];

            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1 || td2.innerHTML.toUpperCase().indexOf(filter) > -1 || td3.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                }
                else {
                    tr[0].style.display = "";
                    tr[i].style.display = "none";
                }
            }
        }
    }

    $("body").on("click", "table tbody tr td button.btnUpdate", function (e) {
        e.preventDefault();

        row = $(this).closest("tr");
        var rowId = row.data("id");
        var progressStatus = row.data("upalbdiharu");
        var remarks = row.data("remarks");
        var budgetId = row.data("budgetid");
        var progressId = row.data("progressid");
        var bitiya = row.data("bitiyapragati");
        var vautik = row.data("vautikpragati");
        var fiscalYear = $("#@Html.IdFor(m=>m.FiscalYearId)").val();
        var month = $('#@Html.IdFor(m => m.Month)').val();
        if (typeof month === "string" && month.length === 0) {
            alert("Month is empty");
            e.preventDefault();
        }
        else {

            // Set values in the modal
            $("#txtUpalabdhiHaru").val(progressStatus);
            $("#txtRemarks").val(remarks);
            $("#txtBhautik").val(vautik);
            $("#txtBitiya").val(bitiya);
            $("#hidBudgetId").val(budgetId);
            $("#hidProgressId").val(progressId);
            $("#hidMonth").val(month);
            $("#hidFiscalYear").val(fiscalYear);

            // Show the modal
            var window = $("#modalProgress");
            if (!window.data("kendoWindow")) {
                window.kendoWindow({
                    width: 800,  // Set the width to 400 pixels
                    height: 340, // Set the height to 200 pixels
                    modal: true,
                    title: "@T("Admin.Common.UpdateProgress")",
                    actions: ["Close"]
                });
            }
            window.data('kendoWindow').center().open();
        }

        $("#btnClose").click(function (e) {
            e.preventDefault();


            window.data('kendoWindow').close();
        })

    });
   // $('#example tbody').on('click', 'tr span', function (e) {
        $("body #btnUpdateTable").on('click', function (e) {
            e.preventDefault();

            var updatedProgressStatus = $("#txtUpalabdhiHaru").val();
            var updatedRemarks = $("#txtRemarks").val();
            var updatedVautik = $("#txtBhautik").val();
            var updatedBitiya = $("#txtBitiya").val();
            progressId = $("#hidProgressId").val();
            budgetId = $("#hidBudgetId").val();
            month = $("#hidMonth").val();
            ficalYear = $("#hidFiscalYear").val();

            var data = {
                progressId : progressId,
                budgetId: budgetId,
                fiscalYear: fiscalYear,
                month: month,
                bitiya: updatedBitiya,
                vautik: updatedVautik,
                upalabdhiharu: updatedProgressStatus,
                remarks: updatedRemarks
            };
            addAntiForgeryToken(data);

            if (!isEmpty(updatedBitiya) && !isEmpty(updatedVautik) && !isEmpty(updatedProgressStatus) && !isEmpty(budgetId) && !isEmpty(fiscalYear)) {

                $.post("@Url.Action("UpdateProgress", "MonthlyProgress")", data, function (result) {
                    row.data("upalbdiHaru", updatedProgressStatus);
                    row.data("remarks", updatedRemarks);
                    row.data("bitiyapragati", updatedBitiya);
                    row.data("vautikpragati", updatedVautik);
                    row.data("progressId", result.Id);

                    var tdBitiya = row.find('td:eq(3)');
                    tdBitiya.html(updatedBitiya);

                    var tdVautik = row.find('td:eq(4)');
                    tdVautik.html(updatedVautik);

                    alert("Success: " + result.Message);

                }).fail(function (xhr, status, error) {
                    // Error callback
                    console.log("Error:", xhr.responseJSON || xhr.responseText);

                    // Handle error here, display error messages, etc.
                    var errorMessage = "An error occurred while processing your request.";
                    if (xhr.responseJSON && xhr.responseJSON.Message) {
                        errorMessage = xhr.responseJSON.Message;
                    }
                    alert("Error: " + errorMessage);

                }).always(function () {
                    // This block will be executed no matter if the request was successful or failed.
                    console.log("Request completed.");
                });



            }
    });
</script>
