@model MonthlyProgressModel
@{

    ViewBag.Title = "Livestock";
}
@inject IWorkContext workContext
@using LIMS.Web.Areas.Admin.Helper

@{
    var roles = workContext.CurrentCustomer.CustomerRoles.Select(m => m.Name).ToList();
}
<form method="post">
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel light form-fit">
                <div class="x_title">
                    <div class="actions">
                    </div>
                </div>
                <vc:admin-widget widget-zone="blog_details_buttons" additional-data="null" />
                <div class="x_content form">
                    <div class="form-row">
                       
                        <div class="col-md-2">
                            <div class="form-group">
                                <admin-label asp-for="FiscalYearId" />
                                <admin-select asp-for="FiscalYearId" asp-items="ViewBag.FiscalYearId"  onchange="getMonthlyData()" required="required" />
                                <span asp-validation-for="FiscalYearId"></span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <admin-label asp-for="ProgramType" />
                                <admin-select asp-for="ProgramType" asp-items="ViewBag.ProgramType" onchange="getMonthlyData()" required="required" />
                                <span asp-validation-for="ProgramType"></span>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                <admin-label asp-for="Type" />
                                <admin-select asp-for="Type" asp-items="ViewBag.Type" onchange="getMonthlyData()" />
                                <span asp-validation-for="Type"></span>
                            </div>
                        </div>
                   
                     
                            <div class="form-group">
                                <admin-label asp-for="Month" />
                                <admin-select asp-for="Month" asp-items="ViewBag.Month" onchange="getMonthlyData()" required="required" />
                                <span asp-validation-for="Month"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="showTable">
                    <table class="table table-bordered">
                        <thead>
                            <tr style="text-align:center">
                                <th id="c">@T("Admin.PujigatKharcha.Lmbiscode")</th>
                                <th>@T("Admin.PujigatKharcha.BudgetSirshakNo")</th>
                                <th>@T("Admin.PujigatKharcha.KharchaSrishakNo")</th>
                                <th>@T("Admin.PujigatKharcha.ProgramName")</th>
                                <th>@T("Admin.PujigatKharcha.Budget")</th>
                                @*<th>@T("Admin.PujigatKharcha.BhautikPragati")</th>*@
                                <th>@T("Admin.PujigatKharcha.BitiyaPragati")</th>

                            </tr>
                        </thead>
                        <tbody id="tabularEntry">
                            
                            @if(Model.pujigatKharchaKharakram.Count()>0)
                            {
                                foreach(var item in Model.pujigatKharchaKharakram)
                                {
                                    <tr id="@item.Id">
                                    <td>
                                   @item.Limbis_Code 
                                   <input type="hidden" name="PujigatKharchaId" value="@item.Id"/><input type="hidden" name="ProgressDataId" value="" />
                                    </td>
                                    <td></td>

                                  <td>@item.kharchaCode </td>
                                   <td>
                                        @item.Program
                                       </td>
                                    <td> item.BarsikBajet </td>

                                   @*<td><input type="text" name="BhautikPragati" class="form-control"/></td>*@
                                    <td><input type="text" name="BitiyaPragati" class="form-control"/></td>


                                  </tr>
                                }
                            }
                        </tbody>
                    </table>
                    <center>
                        <input type="submit" class="btn btn-success" />
                    </center>
                </div>
            </div>
        </div>
    
</form>





<script>
    $(document).ready(function () {


        $("#showTable").hide();
          getPragati();
        $("#@Html.IdFor(m=>m.ProgramType)").on("change", function () {

            getPragati();

        })
        $("#@Html.IdFor(m=>m.FiscalYearId)").on("change", function () {

            getPragati();

        })
        $("#@Html.IdFor(m=>m.Type)").on("change", function () {

            getPragati();

        })


    });
    async function getPragati() {

            programType = $('#@Html.IdFor(m=>m.ProgramType)').val();
            type = $('#@Html.IdFor(m=>m.Type)').val();
        fiscalYear = $('#@Html.IdFor(m=>m.FiscalYearId)').val();
                month= $('#@Html.IdFor(m => m.Month)').val();

            if (fiscalYear != null) {
                var data = {
                    programType: programType,
                    type: type,
                    fiscalYear: fiscalYear,

                };
                addAntiForgeryToken(data);
                $.post("@Url.Action("GetPujigatKharcha", "MonthlyProgress")", data, function (result) {

                    if (result.length > 0) {
                        $("#tabularEntry").empty();

                        $.each(result, function (index, item) {
                            var tableRow = '<tr id="' + item.Id + '">';
                            tableRow += '<td>' + item.Limbis_Code + '<input type="hidden" name="PujigatKharchaId" value="' + item.Id + '"/><input type="hidden" name="ProgressDataId" value="" /></td>';
                            tableRow += '<td></td>';
                            tableRow += '<td>' + item.kharchaCode + '</td>';
                            tableRow += '<td>' + item.Program + '</td>';
                            tableRow += '<td>' + item.BarsikBajet + '</td>';
                            //tableRow += '<td><input type="text" name="BhautikPragati" class="form-control"/></td>';
                            tableRow += '<td><input type="text" name="BitiyaPragati" class="form-control"/></td>';


                            tableRow += '</tr>';
                            $("#tabularEntry").append(tableRow);
                        });

                        $("#showTable").show();
                        if (month) {
                            getMonthlyData();
                        }

                    }
                    else {
                        $("#showTable").hide();

                    }
                });

            }


    }
     function getMonthlyData() {

          programType = $('#@Html.IdFor(m=>m.ProgramType)').val();
         type = $('#@Html.IdFor(m=>m.Type)').val();
        fiscalYear = $('#@Html.IdFor(m=>m.FiscalYearId)').val();
        month= $('#@Html.IdFor(m => m.Month)').val();

        if ( fiscalYear != "" && month!="") {

            var data = {
                programType: $('#@Html.IdFor(m=>m.ProgramType)').val(),
                type: $('#@Html.IdFor(m=>m.Type)').val(),
                fiscalYear: $('#@Html.IdFor(m=>m.FiscalYearId)').val(),
                month: $('#@Html.IdFor(m => m.Month)').val(),
            };
            addAntiForgeryToken(data);
            $.post("@Url.Action("GetProgress", "MonthlyProgress")", data, function (result) {
                $("input[type=text]").val('');
                $.each(result, function (index, item) {
                    $('tr#' + item.pujigatKharchaKharakram.Id + ' input[name="ProgressDataId"]').val(item.Id);
                    //$('tr#' + item.pujigatKharchaKharakram.Id + ' input[name="BhautikPragati"]').val(item.VautikPragati);
                    $('tr#' + item.pujigatKharchaKharakram.Id + ' input[name="BitiyaPragati"]').val(item.BitiyaPragati);
                });
            });
        }
        }
</script>
