@model LIMS.Web.Areas.Admin.Models.StatisticalData.LivestockModel
@{

    ViewBag.Title = "Livestock";
}
@inject IWorkContext workContext
@using LIMS.Web.Areas.Admin.Helper

@{
    var roles = workContext.CurrentCustomer.CustomerRoles.Select(m=>m.Name).ToList();
    var district = workContext.CurrentCustomer.OrgAddress;

}
<form method="post">
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel light form-fit">
                <div class="x_title">
                    <div class="actions">
                    </div>
                </div>
                <vc:admin-widget widget-zone="blog_details_buttons" additional-data="null" />
                <div class="x_content form">
                    <div class="form-row">

                        <div class="col-md-2">
                            <div class="form-group">
                                <admin-label asp-for="SpeciesName" />
                                <admin-select asp-for="SpeciesName" asp-items="ViewBag.SpeciesId" id="speciesid" onchange="getLivestockData()" required="required" />
                                <span asp-validation-for="SpeciesName"></span>
                            </div>
                        </div>


                        @*<div class="col-md-2">
                            <div class="form-group">
                                <admin-label asp-for="Provience" />
                                <admin-select asp-for="Provience" data-val="Sudurpashchim Province" id="country" />
                                <span asp-validation-for="Provience"></span>
                            </div>
                        </div>
                        @if (roles.Contains("MolmacAdmin") || roles.Contains("DolfdAdmin") || roles.Contains("AddAdmin"))
                        {
                        <div class="col-md-2">

                            <div class="form-group">
                                <admin-label asp-for="District" />
                                <select name="district" id="district" data-val="@Model.District" class="form-control" required="required">
                                    <option value="">select</option>
                                </select>
                                <span asp-validation-for="District"></span>

                            </div>
                        </div>
                        }
                        else
                        {
                        <div class="col-md-2">

                            <div class="form-group">
                                <admin-label asp-for="District" />
                                <select id="district" data-val="@Model.District" class="form-control" disabled required="required">
                                    <option value="">select</option>
                                </select>
                                <span asp-validation-for="District"></span>

                            </div>
                        </div>
                        <input type="hidden" name="district" value="@Model.District" />
                        }*@
                        <div class="col-md-2">
                            <div class="form-group">
                                <admin-label asp-for="LocalLevel" />
                                <select id="locallevel" name="LocalLevel" asp-items="@ViewBag.LocalLevels" data-val="@Model.LocalLevel" class="form-control" disabled>                                   
                                </select>
                                <span asp-validation-for="LocalLevel"></span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <admin-label asp-for="Ward" />
                                <admin-select asp-for="Ward" asp-items="ViewBag.Ward" onchange="getLivestockData()" required="required" />
                                <span asp-validation-for="Ward"></span>
                            </div>
                        </div>
                        @*@if (roles.Contains(RoleHelper.LssAdmin) || roles.Contains(RoleHelper.LssUser))
        {

        }
        else
        {
            <div class="col-md-2">
                <div class="form-group">
                    <admin-label asp-for="Ward" />
                    <admin-select asp-for="Ward" asp-items="ViewBag.Ward" />
                    <span asp-validation-for="Ward"></span>
                </div>
            </div>
        }*@
                        <div class="col-md-2">
                            <div class="form-group">
                                <admin-label asp-for="FiscalYear" />
                                <admin-select asp-for="FiscalYear" asp-items="ViewBag.FiscalYearId" onchange="getLivestockData()" required="required" />
                                <span asp-validation-for="FiscalYear"></span>
                            </div>
                        </div>

                        @*<div class="col-md-2">
            <div class="form-group">
                <admin-label asp-for="Month" />
                <admin-select asp-for="Month" asp-items="ViewBag.Month" onchange="getLivestockData()" required="required" />
                <span asp-validation-for="Month"></span>
            </div>
        </div>*@
                    </div>
                </div>
                <div id="showTable">
                    <table class="table table-bordered">
                        <thead>
                            <tr style="text-align:center">
                                <th id="c">@T("Admin.Livestock.AgeCategory")</th>
                                <th>@T("Admin.Livestock.Local")</th>
                                <th>@T("Admin.Livestock.Improved")</th>

                            </tr>
                        </thead>
                        <tbody id="tabularEntry">
                        </tbody>
                    </table>
                    <center>
                        <input type="submit" class="btn btn-success" />
                    </center>
                </div>
            </div>
        </div>
    </div>
</form>





<script>
    $(document).ready(function () {


        $("#showTable").hide();

        $("#speciesid").on("change", function () {
            $('#tabularEntry').html('');
            var speciesId = $(this).val();

            if (speciesId != "" || speciesId != undefined) {


                url = "/Admin/AnimalType/GetAnimalType";
                $.getJSON(url, { id: speciesId }, (data) => {
                    $.each(data, function (i, item) {
                        var tableRow = '<tr id="' + item.Id + '">';
                        tableRow += '<td>' + item.Name + '<input type="hidden" name="TypeId" value="' + item.Id + '"/><input type="hidden" name="LivestockDataId" value="" /></td>';
                        tableRow += '<td><input type="number" name="Native" class="form-control" min="1" step="1" /></td>';
                        tableRow += '<td><input type="number" name="Improved" class="form-control" min="1" step="1" /></td>';


                        tableRow += '</tr>';
                        $("#tabularEntry").append(tableRow);
                    });
                    $("#showTable").show();

                });
            }
            else {
                $("#showTable").hide();
            }
        });



    })
    function getLivestockData() {
        var data = {
            species: $('#speciesid').val(),
            fiscalYearId: $('#@Html.IdFor(m => m.FiscalYear)').val(),
            district: $('#district').val(),
            locallevel: $('#locallevel').val(),
            ward: $('#@Html.IdFor(m=>m.Ward)').val(),

        };
        addAntiForgeryToken(data);
        $('input[name = "LivestockDataId"]').val('');
        $('input[name="Native"]').val('');
        $('input[name = "Improved"]').val('');

        if ($('#@Html.IdFor(m => m.FiscalYear)').val()) {
            
            $.post("@Url.Action("GetLivestockData", "Livestock")", data, function (result) {
                $.each(result, function (index, item) {
                    $('tr#' + item.AnimalType.Id + ' input[name="LivestockDataId"]').val(item.Id);
                    $('tr#' + item.AnimalType.Id + ' input[name="Native"]').val(item.Local);
                    $('tr#' + item.AnimalType.Id + ' input[name="Improved"]').val(item.Improved);
                    console.log(item);

                });

            });
        }
    }

</script>
