@inject AdminAreaSettings adminAreaSettings
@model FarmListModel
@{
    //page title
    ViewBag.Title = T("Admin.StatisticalData.Livestock").Text;
}


<form asp-area="@Constants.AreaAdmin" asp-controller="Livestock" asp-action="List" method="post">

    <div class="row">
        <div class="col-md-12">
            <div class="x_panel light form-fit">
                <div class="x_title">
                    <div class="caption">
                        <i class="fa fa-comment"></i>
                        @T("Admin.Livestock.LIST")
                    </div>
                    <div class="actions btn-group btn-group-devided">
                        <a href="@Url.Action("Create")" class="btn green"><i class="fa fa-plus"></i><span class="d-none d-sm-inline"> @T("Admin.Common.AddNew") </span></a>
                    </div>
                </div>
                <div class="x_content form">
                    <div class="form-horizontal">

                        <div class="form-body col-md-12">


                            <div class="col-md-2">
                                <div class="form-group">
                                    <admin-label asp-for="Fiscalyear" />
                                    <admin-select asp-for="Fiscalyear" asp-items="ViewBag.FiscalYearId" required="required" />
                                    <span asp-validation-for="Fiscalyear"></span>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <admin-label asp-for="Species" />
                                    <admin-select asp-for="Species" asp-items="ViewBag.Species" required="required" />
                                    <span asp-validation-for="Species"></span>
                                </div>
                            </div>
                            @*<div class="col-md-2">
            <div class="form-group">
                <admin-label asp-for="Province" />
                <admin-select asp-for="Province" id="country" />
                <span asp-validation-for="Province"></span>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <admin-label asp-for="District" />
                <select id="district" name="District" data-val="@Model.District" class="form-control">
                    <option value="">Select </option>
                </select>
                <span asp-validation-for="District"></span>
            </div>
        </div>*@
                            <div class="col-md-3">
                                <div class="form-group">
                                    <admin-label asp-for="LocalLevel" />
                                    <select asp-for="LocalLevel" asp-items="@ViewBag.LocalLevels" class="form-control" disabled>
                                    </select>
                                    <span asp-validation-for="LocalLevel"></span>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <admin-label asp-for="Ward" />
                                    <select asp-for="Ward" asp-items="ViewBag.Ward" class="form-control">
                                    </select>
                                    <span asp-validation-for="Ward"></span>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <br />
                                    <input type="submit" id="search" class="btn-sm btn-success" style="margin-top:15px;" />
                                </div>
                            </div>



                            <div class="clearfix"></div>
                            <div class="form-actions d-flex flex-column w-100">
                                <div class="row">

                                </div>
                            </div>
                            <div class="x_content">
                                <div id="livestock-grid"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</form>

<script>
    $(document).ready(function () {
        //search button

        $("#search").click( function () {
            //search
            var grid = $('#livestock-grid').data('kendoGrid');
            grid.dataSource.page(1); //new search. Set page size to 1
            //grid.dataSource.read(); we already loaded the grid above using "page" function
            return false;
        });
        $("#livestock-grid").kendoGrid({
            dataSource: {
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("List", "Livestock"))",
                        type: "POST",
                        dataType: "json",
                        data: additionalData
                    },
                    update: {
                        url: "@Html.Raw(Url.Action("UpdateLivestock", "Livestock"))",
                        type: "POST",
                        dataType: "json",
                        data: addAntiForgeryToken,
                        complete: function (response) {
                            $("livestock-grid").data("kendoGrid").dataSource.read();
                        }
                    },
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors",
                    model: {
                        id: "Id",
                        fields: {
                            Id: { editable: false, nullable: true },
                            Native: { editable: true },
                            Improved: { editable: true },
                            "Species.NepaliName": { editable: false },
                            "AnimalType.Name": { editable: false },
                            District: { editable: false },
                            LocalLevel: { editable: false },
                            Ward: { editable: false },

                        }
                    }

                    },
                    error: function (e) {
                        display_kendoui_grid_error(e);

                        this.cancelChanges();
                    },
                    pageSize: @(adminAreaSettings.DefaultGridPageSize),
                    serverPaging: true,
                    serverFiltering: true,
                    serverSorting: true
               
            },
            pageable: {
                refresh: true,
                pageSizes: [@(adminAreaSettings.GridPageSizes)]
            },
            editable: {
                confirmation: false,
                mode: "inline"
            },
            scrollable: false,
            columns: [
                {
                    field: "Species.NepaliName",
                    title: "@T("Admin.Livestock.SpeciesName")",
                    width: 200,
                },

                {
                    field: "AnimalType.Name",
                    title: "@T("Admin.Livestock.AgeCategory")",
                    width: 200,
                },


                @*{
                    field: "District",
                    title: "@T("Admin.Common.District")",
                    width: 200,
                },
                {
                    field: "LocalLevel",
                    title: "@T("Admin.Common.LocalLevel")",
                    width: 200,
                },*@
                 {
                    field: "Ward",
                    title: "@T("Admin.Common.Ward")",
                    width: 200,
                },
                {
                    field: "Local",
                    title: "@T("Admin.Livestock.Native")",
                    width: 200,
                },
                {
                    field: "Improved",
                    title: "@T("Admin.Livestock.Improved")",
                    width: 200,
                },
                {
                    command: [{
                        name: "edit",
                        text: {
                            edit: " ",
                            update: " ",
                            cancel: " "
                        }
                    }
                    ],
                    width: 200
                }
            ]
        });

    });
     function additionalData() {
        var data = {
             fiscalYear: $("#@Html.IdFor(m => m.Fiscalyear)").val(),
            speciesId: $("#@Html.IdFor(m => m.Species)").val(),
              district:$("#district").val(),
            locallevel:$("#locallevel").val(),
             Ward: $("#Ward").val()

        };
        addAntiForgeryToken(data);
        return data;
    }

</script>
