@inject AdminAreaSettings adminAreaSettings
@{
    Layout = LIMS.Web.Areas.Admin.Extensions.Constants.Layout_Website;

}

<div class="row">
    <div class="col-md-12">
        <div class="x_panel light form-fit">
            <div class="x_title">
                <div class="caption">
                    <i class="fa fa-comment"></i>
                    @T("Admin.NewsEvent.LIST")
                </div>
                <div class="actions btn-group btn-group-devided">
                    <a href="@Url.Action("Create")" class="btn green"><i class="fa fa-plus"></i><span class="d-none d-sm-inline"> @T("Admin.Common.AddNew") </span></a>
                </div>
            </div>
            <div class="x_content form">
                <div class="form-horizontal">
                    <div class="form-body">
                        <div class="x_content">
                            <div id="blogpost-grid"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#blogpost-grid").kendoGrid({
            dataSource: {
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("List", "NewsEvent"))",
                        type: "POST",
                        dataType: "json",
                        data: addAntiForgeryToken
                    },
                      destroy: {
                        url: "@Html.Raw(Url.Action("Delete", "NewsEvent"))",
                        type: "POST",
                        dataType: "json",
                        data: addAntiForgeryToken,

                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors",
                    model: {
                        id: "Id",

                    }
                },
                error: function(e) {
                    display_kendoui_grid_error(e);
                    // Cancel the changes
                    this.cancelChanges();
                },
                pageSize: @(adminAreaSettings.DefaultGridPageSize),
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true
            },
            pageable: {
                refresh: true,
                pageSizes: [@(adminAreaSettings.GridPageSizes)]
            },
            editable: {
                confirmation: true,
                mode: "inline"
            },
            scrollable: false,
            columns: [
                {
                    field: "MainMenu",
                    title: "@T("Admin.NewsEvent.Type")",
                    width: 400,
                    template: '<a class="k-link" href="Edit/#=Id#"><i class="fa fa-edit"/>&nbsp#=kendo.htmlEncode((Mainmenu == null) ? " ": Mainmenu.MainMenuName)#</a>',

                },
                 {
                     field: "subMenus.Name",
                    title: "@T("Admin.NewsEvent.SubMenu")",
                     width: 400,
                     template: '#=kendo.htmlEncode((subMenus == null) ? " ": subMenus.Name)#',


                },
                 {
                     field: "subSubMenus.Name",
                    title: "@T("Admin.NewsEvent.SubSubMenu")",
                     width: 400,
                     template: '#=kendo.htmlEncode((subSubMenus == null) ? " ": subSubMenus.SubSubMenuName)#',


                },
                {
                    field: "Title",
                    title: "@T("Admin.NewsEvent.Title")",
                    width: 400,
                },
                {
                field: "IsActive",
                title: "@T("Admin.NewsEvent.IsActive")",
                width: 400,
                },

                    {
                        field: "IsScroll",
                        title: "@T("Admin.NewsEvent.IsScroll")",
                        width: 400,

                    },

                     {
                         command: [
                             {
                        name: "destroy",
                        text: "@T("Admin.Common.Delete")"
                           }


                         ], title: "&nbsp;", width: "350px"
                }],






        });
    });
</script>