@model EmployeeModel
@using LIMS.Website1.Data
@using System.Globalization
@inject IGetLabel _lbl
@{
    var culture = CultureInfo.CurrentCulture.ToString();
    var Designation = _lbl.GetByName("Designation", culture);
}
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="thumbnail text-center">
                    <image src='@Model.Image.PictureUrl' onerror="if (this.src != 'error.jpg') this.src = '~/Dofld/img/user.jpg';"
                           style="height: 200px; width: 220px;" alt=""></image>
                    <br style="height: 1px;" />
                    <label>
                        @Designation @Model.Designation
                    </label>
                    <br />
                    <label>
                        @Model.Name
                    </label><br />
                    <label>
                        @Model.Phone2
                    </label><br />
                    <label>@Model.Status</label>
                </div>
            </div>
        </div>
    </div>
</section>
@*<asp:Repeater ID="repEmployee" runat="server" OnItemCommand="repEmployee_ItemCommand">
        <ItemTemplate>

        </ItemTemplate>
    </asp:Repeater>*@

