@model LIMS.Web.Areas.Admin.Models.Services.VaccinationServiceModel

<form method="post">
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel light form-fit">

                <vc:admin-widget widget-zone="blog_details_buttons" additional-data="null" />

                <div class="x_content form">
                    <div class="form-row">
                        <div class="form-body">

                            <div class="col-md-4">
                                <div class="form-group">
                                    <admin-label asp-for="FarmName" />
                                    <input class="form-control" name="FarmName" id="farm" required="required" />
                                    <input type="hidden" name="FarmId" id="FarmId" value="@Model.FarmId" />
                                    <span asp-validation-for="FarmId"></span>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <admin-label asp-for="MobileNo" />
                                    <admin-input asp-for="MobileNo" />
                                    <span asp-validation-for="MobileNo"></span>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <admin-label asp-for="AnimalName" />
                                    <input class="form-control" name="AnimalName" id="AnimalName" required="required" />
                                    @*<admin-input asp-for="AnimalName" />*@
                                    <input type="hidden" name="AnimalId" id="AnimalId" value="@Model.AnimalId" />
                                    <span asp-validation-for="AnimalName"></span>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <admin-label asp-for="SpeciesId" />
                                    <admin-select asp-for="SpeciesId" asp-items="ViewBag.SpeciesId" />
                                    <span asp-validation-for="SpeciesId"></span>
                                </div>
                            </div>
                            <div class="col-md-2">

                                <div class="form-group">
                                    <admin-label asp-for="BreedId" />
                                    <select name="BreedId" class="form-control" id="breedid">
                                        <option value="">Select</option>
                                    </select>
                                    <span asp-validation-for="BreedId"></span>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <admin-label asp-for="Eartag" />
                                    <admin-input asp-for="Eartag" />
                                    <span asp-validation-for="Eartag"></span>
                                </div>
                            </div>
                            <div class="col-md-3">

                                <div class="form-group">
                                    <admin-label asp-for="VaccinationTypeId" />
                                    <admin-select asp-for="VaccinationTypeId" asp-items="ViewBag.vaccinationId" required="required" />
                                    <span asp-validation-for="VaccinationTypeId"></span>

                                </div>
                            </div>



                            <div class="col-md-2">

                                <div class="form-group">
                                    <admin-label asp-for="VaccinationDate" />
                                    <admin-input asp-for="VaccinationDate" />
                                    <span asp-validation-for="VaccinationDate"></span>

                                </div>
                            </div>
                            <div class="col-md-2">

                                <div class="form-group">
                                    <admin-label asp-for="VaccinationForDisease" />
                                    <admin-select asp-for="VaccinationForDisease" asp-items="ViewBag.DiseaseId" required="required" />
                                    <span asp-validation-for="VaccinationForDisease"></span>

                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group ">
                                    <admin-label asp-for="FiscalYearId" />
                                    <admin-select asp-for="FiscalYearId" asp-items="ViewBag.FiscalYearId" class="form-control" required="required" />
                                    <span asp-validation-for="FiscalYearId"></span>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group ">
                                    <admin-label asp-for="ServiceProviderId" />
                                    <input asp-for="ServiceProviderId" class="form-control form-rounded" />
                                    <span asp-validation-for="ServiceProviderId"></span>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="btn-group btn-group-devided">
                                    <button class="btn btn-success" type="submit" name="save" style="font-size:13px;"><i class="fa fa-check"></i> @T("Admin.Common.Save") </button>
                                    <button class="btn btn-success" type="submit" name="save-continue" style="font-size:13px;"><i class="fa fa-check-circle"></i> @T("Admin.Common.SaveContinue") </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
  $(document).ready(function () {
        $("#farm").kendoAutoComplete({
            dataTextField: "NameEnglish",
            filter: "contains",
            minLength: 3,
            dataSource: {
                type: "json",
                // serverFiltering: true,
                transport: {
                    read: {
                        url: "@Url.Action("SearchFarmAutoComplete", "Farm")",
                        data: onFarmAdditionalData,


                        },
                },
                              pageSize: 5

                        },
                        select: onFarmSelect,
                        filtering: onFarmFiltering,
                        });
                        function onFarmAdditionalData() {
                        return {
                        term: $("#farm").val()
                        };
                        }
                        function onFarmSelect(e) {
                        $('#FarmId').val(e.dataItem.Id);
                        $('#MobileNo').val(e.dataItem.MobileNo);
                        $("#AnimalName").kendoAutoComplete({
                        dataTextField: "Name",
                        filter: "contains",
                        minLength: 3,
                        dataSource: {
                        type: "json",
                        // serverFiltering: true,
                        transport: {
                        read: {
                        type: 'GET',
                        url: "@Url.Action("SearchAnimalAutoComplete", "AnimalRegistration")",
                        data: onAnimalAdditionalData,
                        },
                        },
                        pageSize: 5
                        },
                        select: onAnimalSelect,
                        filtering: onAnimalFiltering,
                        });
                        // console.log(e.dataItem);
                        }

                        function onFarmFiltering() {
                        $('#FarmId').val('');
                        $('#MobileNo').val('');
                        }

                        function onAnimalAdditionalData() {
                        return {
                        term: $("#AnimalName").val(),
                        farm: $("#FarmId").val()
                        };
                        }

                        function onAnimalSelect(e) {
                        $('#AnimalId').val(e.dataItem.Id);
                        $('#SpeciesId').val(e.dataItem.SpeciesId);
                        if (e.dataItem.SpeciesId) {
                        $("#breedid").empty();
                        $("#breedid").append("<option value=''>Select</option>");
                        url = "/Admin/Prototype/getBreed";
                        $.getJSON(url, { id: e.dataItem.SpeciesId }, (data) => {
                        $.each(data, function (i, item) {
                        $("#breedid").append(`<option value="${item.Id}">${item.EnglishName}</option>`);
                        });
                        $('#breedid').val(e.dataItem.BreedId);
                        });
                        }
                        $('#Eartag').val(e.dataItem.EarTagNo);
                        console.log(e.dataItem);
                        }

                        function onAnimalFiltering() {
                        $('#AnimalId').val('');
                        $('#SpeciesId').val('');
                        $('#Eartag').val('');
                        $("#breedid").val();
                        }
  });
</script>
