@inject AdminAreaSettings adminAreaSettings
@{
    //page title
    ViewBag.Title = "Farmer";
}
@model FarmListModel
<div class="row">
    <div class="col-md-12">
        <div class="x_panel light form-fit">
            <div class="x_title">
                <div class="caption">
                    <i class="fa fa-comment"></i>
                    @T("Admin.Farmer.LIST")
                </div>
                @*<div class="actions btn-group btn-group-devided">
                        <a href="@Url.Action("Create")" class="btn green"><i class="fa fa-plus"></i><span class="d-none d-sm-inline"> @T("Admin.Common.AddNew") </span></a>
                    </div>*@
            </div>
            <div class="x_content form">
                <div class="form-row">                 
                              
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <admin-label asp-for="Fiscalyear" />
                                        <admin-select asp-for="Fiscalyear" asp-items="ViewBag.FiscalYearId">
                                        </admin-select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <admin-label asp-for="BudgetId" />

                                        <select asp-for="BudgetId" class="form-control" required="required"></select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <admin-label asp-for="TalimId" />

                                        <select asp-for="TalimId" class="form-control" required="required"></select>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="form-group">
                                        <admin-label asp-for="LocalLevel" />

                                        <select asp-for="@Model.LocalLevel" asp-items="@ViewBag.LocalLevels" class="form-control" required="required" disabled>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-2" style="padding-top:20px;">
                                    <button class="btn btn-success filter-submit" id="search-bali" style="font-size: 13px!important;">
                                        <i class="fa fa-search"></i> @T("admin.common.search")
                                    </button>
                                </div>
                            </div>
                            <div class="form-group">

                            </div>
                        </div>

                        <div class="x_content">
                            <div id="bali-grid"></div>
                        </div>
                    </div>
                </div>
            </div>
       
<script src="https://kendo.cdn.telerik.com/2021.1.330/js/pako_deflate.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://kendo.cdn.telerik.com/2020.1.406/js/jszip.min.js"></script>
<script src="https://kendo.cdn.telerik.com/2020.1.406/js/kendo.all.min.js"></script>

<script>
    $(document).ready(function () {

        var fiscalyear = $("#@Html.IdFor(m=>m.Fiscalyear)").val();
        var budgetId = $("#@Html.IdFor(m=>m.BudgetId)").val();

        datas = {
            fiscalyear: fiscalyear,
            budgetId: budgetId
        }


         if (fiscalyear) {
            var a = $("#@Html.IdFor(m=>m.BudgetId)").data('val');
                 $("#@Html.IdFor(m=>m.BudgetId)").empty();
                 $("#@Html.IdFor(m=>m.BudgetId)").append(`<option value="">Select</option>`);

                 url = "/Admin/LabambitKrishak/GetBudget";
                 $.getJSON(url, datas, function (result) {
                     $.each(result, function (i, item) {
                         if (a == item.Id) {
                             $("#@Html.IdFor(m=>m.BudgetId)").append(`<option value="${item.Id}" selected>${item.ActivityName}</option>`);
                         }
                         else {
                             $("#@Html.IdFor(m=>m.BudgetId)").append(`<option value="${item.Id}">${item.ActivityName}</option>`);
                         }
                         });
                 })
        }

        if (budgetId) {
            var a = $("#@Html.IdFor(m=>m.TalimId)").data('val');
                 $("#@Html.IdFor(m=>m.TalimId)").empty();
                 $("#@Html.IdFor(m=>m.TalimId)").append(`<option value="">Select</option>`);

                 url = "/Admin/LabambitKrishak/GetTrainingProgram";
                 $.getJSON(url, datas, function (result) {
                     $.each(result, function (i, item) {
                         if (a == item.Id) {
                             $("#@Html.IdFor(m=>m.TalimId)").append(`<option value="${item.Id}" selected>${item.NameNepali}</option>`);
                         }
                         else {
                             $("#@Html.IdFor(m=>m.TalimId)").append(`<option value="${item.Id}">${item.NameNepali}</option>`);
                         }
                         });
                 })
        }


        $("#@Html.IdFor(m=>m.Fiscalyear)").change(function () {
            fiscalyear = $(this).val();
            data = {
                fiscalyear: fiscalyear,
                budgetId: $("#@Html.IdFor(m=>m.BudgetId)").val()
            }

             if (fiscalyear) {
                 $("#@Html.IdFor(m=>m.BudgetId)").empty();
                 $("#@Html.IdFor(m=>m.BudgetId)").append(`<option value="">Select</option>`);

                 url = "/Admin/LabambitKrishak/GetBudget";
                 $.getJSON(url, data, function (result) {
                     $.each(result, function (i, item) {
                         $("#@Html.IdFor(m=>m.BudgetId)").append(`<option value="${item.Id}">${item.ActivityName}</option>`);
                     });
                 })
            }
        });

    $("#@Html.IdFor(m=>m.BudgetId)").change(function () {
        budgetId = $(this).val();
        data = {
           fiscalyear:$("#@Html.IdFor(m=>m.Fiscalyear)").val(),
            budgetId:$("#@Html.IdFor(m=>m.BudgetId)").val()
        }

        if (budgetId) {
                 $("#@Html.IdFor(m=>m.TalimId)").empty();
                 $("#@Html.IdFor(m=>m.TalimId)").append(`<option value="">Select</option>`);

            url = "/Admin/LabambitKrishak/GetTrainingProgram";
                 $.getJSON(url, data, function (result) {
                     $.each(result, function (i, item) {
                         $("#@Html.IdFor(m=>m.TalimId)").append(`<option value="${item.Id}">${item.NameNepali}</option>`);
                     });
                 })
            }
    });


        $('#search-bali').click(function () {
            //search
            var grid = $('#bali-grid').data('kendoGrid');
            grid.dataSource.page(1); //new search. Set page size to 1
            //grid.dataSource.read(); we already loaded the grid above using "page" function
            return false;
        });

        $("#bali-grid").kendoGrid({
            toolbar:["excel"],
            dataSource: {
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("kirshakReport", "Farmer"))",
                        type: "POST",
                        dataType: "json",
                        data: additionalData
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors"
                },
                error: function(e) {
                    display_kendoui_grid_error(e);
                    // Cancel the changes
                    this.cancelChanges();
                },
                pageSize: @(adminAreaSettings.DefaultGridPageSize),
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true
            },
            pageable: {
                refresh: true,
                pageSizes: [@(adminAreaSettings.GridPageSizes)]
            },
            editable: {
                confirmation: false,
                mode: "inline"
            },
            scrollable: false,
            columns: [
                {
                    field: "Name",
                    title: "@T("Admin.Farmer.Name")",
                    width: 400,

                },
                 {
                    field: "LocalLevel",
                    title: "@T("Admin.Farmer.LocalLevel")",
                    width: 400,

                },
                     {
                        field: "Address",
                        title: "@T("Admin.Farmer.Address")",
                        width: 400,


                },
                      {
                        field: "WardNo",
                        title: "@T("Admin.Common.WardNo")",
                        width: 400,


                },
                       {
                        field: "Phone",
                        title: "@T("Admin.Farmer.Phone")",
                        width: 400,


                },
                      {
                          field: "Talim.NameEnglish",
                        title: "@T("Admin.Farmer.TalimName")",
                        width: 400,

                },
                       {
                          field: "Talim.StartDate",
                        title: "@T("Admin.Farmer.StartDate")",
                           width: 400,
                           template: "#= kendo.toString(kendo.parseDate(Talim.StartDate), 'dd/MM/yyyy') #"


                },
                        {
                          field: "Talim.EndDate",
                        title: "@T("Admin.Farmer.EndDate")",
                            width: 400,
                            template: "#= kendo.toString(kendo.parseDate(Talim.EndDate), 'dd/MM/yyyy') #"


                },
                         {
                             field: "Duration",
                        title: "@T("Admin.Farmer.Duration")",
                        width: 400,

                },
                          {
                             field: "Male",
                        title: "@T("Admin.Common.Male")",
                        width: 400,

                },
                           {
                             field: "FeMale",
                        title: "@T("Admin.Common.Female")",
                        width: 400,

                },
                             {
                             field: "Dalit",
                        title: "@T("Admin.Common.Dalit")",
                        width: 400,

                },

                             {
                             field: "Janajati",
                        title: "@T("Admin.Common.Janajati")",
                        width: 400,

                },
                              {
                             field: "Others",
                        title: "@T("Admin.Common.Anya")",
                        width: 400,

                },
                         {
                          field: "Remarks",
                        title: "@T("Admin.Farmer.Remarks")",
                        width: 400,

                },

                         @*{
                             field: "Lagat",
                        title: "@T("Admin.Farmer.Lagat")",
                        width: 400,

                },*@







            ]

        });
    });

    function additionalData() {
        var data = {
            //keyword: $('#@Html.FieldIdFor(model => model.Fiscalyear)').val(),
            fiscalyear: $('#@Html.FieldIdFor(model => model.Fiscalyear)').val(),
            budgetId: $('#@Html.FieldIdFor(model => model.BudgetId)').val(),
            talimId: $('#@Html.FieldIdFor(model => model.TalimId)').val(),
            localLevel: $('#@Html.FieldIdFor(model => model.LocalLevel)').val()
        };
        addAntiForgeryToken(data);
        return data;
    }
</script>