@model LIMS.Web.Areas.Admin.Models.Breed.AnimalTypeModel
@{
    //page title
    ViewBag.Title = "";
}
<form asp-area="@Constants.AreaAdmin" asp-controller="AnimalType" asp-action="Edit" method="post">

    <div class="row">
        <div class="col-md-12">
            <div class="x_panel light form-fit">
                <div class="x_title">
                    <div class="caption">
                        <i class="fa fa-comment"></i>
                        @T("Admin.AnimalType.Edit")
                        <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink("Back To list", "List")</small>
                    </div>
                    <div class="actions">
                        <div class="btn-group btn-group-devided">
                            <button class="btn btn-success" type="submit" name="save"><i class="fa fa-check"></i> @T("Admin.Common.Save") </button>
                            <button class="btn btn-success" type="submit" name="save-continue"><i class="fa fa-check-circle"></i> @T("Admin.Common.SaveContinue") </button>
                        </div>
                    </div>
                </div>
                <vc:admin-widget widget-zone="blog_details_buttons" additional-data="null" />
                <div class="x_content form">
                    <partial name="_CreateOrUpdate" model="Model" />
                </div>





            </div>
        </div>
    </div>
</form>
