@model List<MainMenuModel>
@using LIMS.Website1.Data
@inject IGetResource getResource
<nav class="nav-main">
    <ul id="topMain" class="nav nav-pills nav-main">
        <li> <a asp-action="Index" asp-controller="Home" class="active">@getResource.GetByName("fHome")</a></li>
        <li class="dropdown">
            <!-- about us -->
            <a class="dropdown-toggle" href="#">@getResource.GetByName("AboutUs")</a>
            <ul class="dropdown-menu">
                <li><a asp-action="Index" asp-controller="PageContent" asp-route-pageName="Introduction">Introduction</a></li>
                <li><a asp-action="Index" asp-controller="Employee">Staff & Officials</a></li>
                <li><a asp-action="Index" asp-controller="PageContent" asp-route-pageName="Organogram">Organogram</a></li>
            </ul>
        </li>


        <li class="dropdown">
            <!-- about us -->
            <a class="dropdown-toggle" href="#">@getResource.GetByName("ActsRegulation")</a>
            <ul class="dropdown-menu">
                <li><a asp-action="Index" asp-controller="NewsEvent" asp-route-type="Rules & Regulation">Rules & Regulation</a></li>
                <li><a asp-action="Index" asp-controller="NewsEvent" asp-route-type="Directives">Directives</a></li>
                <li><a asp-action="Index" asp-controller="NewsEvent" asp-route-type="Act & Policies">Act & Policies</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <!-- about us -->
            <a class="dropdown-toggle" href="#">@getResource.GetByName("Download")</a>
            <ul class="dropdown-menu">
                <li><a asp-action="Index" asp-controller="NewsEvent" asp-route-type="Reports">Reports</a></li>
                <li><a asp-action="Index" asp-controller="NewsEvent" asp-route-type="Other Files">Other Files</a></li>
                <li><a asp-action="Index" asp-controller="NewsEvent" asp-route-type="Act & Policies">Act & Policies</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <!-- about us -->
            <a class="dropdown-toggle" href="#">@getResource.GetByName("NewsEvent")</a>
            <ul class="dropdown-menu">
                <li><a asp-action="Index" asp-controller="NewsEvent" asp-route-type="News">News</a></li>
                <li><a asp-action="Index" asp-controller="NewsEvent" asp-route-type="Event">Event</a></li>
            </ul>
        </li>
        <!--<li class="dropdown">-->
            <!-- about us -->
            <!--<a class="dropdown-toggle" href="#">Publication</a>
            <ul class="dropdown-menu">
                <li><a asp-action="Index" asp-controller="NewsEvent" asp-route-type="">News</a></li>
                <li><a asp-action="Index" asp-controller="NewsEvent" asp-route-type="Event">Event</a></li>
            </ul>
        </li>-->
        <li> <a asp-action="Index" asp-controller="Gallery">@getResource.GetByName("Gallery")</a></li>
        <li> <a asp-action="ContactUs" asp-controller="Home">@getResource.GetByName("ContactDetail")</a></li>




    </ul>



</nav>


