@inject AdminAreaSettings adminAreaSettings
<div class="x_content">
    <div id="animal-grid"></div>
</div>

<script>
    $(document).ready(function () {
        $("#animal-grid").kendoGrid({
            dataSource: {
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("List", "AnimalBreeding"))",
                        type: "POST",
                        dataType: "json",
                        data: addAntiForgeryToken
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors"
                },
                error: function(e) {
                    display_kendoui_grid_error(e);
                    // Cancel the changes
                    this.cancelChanges();
                },
                pageSize: @(adminAreaSettings.DefaultGridPageSize),
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true
            },
            pageable: {
                refresh: true,
                pageSizes: [@(adminAreaSettings.GridPageSizes)]
            },
            editable: {
                confirmation: false,
                mode: "inline"
            },
            scrollable: false,
            columns: [

                {
                    field: "Species.EnglishName",
                    title: "@T("Admin.AnimalRegistration.SpeciesId")",
                    width: 300,

                },
                {
                    field: "Name",
                    title: "@T("Admin.AnimalRegistration.Name")",
                    width: 300,
                },
                {
                    field: "EarTagNo",
                    title: "@T("Admin.AnimalRegistration.EarTagNo")",
                    width: 300,
                },
                 {
                    field: "farm.NameEnglish",
                    title: "@T("Admin.AnimalRegistration.FarmName")",
                    width: 300,
                },
                   {
                    field: "farm.Category",
                    title: "@T("Admin.farm.Category")",
                    width: 300,
                },
                {
                    field: "Id",
                    title: "Action",
                    width: 200,
                    template: '<a class="k-button k-button-icontext" href="Create?FarmId=#=Id#">Select animal</a>'
                },




            ]

        });

    });
</script>