@inject AdminAreaSettings adminAreaSettings
@{
    Layout = LIMS.Web.Areas.Admin.Extensions.Constants.Layout_Website;

}

<div class="row">
    <div class="col-md-12">
        <div class="x_panel light form-fit">
            <div class="x_title">
                <div class="caption">
                    <i class="fa fa-comment"></i>
                    @T("Admin.SubSubMenu.LIST")
                </div>
                <div class="actions btn-group btn-group-devided">
                    <a href="@Url.Action("Create")" class="btn green"><i class="fa fa-plus"></i><span class="d-none d-sm-inline"> @T("Admin.Common.AddNew") </span></a>
                </div>
            </div>
            <div class="x_content form">
                <div class="form-horizontal">
                    <div class="form-body">
                        <div class="x_content">
                            <div id="blogpost-grid"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#blogpost-grid").kendoGrid({
            dataSource: {
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("List", "SubSubMenu"))",
                        type: "POST",
                        dataType: "json",
                        data: addAntiForgeryToken
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors"
                },
                error: function(e) {
                    display_kendoui_grid_error(e);
                    // Cancel the changes
                    this.cancelChanges();
                },
                pageSize: @(adminAreaSettings.DefaultGridPageSize),
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true
            },
            pageable: {
                refresh: true,
                pageSizes: [@(adminAreaSettings.GridPageSizes)]
            },
            editable: {
                confirmation: false,
                mode: "inline"
            },
            scrollable: false,
            columns: [
                @*{
                    field: "SubMenu.MainMenu.MainMenuName",
                    title: "@T("Admin.MainMenu.MainMenuName")",
                    width: 400,
                    template: '<a class="k-link" href="Edit/#=Id#"><i class="fa fa-edit"/>&nbsp#=kendo.htmlEncode((SubMenu.MainMenu.MainMenuName == null) ? " ": SubMenu.MainMenu.MainMenuName)#</a>',

                },
                {
                    field: "SubMenu.Name",
                    title: "@T("Admin.SubMenu.Name")",
                    width: 400,
                },*@
                {
                field: "SubSubMenuName",
                title: "@T("Admin.SubSubMenu.SubSubMenuName")",
                    width: 400,
                    template: '<a class="k-link" href="Edit/#=Id#"><i class="fa fa-edit"/>&nbsp#=kendo.htmlEncode((SubSubMenuName == null) ? " ":SubSubMenuName)#</a>',
                },
                 {
                     field: "SubSubMenuNameNepali",
                title: "@T("Admin.SubSubMenu.SubSubMenuNameNepali")",
                    width: 400,
                },

                {
                field: "Url",
                title: "@T("Admin.SubSubMenu.Url")",
                width: 400,
                },

                    {
                        field: "IsActive",
                        title: "@T("Admin.SubSubMenu.IsActive")",
                        width: 400,

                    },




            ]

        });
    });
</script>