@inject IWebHelper webHelper
@inject IWorkContext workContext
@inject IPermissionService permissionService
@inject CommonSettings commonSettings
@inject CustomerSettings customerSettings
@inject LocalizationSettings localizationSettings
@inject AdminAreaSettings adminAreaSettings
@inject LIMS.Core.Configuration.LIMSConfig LIMSConfig
@inject IPageHeadBuilder pagebuilder

@using System.Text.Encodings.Web
@using LIMS.Domain.Customers
@using LIMS.Framework.UI;
@using LIMS.Core;
@using LIMS.Domain.Localization
@using LIMS.Services.Security;
@using LIMS.Domain.Common;
@{
    var currentCustomer = workContext.CurrentCustomer;
    var usernamesEnabled = customerSettings.UsernamesEnabled;
    var currentVersion = LIMS.Core.LIMSVersion.FullVersion;
    var kendoVersion = "2019.2.514";
    var supportRtl = workContext.WorkingLanguage.Rtl &&
        !localizationSettings.IgnoreRtlPropertyForAdminArea;

    //CSS
    if (supportRtl)
    {
        pagebuilder.AppendCssFileParts(ResourceLocation.Head, string.Format("~/content/kendo/{0}/kendo.rtl.min.css", kendoVersion), excludeFromBundle: true);
        pagebuilder.AppendCssFileParts(ResourceLocation.Head, "~/administration/build/css/custom-rtl.css", excludeFromBundle: true);
        pagebuilder.AppendCssFileParts(ResourceLocation.Head, "~/administration/bootstrap/css/bootstrap-rtl.min.css", excludeFromBundle: true);
    }
    else
    {
        pagebuilder.AppendCssFileParts(ResourceLocation.Head, "~/administration/build/css/custom.css", excludeFromBundle: true);
    }
    pagebuilder.AppendCssFileParts(ResourceLocation.Head, "~/administration/build/css/site-common.css", excludeFromBundle: true);

    pagebuilder.AppendCssFileParts(ResourceLocation.Head, string.Format("~/content/kendo/{0}/kendo.common-material.min.css", kendoVersion), excludeFromBundle: true);
    pagebuilder.AppendCssFileParts(ResourceLocation.Head, $"~/content/kendo/{kendoVersion}/kendo.material.min.css", excludeFromBundle: true);
    pagebuilder.AppendCssFileParts(ResourceLocation.Head, $"~/content/kendo/{kendoVersion}/kendo.material.mobile.min.css", excludeFromBundle: true);
    pagebuilder.AppendCssFileParts(ResourceLocation.Head, "~/content/jquery-ui-themes/smoothness/jquery-ui-1.10.3.custom.min.css", excludeFromBundle: true);
    pagebuilder.AddScriptParts(location: ResourceLocation.Footer, src: "~/content/tinymce/tinymce.min.js", excludeFromBundle: true);

    //administration

    pagebuilder.AppendScriptParts(location: ResourceLocation.Footer, src: "~/administration/build/js/custom.js", excludeFromBundle: true);
    pagebuilder.AppendScriptParts(location: ResourceLocation.Footer, src: "~/administration/build/js/smartresize.js", excludeFromBundle: true);

    //vendors

    pagebuilder.AppendScriptParts(location: ResourceLocation.Footer, src: "~/administration/bootstrap/js/bootstrap.min.js", excludeFromBundle: true);
    pagebuilder.AppendScriptParts(location: ResourceLocation.Footer, src: "~/administration/bootstrap/js/popper.min.js", excludeFromBundle: true);
    pagebuilder.AppendCssFileParts(ResourceLocation.Head, "~/administration/bootstrap/css/bootstrap.min.css", excludeFromBundle: true);


    //js
    //available list of culture https://github.com/telerik/kendo-ui-core/tree/master/src/cultures
    pagebuilder.AppendScriptParts(ResourceLocation.Head, string.Format("~/scripts/kendo/{0}/cultures/kendo.culture.{1}.min.js", kendoVersion, "en-US"), excludeFromBundle: true);
    pagebuilder.AppendScriptParts(ResourceLocation.Head, string.Format("~/scripts/kendo/{0}/kendo.grid.js", kendoVersion), excludeFromBundle: true);
    pagebuilder.AppendScriptParts(ResourceLocation.Head, string.Format("~/scripts/kendo/{0}/kendo.ui.core.min.js", kendoVersion), excludeFromBundle: true);
    pagebuilder.AppendScriptParts(ResourceLocation.Head, "~/scripts/admin.common.js", excludeFromBundle: true);
    pagebuilder.AppendScriptParts(ResourceLocation.Head, "~/scripts/jquery-ui-1.12.1.custom/jquery-ui.min.js", excludeFromBundle: true);
    pagebuilder.AppendScriptParts(ResourceLocation.Head, "~/scripts/jquery.validate.unobtrusive.min.js", excludeFromBundle: true);
    pagebuilder.AppendScriptParts(ResourceLocation.Head, "~/scripts/jquery.validate.min.js", excludeFromBundle: true);
    pagebuilder.AppendScriptParts(ResourceLocation.Head, "~/scripts/admin.search.js", excludeFromBundle: true);
    pagebuilder.AppendScriptParts(ResourceLocation.Head, "~/scripts/typeahead.js", excludeFromBundle: true);

    pagebuilder.AppendCssFileParts(ResourceLocation.Head, "~/administration/simple-line-icons/simple-line-icons.min.css", excludeFromBundle: true);
    pagebuilder.AppendCssFileParts(ResourceLocation.Head, "~/administration/build/css/font-awesome.min.css", excludeFromBundle: true);
    pagebuilder.AppendScriptParts(ResourceLocation.Head, "~/administration/bootstrap/js/daterangepicker.min.js", excludeFromBundle: true);
    pagebuilder.AppendCssFileParts(ResourceLocation.Head, "~/administration/bootstrap/css/daterangepicker.min.css", excludeFromBundle: true);
    pagebuilder.AppendScriptParts(ResourceLocation.Head, "~/administration/build/js/moment.min.js", excludeFromBundle: true);
    pagebuilder.AppendScriptParts(ResourceLocation.Head, "~/administration/build/js/jquery.min.js", excludeFromBundle: true);

    //page title
    string adminPageTitle = "";
    if (!String.IsNullOrWhiteSpace(ViewBag.Title))
    {
        adminPageTitle = ViewBag.Title + " / ";
    }
    adminPageTitle += T("Admin.PageTitle").Text;

    //has "Manage enance" permission?
    var canManageMaintenance = await permissionService.Authorize(StandardPermissionProvider.ManageMaintenance);
    var crop = await permissionService.Authorize(StandardPermissionProvider.AccessCropProduction);
    var livestock = await permissionService.Authorize(StandardPermissionProvider.LivestockData);
    var mastersetup = await permissionService.Authorize(StandardPermissionProvider.AccessMasterSetup);
    var subsidy = await permissionService.Authorize(StandardPermissionProvider.AccessSubsidyRegister);
    var roles = workContext.CurrentCustomer.CustomerRoles.Select(m => m.Name).ToList();
}


<!DOCTYPE html>
<html @if (supportRtl) { <text> dir="rtl" </text> } onloadstart="myFunction()">
<head>
    <title>@adminPageTitle</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <head-custom>
        <css-files asp-location="Head" bundle-files="false">
            <script-files asp-location="Head" bundle-files="false">
</head>
<body>
    @Html.AntiForgeryToken()
    <script>
        if (document.readyState == "loading") {
            let value = localStorage.getItem("sideBarCookie");
            if (value == "true") {
                $('body').removeClass('nav-md');
                $('body').addClass('nav-sm');
                $(".site_title").css("padding-left", "26px");
                if ($('body').hasClass('nav-sm')) {
                    $('#sidebar-menu').find('li.active').addClass('active-sm').removeClass('active');
                    $('#sidebar-menu').find('li.active-sm ul').hide();
                }
            }
            else {
                $('body').removeClass('nav-sm');
                $('body').addClass('nav-md');
                $(".site_title").css("padding-left", "0px");
                $('#sidebar-menu').find('li.active-sm').addClass('active').removeClass('active-sm');
                $('#sidebar-menu').find('li.active > ul').show();
            }
        }
        function isEmpty(value) {
            return (value == null || (typeof value === "string" && value.trim().length === 0));
        }

    </script>
    <style>
        .k-grid .k-grid-header .k-header {
            padding: .929em 1.286em;
            font-weight: 500;
            white-space: normal;
            text-align: center !important;
        }

        .table td, .table th {
            padding: 0.5rem !important;
        }

        @@media(min-width: 1100px) {
            #menu_toggle {
                display: none;
            }

            .column {
                float: left;
                padding: 5px;
            }
        }
    </style>



    @*<style type="text/css">
            ul.dropdown-ul {
                display: none;
                position: absolute;
                background: #404040;
                margin-left: -8px;
            }

                ul.dropdown-ul.active {
                    display: block;
                }

                ul.dropdown-ul li {
                    float: none;
                    margin: 0;
                }
            ul li:hover > ul,
            ul li ul:hover
            {
                visibility: visible;
                opacity: 1;
                display: block;
            }
            ul li > ul.dropdown-ul,
            ul li ul.dropdown-ul {
                text-align: left;
                margin-top: 0;
                box-shadow: none;
                border: #eee 1px solid;
                border-top: #eee 1px solid;
                list-style: none;
                background: Color:#FFF;
                background-color: Color:#FFF;
                -webkit-box-shadow: rgb(0 0 0 / 20%) 0 6px 12px !important;
                box-shadow: rgb(0 0 0 / 20%) 0 6px 12px !important;
                min-width: 200px;
                padding: 0;
                border-color: #1ABC9C Color:#FFF Color:#FFF;
                -webkit-transition: top .4s ease;
                -o-transition: top .4s ease;
                transition: top .4s ease;
                -webkit-border-radius: 0;
                -moz-border-radius: 0;
                border-radius: 0;
                z-index:10;
            }



             ul.dropdown-ul {
                border-color: #296BC2 Color:#FFF Color:#FFF;
            }





        </style>*@


    @*<script type="text/javascript">
            $('#Gen').on('mouseenter', function () {
                $('.dropdown-ul').addClass('active');
            });
            $('#Gen').on('mouseleave', function () {
                $('.dropdown-ul').removeClass('active');
            });
        </script>*@
    <div class="container body">
        <div class="main_container">

            <vc:admin-widget widget-zone="admin_header_before" additional-data="null" />
            @if (IsSectionDefined("statusbar"))
            {
                @RenderSection("statusbar")
            }
            @if (IsSectionDefined("header"))
            {
                @RenderSection("header")
            }
            else
            {
                <vc:admin-widget widget-zone="header_before" additional-data="null" />
                <div class="top_nav">
                    <div class="nav_menu">
                        <nav>


                            <div class="nav toggle">
                                <a id="menu_toggle">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </a>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="column">
                                        <div>
                                            <a href="~/Admin"><img src="~/administration/build/images/LIMSLogo.png" width="90px" height="90px" /></a>
                                        </div>
                                    </div>
                                    <div class="column">
                                        <div style="float:left; margin-top:10px;">
                                            Governmernt of Nepal<br />
                                            @if (!String.IsNullOrEmpty(currentCustomer.OrgName))
                                            {
                                                <b>  @(currentCustomer.OrgName)</b>
                                            }
                                            <br />
                                            @if (!String.IsNullOrEmpty(currentCustomer.OrgAddress))
                                            {
                                                @(currentCustomer.OrgAddress)
                                            }
                                        </div>
                                    </div>
                                </div>

                                @*<vc:admin-widget widget-zone="header_toggle_after" additional-data="null" />*@
                                <div class="col-md-4 text-center">
                                    @*<h2>@T("Software.Name") (CDMS)</h2>*@

                                </div>
                                <div class="col-md-3">
                                    <ul class="nav navbar-nav navbar-right">
                                        <li>
                                            <a href="javascript:;" class=" dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                <img src="~/administration/build/images/avatar.png" alt="">
                                                @if (currentCustomer != null && currentCustomer.IsRegistered())
                                                {
                                                    <div class="username-hide-on-mobile">
                                                        @(currentCustomer.Email)
                                                    </div>
                                                }
                                                <span class="fa fa-angle-down"></span>
                                            </a>

                                            <ul class="dropdown-menu dropdown-menu-right dropdown-menu-default">
                                                @if (currentCustomer.IsAdmin())
                                                {
                                                    <li>
                                                        <a href="@Url.Action("Edit", "Customer", new { id = currentCustomer.Id, area = Constants.AreaAdmin })">
                                                            <i class="icon-user"></i> @T("Admin.Header.Profile")
                                                        </a>
                                                    </li>

                                                    <li>
                                                        <a href="@Url.Action("FiscalYearGraph", "FiscalYear", new {area = Constants.AreaAdmin })">
                                                            <i class="icon-settings"></i> @T("Admin.Header.SetFiscalYear")
                                                        </a>
                                                    </li>
                                                }
                                                <li>
                                                    <a href="@Url.Action("ChangePassword", "Customer")">
                                                        <i class="icon-user"></i> @T("Admin.Header.PasswordChange")
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("Download", "Dashboard")">
                                                        <i class="icon-user"></i> @T("Admin.Header.UserManual")
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("Logout", "Customer", new { area = "" }, null)">
                                                        <i class="icon-logout"></i> @T("Admin.Header.Logout")
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>


                                        @await Component.InvokeAsync("CommonLanguageSelector")
                                        @if (canManageMaintenance)
                                        {
                                            <li role="presentation" class="dropdown">
                                                <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                                                    <i class="icon-settings"></i>
                                                </a>
                                                <ul id="menu1" class="dropdown-menu dropdown-menu-right list-unstyled msg_list overflow-h" role="menu">
                                                    <li>
                                                        <a href="@Url.Action("List", "Language",new { Area="Admin"})">
                                                            <i class="icon-refresh"></i>
                                                            @T("Admin.Header.ChangeLanguage")
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="@Url.Action("ClearCache", "Common", new { memory = true, returnurl = webHelper.GetRawUrl(this.Context.Request) })">
                                                            <i class="icon-refresh"></i>
                                                            @T("Admin.Header.ClearCacheMemory")
                                                        </a>
                                                    </li>

                                                    <li>
                                                        <a href="@Url.Action("RestartApplication", "Common", new { returnurl = webHelper.GetRawUrl(this.Context.Request) })" id="restart-application">
                                                            <i class="icon-reload"></i>
                                                            @T("Admin.Header.RestartApplication")
                                                        </a>
                                                    </li>

                                                </ul>
                                            </li>
                                        }


                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </div>
                    <div class="clear"></div>
                </div>
                <vc:admin-widget widget-zone="header_navbar_after" additional-data="null" />
            }
            <vc:admin-widget widget-zone="admin_header_before" additional-data="null" />

            <vc:admin-widget widget-zone="admin_header_after" additional-data="null" />

            <ul style="list-style-type: none;margin:0;padding:0;overflow:hidden;">
                <li style="display:block;float: left;color:white!important;text-align: center; padding: 14px 16px;"><a style="Color:#FFF" href="@Url.Action("Cdms", "Dashboard", new { Area = "Admin" })">@T("Admin.GryaPristha")</a></li>

                <li style="display:block;float: left;color:white!important;text-align: center; padding: 14px 16px;"><a style="Color:#FFF" href="@Url.Action("Index", "MolmacDashboard", new { Area = "Admin" })">@T("Admin.Dashboard")</a></li>
                <li style="display:block;float: left;color:white!important;text-align: center; padding: 14px 16px;"><a style="Color:#FFF" href="@Url.Action("Website", "Dashboard", new { Area = "Admin" })">@T("Admin.Website")</a></li>
                <li style="display:block;float: left;color:white!important;text-align: center; padding: 14px 16px;">
                    <a style="Color:#FFF" href="javascript:;" class=" dropdown-toggle" data-toggle="dropdown" aria-expanded="false">@T("Admin.MainActivityCode")</a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-item"><a href="@Url.Action("Index", "MainActivityCode", new { Area = "Admin" })">@T("Admin.MainActivityCode")</a></li>
                        <li class="dropdown-item"><a href="@Url.Action("Index", "BudgetSource", new { Area = "Admin" })">@T("Admin.Common.BudgetSource")</a></li>
                        <li class="dropdown-item"><a href="@Url.Action("Index", "SubSector", new { Area = "Admin" })">@T("Admin.SubSector")</a></li>


                    </ul>
                </li>
                @if (livestock)
                {
                    <li style="display:block;float: left;color:white!important;text-align: center; padding: 14px 16px;"><a style="Color:#FFF" href="@Url.Action("Index", "Livestock", new { Area = "Admin" })">@T("Admin.Livestock")</a></li>
                }
                @if (roles.Contains("SoilAdmin"))
                {
                    <li style="display:block;float: left;color:white!important;text-align: center; padding: 14px 16px;"><a style="Color:#FFF" href="@Url.Action("List", "Soil", new { Area = "Admin" })">@T("Admin.Soil")</a></li>
                }

                @if (mastersetup)
                {
                    <li style="display:block;float: left;color:white!important;text-align: center; padding: 14px 16px;">
                        <a style="Color:#FFF" href="javascript:;" class=" dropdown-toggle" data-toggle="dropdown" aria-expanded="false">@T("Admin.User")</a>
                        <ul class="dropdown-menu">

                            <li class="dropdown-item"><a href="@Url.Action("List", "Dolfd", new { Area = "Admin" })">@T("Admin.OrganizationUnderMolmac")</a></li>

                            <li class="dropdown-item"><a href="@Url.Action("List", "NLBO", new { Area = "Admin" })">@T("Admin.ORC")</a></li>
                            <li class="dropdown-item"><a href="@Url.Action("List", "Vhlsec", new { Area = "Admin" })">@T("Admin.OrganizationUnderDolfdAndAdd")</a></li>



                        </ul>
                    </li>
                }
                @if (livestock || crop)
                {
                    <li style="display:block;float: left;color:white!important;text-align: center; padding: 14px 16px;">
                        <a style="Color:#FFF" href="javascript:;" class=" dropdown-toggle" data-toggle="dropdown" aria-expanded="false">@T("Admin.Production")</a>
                        <ul class="dropdown-menu">
                            @if (livestock)
                            {
                                <li class="dropdown-item"><a href="@Url.Action("Create", "FishProduction", new { Area = "Admin" })">@T("Admin.FishProduction")</a></li>

                                <li class="dropdown-item"><a href="@Url.Action("Index", "Production", new { Area = "Admin" })">@T("Admin.LivestockProduction")</a></li>
                            }
                            @if (crop)
                            {
                                <li class="dropdown-item"><a href="@Url.Action("List", "CropsProduction", new { Area = "Admin" })">@T("Admin.CropsProduction")</a></li>
                            }

                        </ul>
                    </li>
                }
                <li style="display:block;float: left;color:white!important;text-align: center; padding: 14px 16px;"><a style="Color:#FFF" href="@Url.Action("tabentry", "PujigatKharchaKharyakram", new { Area = "Admin" })">@T("Admin.PujigatKharchaKharyakram")</a></li>


                <li style="display:block;float: left;color:white!important;text-align: center; padding: 14px 16px;">
                    <a style="Color:#FFF" href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">@T("Admin.BudgetProgress")</a>
                    <ul id="GenSubMenu" class="dropdown-menu">
                        <li class="dropdown-item"><a href="@Url.Action("Create","MonthlyProgress")">@T("Admin.Overallprogress")</a></li>
                        <li class="dropdown-item"><a href="@Url.Action("CreateNitigatKaryakram","MonthlyProgress")">@T("Admin.NitigatProgress")</a></li>
                        <li class="dropdown-item"><a href="@Url.Action("CreateMainKaryakram","MonthlyProgress")">@T("Admin.Main.Progress")</a></li>
                    </ul>
                </li>
                <li style="display:block;float: left;color:white!important;text-align: center; padding: 14px 16px;">
                    <a style="Color:#FFF" href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">@T("Admin.KarmachariBibarn")</a>
                    <ul id="GenSubMenu" class="dropdown-menu">
                        <li class="dropdown-item"><a href="@Url.Action("Create","DolfdSthai")">@T("Admin.SthaiTaha")</a></li>
                        <li class="dropdown-item"><a href="@Url.Action("Create","DolfdTaha")">@T("Admin.AstaiTaha")</a></li>
                    </ul>
                </li>

                <li style="display:block;float: left;color:white!important;text-align: center; padding: 14px 16px;">
                    <a style="Color:#FFF" href="javascript:;" class=" dropdown-toggle" data-toggle="dropdown" aria-expanded="false">@T("Admin.TalimAndSubsidy")</a>
                    <ul id="GenSubMenu" class="dropdown-menu">
                        @if (subsidy)
                        {
                            <li class="dropdown-item"><a href="@Url.Action("TabView", "AanudanKaryakram", new { Index = 0 })">@T("Admin.TalimName")</a></li>
                            <li class="dropdown-item"><a href="@Url.Action("TabView", "AanudanKaryakram", new { Index = 1 })">@T("Admin.IncuvationCenter")</a></li>

                            <li class="dropdown-item"><a href="@Url.Action("TabView", "AanudanKaryakram", new { Index = 2 })">@T("Admin.Subsidy")</a></li>

                            <li class="dropdown-item"><a href="@Url.Action("TabView", "AanudanKaryakram", new { Index = 3 })">@T("Admin.Training")</a></li>
                        }
                        else
                        {

                            <li class="dropdown-item"><a href="@Url.Action("Create", "AanudanKaryakram")">@T("Admin.Subsidy")</a></li>

                            <li class="dropdown-item"><a href="@Url.Action("CreateOne", "Farmer")">@T("Admin.Training")</a></li>

                        }
                    </ul>
                </li>

                <li style="display:block;float: left;color:white!important;text-align: center; padding: 14px 16px;">
                    <a style="Color:#FFF" href="javascript:;" class=" dropdown-toggle" data-toggle="dropdown" aria-expanded="false">@T("Admin.Report")</a>
                    <ul id="GenSubMenu" class="dropdown-menu">
                        <li class="dropdown-item"><a href="@Url.Action("KirshakReport","Farmer")">@T("Admin.Talim.Report")</a></li>
                        <li class="dropdown-item"><a href="@Url.Action("Summery","MonthlyProgress")">@T("Admin.ProgramSummery.Report")</a></li>
                        <li class="dropdown-item"><a href="@Url.Action("OrgReport","aanudankaryakram")">@T("Admin.Aanudan.Report")</a></li>
                        <li class="dropdown-item"><a href="@Url.Action("Report","MonthlyProgress")">@T("Admin.MonthlyProgress.Report")</a></li>
                        <li class="dropdown-item"><a href="@Url.Action("SummerizedReport","MonthlyProgress")">@T("Admin.MonthlyProgress.SummerizedReport")</a></li>
                        <li class="dropdown-item"><a href="@Url.Action("Report","DolfdSthai")">@T("Admin.SthaiTaha.Report")</a></li>
                        <li class="dropdown-item"><a href="@Url.Action("Report","DolfdTaha")">@T("Admin.AstaiTaha.Report")</a></li>
                        <li class="dropdown-item"><a href="@Url.Action("Report","TrainingReport")">@T("Admin.Training.Report")</a></li>
                        <li class="dropdown-item"><a href="@Url.Action("Report","TrainingDetailReport")">@T("Admin.TrainingDetail.Report")</a></li>
                        <li class="dropdown-item"><a href="@Url.Action("Report","SubsidyReport")">@T("Admin.Subsidy.Report")</a></li>
                        <li class="dropdown-item"><a href="@Url.Action("Report","SubsidyDetailReport")">@T("Admin.SubsidyDetail.Report")</a></li>
                        @if (crop)
                        {
                            <li class="dropdown-item"><a href="@Url.Action("Report", "CropsProduction")">@T("Admin.CropProduction.Report")</a></li>
                        }
                        @if (livestock)
                        {
                            <li class="dropdown-item"><a href="@Url.Action("Report", "Production")">@T("Admin.LivestockProduction.Report")</a></li>
                            <li class="dropdown-item"><a href="@Url.Action("LivestockReportDolfdNepali", "Report", new { Area = "Admin" })">@T("Admin.LivestockReport")</a></li>
                            <li class="dropdown-item"><a href="@Url.Action("Report", "Livestock")">@T("Admin.Livestock.Report")</a></li>
                        }

                    </ul>
                </li>
            </ul>
            @if (IsSectionDefined("headermenu"))
            {
                @RenderSection("headermenu")
            }
            @*else
                {
                    <partial name="Menu" />
                }*@
            <div class="right_col" role="main" style="min-height: 900px!important;">
                <partial name="Notifications" />
                @RenderBody()
            </div>
            <div class="throbber">
                <div class="curtain">
                </div>
                <div class="curtain-content">
                    <div>
                        <h1 class="throbber-header">Wait...</h1>
                        <div class="spinner active">
                            <svg style="width:100px; height:100px" viewBox="0 0 64 64">
                                <circle cx="32" cy="32" r="29" fill="none" stroke-width="3" stroke-miterlimit="10"></circle>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <css-files asp-location="Footer">
        <script-files asp-location="Footer">

            <div class="page-footer">
                <div class="page-footer-inner">
                    <a href="#" target="_blank">@DateTime.UtcNow.Year @*Powered by  ®*@</a>
                </div>
                <div class="scroll-to-top">
                    <i class="icon-arrow-up"></i>
                </div>
            </div>
            <script>
            $(document).ready(function () {
                $("#restart-application").click(function (e) {
                    event.preventDefault();
                    showThrobber('@Html.Raw(JavaScriptEncoder.Default.Encode(T("Admin.Header.RestartApplication.Progress").Text))');
                    $("html, body").animate({ scrollTop: 0 }, 400);
                    $.get($(this).attr("href"), function (data) { });
                    setTimeout(function () {
                        location.reload();
                    }, 10000);
                });
            });
            </script>
</body>
</html>
<style></style>
<script type="text/javascript">
        $(document).ready(function () {
        var province = $("#country").data("val");
            url = "@Url.Action("GetProvince", "LocalStructure")";
            $.getJSON(url, (result) => {
                $("#country").empty();
                $("#country").append(`<option value="">Select</option>`);
                $.each(result, function (item, value) {
                    var selectedAttr = "";
                    if (province == value)
                        selectedAttr = "selected";
                    $("#country").append(`<option value="${value}" ${selectedAttr}>${value}</option>`);
                });
            });

            if (province) {
                // $(`#country option[value="`+province+`"]`).prop('selected', true);

                var dis = $("#district").data('val');
                $("#district").empty();
                $("#district").append('<option value="">Select</option>')
                url = "@Url.Action("GetDistrict", "LocalStructure")";
                var data = {
                    province: province
                }
                $.getJSON(url, data, (result) => {

                    $.each(result, function (item1, value1) {
                        if (value1 == dis.trim(" ")) {
                            $("#district").append(`<option value="${value1}" selected>${value1}</option>`);
                        }
                        else {
                            $("#district").append(`<option value="${value1}">${value1}</option>`);

                        }
                    });
                });

                if (dis) {
                    $("#locallevel").empty();
                url = "@Url.Action("GetLocalLevel", "LocalStructure")";
                var data = {
                    district: dis.trim(" ")
                }
                $.getJSON(url, data, (result) => {
                    $("#locallevel").append('<option value="">select</option>')
                    $("#locallevel").append('<option value="All localLevel">All localLevel</option>');

                    $.each(result, function (item, value) {

                            $("#locallevel").append(`<option value="${value}">${value}</option>`);


                    });

                })


                }
            }
                //  $("#district").val(dis);
            else {
                $("#district").empty();
                $("#district").append('<option value="">select</option>')
                url = "@Url.Action("GetDistrict", "LocalStructure")";
                var data = {
                    province: province
                }
                $.getJSON(url, data, (result) => {

                    $.each(result, function (item1, value1) {

                        $("#district").append(`<option value="${value1}">${value1}</option>`);
                    });
                });
            }

            $('#country').change(function () {
                var province = $(this).val();
                $("#district").empty();
                $("#district").append('<option value="">select</option>')
                url = "@Url.Action("GetDistrict", "LocalStructure")";
                var data = {
                    province: province
                }
                $.getJSON(url, data, (result) => {

                    $.each(result, function (item1, value1) {
                        $("#district").append(`<option value="${value1}">${value1}</option>`);
                    });
                });
            });
            var $local = $('#locallevel');
            $('#district').change(function () {
                var district = $(this).val();
                $("#locallevel").empty();
                url = "@Url.Action("GetLocalLevel", "LocalStructure")";
                var data = {
                    district: district
                }
                $.getJSON(url, data, (result) => {
                    $("#locallevel").append('<option value="">select</option>');
                    $("#locallevel").append('<option value="All localLevel">All localLevel</option>');
                    $.each(result, function (item, value) {
                        $("#locallevel").append(`<option value="${value}">${value}</option>`);
                    });

                })

            });




    });

</script>

<script src="~/scripts/print.js"></script>