@model LIMS.Web.Areas.Admin.Models.Organization.OtherOrganizationDetailsModel

<form method="post">
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel light form-fit">
                <div class="x_title">
                    <div class="actions">
                    </div>
                </div>
                <vc:admin-widget widget-zone="blog_details_buttons" additional-data="null" />
                <div class="x_content form">
                    <div class="form-row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <admin-label asp-for="FiscalYearId" />
                                <admin-select asp-for="FiscalYearId" asp-items="ViewBag.FiscalYearId" required="required" ></admin-select>
                                <span asp-validation-for="FiscalYearId"></span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div id="showTable">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <td>@T("Admin.OtherOrganizationDetails.OrganizationName")</td>
                        <td>@T("Admin.OtherOrganizationDetails.PlaceForCollection")</td>
                        <td>@T("Admin.OtherOrganizationDetails.AnimalType")</td>
                        <td>@T("Admin.OtherOrganizationDetails.TotalNoOfSoldAnimals")</td>
                        <td>@T("Admin.OtherOrganizationDetails.TotalBusiness")</td>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var items in Model.Organization)
                    {
                        <tr>
                            <td>
                                @items.NameEnglish
                                <input type="hidden" asp-for="OtherOrganizationId" value="@items.Id">
                            </td>
                            <td>
                                <admin-input asp-for="PlaceForCOllection" />
                            </td>
                            <td>
                                <admin-input asp-for="AnimalType" />

                            </td>
                            <td>
                                <admin-input asp-for="TotalNoOfSoldAnimals" />

                            </td>
                            <td>
                                <admin-input asp-for="TotalBusiness" />

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <center>
                <input type="submit" class="btn btn-success" />
            </center>
        </div>
    </div>

</form>


