@model AanudanModel
@inject IWorkContext workContext
@{
    var roles = workContext.CurrentCustomer.CustomerRoles.Select(m => m.Name).ToList();
}
<style>
    #tal {
        width: 150%;
        overflow-x: scroll;
    }
</style>

<div class="x_content form">
    <div class="form-row">
        <div class="col-md-3">

            <div class="form-group">
                <admin-label asp-for="FiscalyearId" />
                <admin-select asp-for="FiscalyearId" asp-items="ViewBag.FiscalYearId" required="required">

                </admin-select>
                <span asp-validation-for="FiscalyearId"></span>

            </div>
        </div>
        <div class="col-md-9">

            <div class="form-group">
                <admin-label asp-for="BudgetId" />
                <admin-select asp-for="BudgetId" data-val="@Model.BudgetId" class="form-control" required="required">
                </admin-select>
                <span asp-validation-for="BudgetId"></span>

            </div>
        </div>
        <input type="hidden" asp-for="LocalLevel" value="" />

        @*<div class="col-md-2">
            <div class="form-group">
                <admin-label asp-for="LocalLevel" />
                <select asp-for="@Model.LocalLevel" asp-items="@ViewBag.LocalLevels" data-val="@Model.LocalLevel" class="form-control" required="required">
                </select>
                <span asp-validation-for="LocalLevel"></span>
            </div>
        </div>*@

        <div class="col-md-12">
            <div class="form-group">
                <admin-label asp-for="ExpectedOutput"/>
                <input asp-for="ExpectedOutput" class="form-control" required="required" />
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <admin-label asp-for="Remarks"/>
                <input asp-for="Remarks" class="form-control" required="required" />
            </div>
        </div>

        <div id="tal">
            <table class="table table-bordered" style="width:150% !important;text-align:center">
                <tr style="background-color:#3c3c44;color:white">
                    <th width="15%">
                        <admin-label asp-for="KrishakKoName" />

                    </th>

                   <th width="15%">
                            <admin-label asp-for="Address" />
                        </th>

                    <th width="5%">
                        <admin-label asp-for="Ward" />
                    </th>
                    <th width="8%">
                        <admin-label asp-for="PhoneNo" />
                    </th>
                    <th width="10%">
                        <admin-label asp-for="AnudanReceiverType" />
                    </th>
                    <th width="10%">
                        <admin-label asp-for="SubsidyCategory" />
                    </th>

                    <th width="10%">
                        <admin-label asp-for="AanudanKokisim" />
                    </th>
                    <th>
                        <admin-label asp-for="AanudanRakam" />
                    </th>
                    <th>
                        <admin-label asp-for="FarmerContribution" />
                    </th>
                    <th>
                        <admin-label asp-for="Sex" />
                    </th>
                   
                    <th>
                        <admin-label asp-for="EthinicGroup" />
                    </th>
                  

                </tr>
                <tbody id="tabularEntry">
                </tbody>



            </table>
            <div class="col-md-12">
                <Center>
                    <div class="btn-group btn-group-devided">

                        <button class="btn btn-success" type="submit" name="save"><i class="fa fa-check"></i> @T("Admin.Common.Save") </button>
                        <input type="button" class="btn btn-primary" id="add" value="Add row" />;

                    </div>
                </Center>

            </div>
        </div>
    </div>
</div>

<table id="hide">
    <tbody>
        <tr>
            <td>
                <input type="hidden" name="LivestockDataId" />
                <input asp-for="KrishakKoName" class="form-control" />
               
            </td>
            <td>
                <input asp-for="Address" class="form-control" />
            </td>

            @*<td>
            <admin-input asp-for="LocalLevel" />
        </td>*@
            <td>
                <admin-input asp-for="Ward" oninput="validity.valid||(value='0');" />
            </td>

            <td><input type="text" name="PhoneNO" class="form-control" min="0" oninput="validity.valid||(value='0' );" /></td>

            <td>
                <select name="AnudanReceiverType" class="form-control">
                    <option value="">Select</option>
                    <option value="Admin.LabambitKrishak.Group">@T("Admin.LabambitKrishak.Group")</option>
                    <option value="Admin.LabambitKrishak.CoOperative">@T("Admin.LabambitKrishak.CoOperative")</option>
                    <option value="Admin.LabambitKrishak.Farm">@T("Admin.LabambitKrishak.Farm")</option>
                    <option value="Admin.LabambitKrishak.Farmer">@T("Admin.LabambitKrishak.Farmer")</option>
                    <option value="Admin.LabambitKrishak.Others">@T("Admin.LabambitKrishak.Others")</option>

                </select>
            </td>
            <td>
                <select name="SubsidyCategory" class="form-control">
                    <option value="">Select</option>
                    <option value="Admin.LabambitKrishak.Hydroponic">@T("Admin.LabambitKrishak.Hydroponic")</option>
                    <option value="Admin.LabambitKrishak.Aquaponic">@T("Admin.LabambitKrishak.Aquaponic")</option>
                    <option value="Admin.LabambitKrishak.KausiKheti">@T("Admin.LabambitKrishak.KausiKheti")</option>
                    <option value="Admin.LabambitKrishak.Vegetable">@T("Admin.LabambitKrishak.Vegetable")</option>
                    <option value="Admin.LabambitKrishak.Khadhyanna">@T("Admin.LabambitKrishak.Khadhyanna")</option>
                    <option value="Admin.LabambitKrishak.Fruits">@T("Admin.LabambitKrishak.Fruits")</option>
                    <option value="Admin.LabambitKrishak.Chyau">@T("Admin.LabambitKrishak.Chyau")</option>
                </select>

            </td>


            <td>
                <select name="AanudanKokisim" class="form-control">
                    <option value="">Select</option>
                    <option value="Bew/Berna">Bew/Berna</option>
                    <option value="Irrigation Inrastructure">Irrigation Inrastructure</option>
                    <option value="Agricultural Equipment">Agricultural Equipment</option>
                    <option value="Other Equipment">Other Equipment</option>
                    <option value="cold store">cold store</option>
                    <option value="Cold chamber">Cold chamber</option>
                    <option value="cold boot">cold boot</option>
                    <option value="rustic store">rustic store</option>
                    <option value="Marketing">Marketing</option>
                    <option value="Processing help">Processing help</option>
                    <option value="Cash">Cash</option>
                    <option value="Others">Others</option>

                </select>
            </td>


            <td><input type="number" name="AanudanRakam" class="form-control" min="0" oninput="validity.valid||(value='0');" /></td>

            <td><input type="number" name="FarmerContribution" class="form-control" min="0" oninput="validity.valid||(value='0');" /></td>

            <td>
                <select asp-for="Sex" class="form-control">
                    <option value="">Select</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
            </td>
            <td>
                <select asp-for="EthinicGroup" class="form-control">
                    <option value="">Select</option>
                    <option value="Dalit">Dalit</option>
                    <option value="Janajati">Janajati</option>
                    <option value="Anya">Anya</option>
                </select>
            </td>



</table>

<div id="fgh">
    <select name="AanudanKokisim" class="form-control">
        <option value="">Select</option>
        <option value="Bew/Berna">Bew/Berna</option>
        <option value="Irrigation Inrastructure">Irrigation Inrastructure</option>
        <option value="Agricultural Equipment">Agricultural Equipment</option>
        <option value="Other Equipment">Other Equipment</option>
        <option value="cold store">cold store</option>
        <option value="Cold chamber">Cold chamber</option>
        <option value="cold boot">cold boot</option>
        <option value="rustic store">rustic store</option>
        <option value="Marketing">Marketing</option>
        <option value="Processing help">Processing help</option>
        <option value="Cash">Cash</option>
        <option value="Others">Others</option>

    </select>
</div>

<div id="ijk">
    <select name="AnudanReceiverType" id="AnudanReceiverType" class="form-control">
        <option value="">Select</option>
        <option value="Admin.LabambitKrishak.Group">@T("Admin.LabambitKrishak.Group")</option>
        <option value="Admin.LabambitKrishak.CoOperative">@T("Admin.LabambitKrishak.CoOperative")</option>
        <option value="Admin.LabambitKrishak.Farm">@T("Admin.LabambitKrishak.Farm")</option>
        <option value="Admin.LabambitKrishak.Farmer">@T("Admin.LabambitKrishak.Farmer")</option>
        <option value="Admin.LabambitKrishak.Others">@T("Admin.LabambitKrishak.Others")</option>
    </select>
</div>
<div id="lmo">
    <select name="SubsidyCategory" id="SubsidyCategory" class="form-control">

        <option value="">Select</option>
        <option value="Admin.LabambitKrishak.Hydroponic">@T("Admin.LabambitKrishak.Hydroponic")</option>
        <option value="Admin.LabambitKrishak.Aquaponic">@T("Admin.LabambitKrishak.Aquaponic")</option>
        <option value="Admin.LabambitKrishak.KausiKheti">@T("Admin.LabambitKrishak.KausiKheti")</option>
        <option value="Admin.LabambitKrishak.Vegetable">@T("Admin.LabambitKrishak.Vegetable")</option>
        <option value="Admin.LabambitKrishak.Khadhyanna">@T("Admin.LabambitKrishak.Khadhyanna")</option>
        <option value="Admin.LabambitKrishak.Fruits">@T("Admin.LabambitKrishak.Fruits")</option>
        <option value="Admin.LabambitKrishak.Chyau">@T("Admin.LabambitKrishak.Chyau")</option>
    </select>
</div>
<script>
    $(document).ready(function () {

        $('#tableBody').on('input', '#KrishakKoName', function () {
            $(this).kendoAutoComplete({
                dataSource: [
                    { value: "Option 1", input1: "Value 1-1", input2: "Value 1-2" },
                    { value: "Option 2", input1: "Value 2-1", input2: "Value 2-2" },
                    { value: "Option 3", input1: "Value 3-1", input2: "Value 3-2" }
                ],
                dataTextField: "value", // Use the "value" property for display
                select: function (e) {
                    var row = $(e.item).closest('tr');
                    var selectedItem = e.dataItem;
                    row.find('.other-input-1').val(selectedItem.input1);
                    row.find('.other-input-2').val(selectedItem.input2);
                }
            });
        });


          $("#tal").hide();
           $("#hide").hide();
           $("#fgh").hide();
           $("#ijk").hide();
           $("#lmo").hide();

         var fiscalyear = $("#@Html.IdFor(m=>m.FiscalyearId)").val();
         data = {
                 fiscalyear: fiscalyear
           }

         if (fiscalyear) {
                 $("#@Html.IdFor(m=>m.BudgetId)").empty();
                 $("#@Html.IdFor(m=>m.BudgetId)").append(`<option value="">Select</option>`);
                 url = "/Admin/LabambitKrishak/GetSubsidyProgram";
                 $.getJSON(url, data, function (result) {
                     $.each(result, function (i, item) {
                         $("#@Html.IdFor(m=>m.BudgetId)").append(`<option value="${item.Id}">${item.ActivityName}</option>`);
                     });
                 })

                  data = {
                    fiscalyear: $("#@Html.IdFor(m=>m.FiscalyearId)").val(),
                    program: $("#@Html.IdFor(m=>m.BudgetId)").val(),
                    localLevel:$("#@Html.IdFor(m=>m.LocalLevel)").val(),
             }

                abc(data);
           }

            $("#@Html.IdFor(m=>m.FiscalyearId)").change(function () {
                        var fiscalyear = $("#@Html.IdFor(m=>m.FiscalyearId)").val();
                        data = {
                            fiscalyear: fiscalyear
                        }
                        if (fiscalyear) {
                            $("#@Html.IdFor(m=>m.BudgetId)").empty();
                            $("#@Html.IdFor(m=>m.BudgetId)").append(`<option value="">Select</option>`);

                            url = "/Admin/LabambitKrishak/GetSubsidyProgram";
                            $.getJSON(url, data, function (result) {
                                $.each(result, function (i, item) {
                                    $("#@Html.IdFor(m=>m.BudgetId)").append(`<option value="${item.Id}">${item.ActivityName}</option>`);
                                });
                            })
                            data = {
                                fiscalyear: $("#@Html.IdFor(m=>m.FiscalyearId)").val(),
                                Program: $("#@Html.IdFor(m=>m.BudgetId)").val(),
                                district: $("#district").val(),
                            }
                            abc(data);
                        }
            });


    $("#@Html.IdFor(m=>m.BudgetId)").change(function () {
        data = {
            fiscalyear: $("#@Html.IdFor(m=>m.FiscalyearId)").val(),
            program: $("#@Html.IdFor(m=>m.BudgetId)").val(),
            localLevel:$("#@Html.IdFor(m=>m.LocalLevel)").val(),
        }
        abc(data);
        //var tablerow = $("#hide tbody").html();
        //$("#tabularEntry").append(tablerow);
        //$("#tal").show();
    });

      $("#@Html.IdFor(m=>m.LocalLevel)").change(function () {
        data = {
            fiscalyear: $("#@Html.IdFor(m=>m.FiscalyearId)").val(),
            program: $("#@Html.IdFor(m=>m.BudgetId)").val(),
            localLevel:$("#@Html.IdFor(m=>m.LocalLevel)").val(),

        }
        abc(data);
      });

    $("#add").click(function () {
        var tablerow = $("#hide tbody").html();
        $("#tabularEntry").append(tablerow);
    })
    });


    function abc(data) {
        $(tabularEntry).html("");
        a = $("#fgh").html();
        b = $("#ijk").html();
        c = $("#lmo").html();
        if (data.fiscalyear && data.program) { //&& data.program&& data.localLevel
            $.post("@Url.Action("GetAnudan", "AanudanKaryakram")", addAntiForgeryToken(data), function (result) {
                if (result.length > 0) {

                    $("#@Html.IdFor(m=>m.ExpectedOutput)").val(result[0].ExpectedOutput);
                    $("#@Html.IdFor(m=>m.Remarks)").val(result[0].Remaks);


                    $.each(result, function (index, item) {
                        var tableRow = '<tr id="' + item.Id + '"> <td><input type="hidden" name="LivestockDataId" value="' + item.Id + '"/><input type="hidden" name="FarmId" value="' + item.FarmId + '"/> ';
                        tableRow += '<input id="txtKrishakKoName" type="text" name="KrishakKoName" class="form-control"  value="' + item.KrishakKoName + '"/></td>';
                        tableRow += '<td><input type="text" name="Address" class="form-control"  value="' + item.Address + '"/></td>';
                       tableRow += '<td><input type="number" name="Ward" class="form-control" min="0" oninput="validity.valid||(value=' + 0 + ' );" value="' + item.Ward + '"/></td>';
                        tableRow += '<td><input type="text" name="PhoneNO" class="form-control" min="0" oninput="validity.valid||(value=' + 0 + ' );" value="' + item.PhoneNo + '"/></td>';
                        tableRow += '<td>'+b+'</td>';
                        tableRow += '<td>'+c+'</td>';
                        tableRow += '<td>'+a+'</td>';
                        tableRow += '<td><input type="number" name="AanudanRakam" class="form-control" min="0" oninput="validity.valid||(value=' + 0 + ' );" value="' + item.AanudanRakam + '"/></td>';
                        tableRow += '<td><input type="number" name="FarmerContribution" class="form-control" min="0" oninput="validity.valid||(value=' + 0 + ' );" value="' + item.FarmerContribution + '"/></td>';
                        tableRow += `<td><select name="Sex" class="form-control">
                                        <option value="">Select</option>
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                    </select>
                                </td>`;
                        tableRow += `<td>
                                    <select name="EthinicGroup" class="form-control">
                                        <option value="">Select</option>
                                        <option value="Dalit">Dalit</option>
                                        <option value="Janajati">Janajati</option>
                                        <option value="Anya">Anya</option>
                                    </select>
                                </td>`;
                        //$("#AanudanKokisim").val(item.AanudanKokisim);
                        //$("#SubsidyCategory").val(item.SubsidyCategory);
                        //$("#AnudanReceiverType").val(item.AnudanReceiverType);
                        $(tabularEntry).append(tableRow);

                        // Assuming you want to set the value to "Male" for the "Gender" dropdown
                        var AanudanKokisimDDL = $("#tabularEntry").find('tr:last select[name="AanudanKokisim"]');
                        if (AanudanKokisimDDL.find('option[value="' + item.AanudanKokisim + '"]').length > 0) {
                            AanudanKokisimDDL.val(item.AanudanKokisim);

                        }  // Assuming you want to set the value to "Male" for the "Gender" dropdown

                        var SubsidyCategoryDDL = $("#tabularEntry").find('tr:last select[name="SubsidyCategory"]');
                        if (SubsidyCategoryDDL.find('option[value="' + item.SubsidyCategory + '"]').length > 0) {
                            SubsidyCategoryDDL.val(item.SubsidyCategory);

                        }  // Assuming you want to set the value to "Male" for the "Gender" dropdown


                        var AnudanReceiverTypeDDL = $("#tabularEntry").find('tr:last select[name="AnudanReceiverType"]');
                        if (AnudanReceiverTypeDDL.find('option[value="' + item.AnudanReceiverType + '"]').length > 0) {
                            AnudanReceiverTypeDDL.val(item.AnudanReceiverType);
                        }

                        var SexDDL = $("#tabularEntry").find('tr:last select[name="Sex"]');
                        if (SexDDL.find('option[value="' + item.Sex + '"]').length > 0) {
                            SexDDL.val(item.Sex);
                        }

                        var EthinicGroupDDL = $("#tabularEntry").find('tr:last select[name="EthinicGroup"]');
                        if (EthinicGroupDDL.find('option[value="' + item.EthinicGroup + '"]').length > 0) {
                            EthinicGroupDDL.val(item.EthinicGroup);
                        }

                    });
                    $("#tal").show();
                }

                    else {
                     $("#@Html.IdFor(m=>m.ExpectedOutput)").val("");
                    $("#@Html.IdFor(m=>m.Remarks)").val("");

                    var tablerow = $("#hide tbody").html();
                    $("#tabularEntry").append(tablerow);

                    }
                $("#tal").show();

            });
        }

    }
</script>