@inject AdminAreaSettings adminAreaSettings
@model MonthlyProgressModel
@inject IWorkContext workContext

@{ //page title
    ViewBag.Title = T("Admin.Catalog.Categories.Manage").Text;
    var role = workContext.CurrentCustomer.CustomerRoles.Select(m => m.Name).ToList();
    
    }



<div class="row">
    <div class="col-md-12">
        <div class="x_panel light form-fit">

            <div class="form-row">
                <div class=" col-md-12">

                    <div class="col-md-2">
                        <div class="form-group">
                            <admin-label asp-for="FiscalYearId" />
                            <admin-select asp-for="FiscalYearId" asp-items="ViewBag.FiscalYearId" required="required" />
                            <span asp-validation-for="FiscalYearId"></span>
                        </div>
                    </div>
                    <div class="col-md-3">

                        <div class="form-group">
                            <admin-label asp-for="BudgetId" />
                            <select asp-for="BudgetId" asp-items="@ViewBag.budgetId" data-val="@Model.BudgetId" class="form-control" required="required"></select>
                            <span asp-validation-for="BudgetId"></span>
                        </div>
                    </div>

                    <div class="col-md-2">

                        <div class="form-group">
                            <admin-label asp-for="LocalLevel" />
                            <select asp-for="@Model.LocalLevel" data-val="@Model.LocalLevel" asp-items="@ViewBag.LocalLevels" class="form-control" required="required">
                            </select>
                            <span asp-validation-for="LocalLevel"></span>
                        </div>
                    </div>
                    @*<div class="col-md-2">
                            <div class="form-group">
                                <admin-label asp-for="ProgramType" />
                                <admin-select asp-for="ProgramType" asp-items="ViewBag.Swrot" required="required" />
                                <span asp-validation-for="ProgramType"></span>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                <admin-label asp-for="Type" />
                                <admin-select asp-for="Type" asp-items="ViewBag.Expences" required="required" />
                                <span asp-validation-for="Type"></span>
                            </div>
                        </div>*@
                    @*@if (role.Contains("MolmacAdmin"))
                                    {
                        <div class="col-md-2">
                            <div class="form-group">
                                <admin-label asp-for="DolfdId" />
                                <admin-select asp-for="DolfdId" asp-items="ViewBag.dolfd" />
                                <span asp-validation-for="DolfdId"></span>
                            </div>
                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <admin-label asp-for="VhlsecId" />
                                                <admin-select asp-for="VhlsecId">
                                                    <option value=''>Select</option>
                                                </admin-select>
                                                <span asp-validation-for="VhlsecId"></span>
                                            </div>
                                        </div>}
                                    @if (role.Contains("DolfdAdmin") || role.Contains("DolfdUser") || role.Contains("AddAdmin") || role.Contains("AddUser"))
                                    {
                        <div class="col-md-2">
                            <div class="form-group">
                                <admin-label asp-for="VhlsecId" />
                                <admin-select asp-for="VhlsecId" asp-items="ViewBag.vhlsec" />
                                <span asp-validation-for="VhlsecId"></span>
                            </div>
                        </div>}*@



                    <div class="col-md-2 col-sm-2" style="padding-top:19px!important">

                        <button class="btn btn-success filter-submit" id="search-categories" style="font-size: 13px!important;">
                            <i class="fa fa-search"></i> @T("admin.common.search")
                        </button>
                    </div>

                    <div class="x_content">
                        <div id="categories-grid"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://kendo.cdn.telerik.com/2021.1.330/js/pako_deflate.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://kendo.cdn.telerik.com/2020.1.406/js/jszip.min.js"></script>
<script src="https://kendo.cdn.telerik.com/2020.1.406/js/kendo.all.min.js"></script>

<script>
    $(document).ready(function () {

        var fiscalyear = $("#@Html.IdFor(m=>m.FiscalYearId)").val();

        datas = { fiscalyear: fiscalyear };

          if (fiscalyear) {
            var a = $("#@Html.IdFor(m=>m.BudgetId)").data('val');
                 $("#@Html.IdFor(m=>m.BudgetId)").empty();
                 $("#@Html.IdFor(m=>m.BudgetId)").append(`<option value="">Select</option>`);

              url = "/Admin/LabambitKrishak/GetSubsidyProgram";
                 $.getJSON(url, datas, function (result) {
                     $.each(result, function (i, item) {
                         if (a == item.Id) {
                             $("#@Html.IdFor(m=>m.BudgetId)").append(`<option value="${item.Id}" selected>${item.ActivityName}</option>`);
                         }
                         else {
                             $("#@Html.IdFor(m=>m.BudgetId)").append(`<option value="${item.Id}">${item.ActivityName}</option>`);
                         }
                         });
                 })
        }

           $("#@Html.IdFor(m=>m.FiscalYearId)").change(function () {
             fiscalyear = $(this).val();
             data = {
            fiscalyear:$("#@Html.IdFor(m=>m.FiscalYearId)").val(),
            budgetId:$("#@Html.IdFor(m=>m.BudgetId)").val()
            }

             if (fiscalyear) {
                 $("#@Html.IdFor(m=>m.BudgetId)").empty();
                 $("#@Html.IdFor(m=>m.BudgetId)").append(`<option value="">Select</option>`);

                 url = "/Admin/LabambitKrishak/GetSubsidyProgram";
                 $.getJSON(url, data, function (result) {
                     $.each(result, function (i, item) {
                         $("#@Html.IdFor(m=>m.BudgetId)").append(`<option value="${item.Id}">${item.ActivityName}</option>`);
                     });
                 })
            }
        });


        $('#search-categories').click(function (e) {
            e.preventDefault();
            //search
            var grid = $('#categories-grid').data('kendoGrid');
            grid.dataSource.page(1); //new search. Set page size to 1
            //grid.dataSource.read(); we already loaded the grid above using "page" function
            return false;
        });

        $("#categories-grid").kendoGrid({
            toolbar:["excel"],
            dataSource: {
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("OrgReport", "AanudanKaryakram"))",
                        type: "POST",
                        dataType: "json",
                        data: additionalData
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors",

                },
                error: function(e) {
                    display_kendoui_grid_error(e);
                    // Cancel the changes
                    this.cancelChanges();
                },
                pageSize: @(adminAreaSettings.DefaultGridPageSize),
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true
            },
            pageable: {
                refresh: true,
                pageSizes: [@(adminAreaSettings.GridPageSizes)]
            },
            editable: {
                confirmation: false,
                mode: "inline"
            },
            scrollable: false,
            columns: [
                {
                 field: "OrgName",
                title: "@T("Admin.Report.OrgName")",
                },
                 {
                     field: "Budget.PLIMBIS_No",
                title: "@T("Admin.PujigatKaryakram.Fields.kharchaCode")",
                },
                {
                    field: "Budget.KarchaSrishak",
                title: "@T("Admin.PujigatKaryakram.Fields.KharchaCode")",
                },
                {
                    field: "Budget.ActivityName",
                title: "@T("Admin.PujigatKaryakram.Fields.Program")",
                },

                 {
                     field: "Budget.Yearly",
                title: "@T("Admin.PujigatKaryakram.Fields.BarsikBajet")",
                },
                   {
                     field: "Name",
                title: "@T("Admin.PujigatKaryakram.Fields.Name")",
                },
                   {
                     field: "Address",
                title: "@T("Admin.PujigatKaryakram.Fields.Address")",
                },
                   {
                       field: "PhoneNo",
                title: "@T("Admin.PujigatKaryakram.Fields.PhoneNo")",
                },
                    {
                        field: "Rakam",
                title: "@T("Admin.PujigatKaryakram.Fields.Rakam")",
                },
                     {
                        field: "MaleMember",
                title: "@T("Admin.PujigatKaryakram.Fields.MaleMember")",
                }, {
                        field: "FemaleMember",
                title: "@T("Admin.PujigatKaryakram.Fields.FemaleMember")",
                }, {
                        field: "DalitMember",
                title: "@T("Admin.PujigatKaryakram.Fields.DalitMember")",
                }, {
                        field: "JanajatiMember",
                title: "@T("Admin.PujigatKaryakram.Fields.JanajatiMember")",
                }, {
                        field: "OtherMember",
                title: "@T("Admin.PujigatKaryakram.Fields.OtherMember")",
                },

           ]
        });

    });

    function additionalData() {
        var data = {
           // type: $('#@Html.FieldIdFor(model => model.Type)').val(),
          //  sourceOfFund: $('#@Html.FieldIdFor(model => model.ProgramType)').val(),
            //dolfdid: $('#@Html.FieldIdFor(model => model.DolfdId)').val(),
           // vhlsecid: $('#@Html.FieldIdFor(m=>m.VhlsecId)').val()
            fiscalYear: $('#@Html.FieldIdFor(model => model.FiscalYearId)').val(),
            budgetId: $('#@Html.FieldIdFor(model => model.BudgetId)').val(),
            localLevel: $('#@Html.FieldIdFor(model => model.LocalLevel)').val()
        };
        addAntiForgeryToken(data);
        return data;
    }
</script>

