@model HeaderViewModel
@using LIMS.Website1.Data
@using System.Globalization
@inject IGetResource getResource
@{
    var aboutUs = getResource.GetByName("AboutUs");

    var culture = CultureInfo.CurrentCulture.ToString();

    var returnUrl = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
    var fullUrl = returnUrl + Context.Request.QueryString.Value ?? "";
    returnUrl = fullUrl;
}
<style>
    .web__topbar {
        padding: 3px 0;
        background-color: #e7e7e7;
    }
    .web__middlebar {
       
        background-color: #2657ba;
    }
@@media only screen and (min-width: 1200px) .ui.container {
    width: 1127px;
    margin-left: auto!important;
    margin-right: auto!important;
}
    .ui.horizontal.list {
        display: inline-block;
        font-size: 0;
    }

.ui.container {
    display: block;
    max-width: 100%!important;
}
    .topbar__frame {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .ui.horizontal.list {
        display: inline-block;
        font-size: 0;
    }
    .navbar {
        min-height: 35px !important;
    }


    .ui.list:first-child, ol.ui.list:first-child, ul.ui.list:first-child {
        margin-top: 0;
        padding-top: 0;
    }

    .ui.list {
        font-size: 1em;
    }
    .language {
        margin-left: auto;
    }
    
    .ui.list, ol.ui.list, ul.ui.list {
        list-style-type: none;
        margin: 1em 0;
        padding: 0 0;
    }
    .btn-link {
        font-size: 12px;
        line-height: 1.2;
        display: inline-block;
        vertical-align: top;
        background-color: #4267b2;
        color: #fff;
        padding: 3px 10px;
        border-radius: 3px;
        display: flex;
        align-items: center;
        font-weight: 600;
        transition: all 0.2s ease-in-out;
    }
    .ui.horizontal.list > .item {
        display: inline-block;
        margin-left: 1em;
        font-size: 1rem;
    }
    .language span {
        display: inline-block;
        vertical-align: top;
        width: 22px;
        margin-right: 1px;
        background-color: #222;
        color: #fff;
        font-size: 12px;
        line-height: 12px;
        padding: 3px;
        text-align: center;
        cursor: pointer;
    }
    .dateandtime {
        color: #333;
        font-weight: 600;
        padding: 4px;
        margin: 3px 0 0 !important;
    }
</style>
<header>
    <div class="web__topbar">
        <div class="ui container">
            <div class="topbar__frame">
                <div role="list" class="ui horizontal list">
                    <div role="listitem" class="item">
                        <a class="btn-link" target="_blank" href="https://mail.nepal.gov.np/mail/"><i class="fas fa-envelope-open-text"></i><span>Centralized email system</span></a>
                    </div>
                    <div role="listitem" class="item">
                        <a class="btn-link" target="_blank" href='@("http://fas.dibugsoft.com/@dmin/login.aspx")'><i class="fas fa-network-wired"></i><span>Office automation</span></a>
                    </div>
                    <div role="listitem" class="item">
                        <a class="btn-link" target="_blank" href='http://103.175.192.249/'><i class="fas fa-network-wired"></i><span>Link to CDMS</span></a>
                    </div>
                </div>
                <div>
                    <ul class="list-inline font_choice web-accesibility" style="margin-left: 150px !important;">
                        <!-- <li class="list-inline-item seaarch"><a href="https://mail.moic.gov.np/login.html" target="_blank">  <i class="mocit-newsletter" style="font-size: 16px;"></i></a></li> -->

                        <li class="list-inline-item" style="float:left;">
                            <span class="font_choice pull-right">
                                <div id="rvfs-controllers" class="fontsize-controllers group" style='float:left;'>
                                    <div class="btn-group">
                                        <a id="btnDecFont"  href="#" class="rvfs-decrease btn" title="Decrease font size">A-</a>
                                        <a id="btnNorFont" href="#" class="rvfs-reset btn" title="Default font size">A</a>
                                        <a id="btnIncFont"  href="#" class="rvfs-increase btn" title="Increase font size">A+</a>
                                        <div class="dateandtime">
                                            <span style="color:black"></span>
                                        </div>
                                    </div>
                                </div>
                                @*<a style="color:#fff;" id="contrast"><i class="fas fa-low-vision"></i></a>*@
                            </span>
                        </li>
                        @*<li class="list-inline-item"><a style="color:#fff;" href="#"
                            >Low Bandwidth</a></li>*@
                        
                    </ul>
                </div>
                <div class="language">
                    <span class='@(culture=="en-US"?"lang active":"lang")'>
                        <a style="color:#fff" asp-controller="Home" asp-action="SetLanguage"
                           asp-route-returnUrl="@returnUrl" asp-route-culture="en-US">EN</a>
                    </span>
                    <span class='@(culture=="ne-NP"?"lang active":"lang")'>
                        <a style="color:#fff" asp-controller="Home" asp-action="SetLanguage"
                           asp-route-returnUrl="@returnUrl" asp-route-culture="ne-NP">NP</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <!-- Top Bar -->
    <div class="border-top block clearfix">
        <div class="container-fluid">
            <div class="header-top">
                <div class="row">
                    <div class="col-md-6">
                        <div class="busniess-area ">
                            <div class="logo-area">
                                <a href="/home"><img src="~/Dolfd/img/nep-gov1.png" height="60px" width="80px"></a>
                            </div>
                            <div class="" style="margin-left:6px;">
                                <p style="font-size: 11px; color:red;">
                                    Government of Sudurpashchim Province	<br />
                                    <span style="font-size: 16px; font-family: serif; font-weight:bold;">Ministy of Land Management, Agriculture & Cooperative</span><br />
                                    <span style="font-size: 12px;">Dhangadhi, Kailali</span>
                                </p>
                            </div>
                            <!-- <div>
                            <img  style="width:95px" src="https://mocit.gov.np/application/resources/site/img/6.png">
                            </div> -->
                        </div>
                    </div>
                    <div class="col-12 col-md-6 top-list">
                        <div class="row">
                            <!--<div class="col-11 col-lg-11">
                                <ul class="list-inline font_choice web-accesibility">-->
                            <!-- <li class="list-inline-item seaarch"><a href="https://mail.moic.gov.np/login.html" target="_blank">  <i class="mocit-newsletter" style="font-size: 16px;"></i></a></li> -->
                            <!--<li class="list-inline-item">
                                        <span class="font_choice pull-left">
                                            <div id="rvfs-controllers" class="fontsize-controllers group"></div>
                                            <a href="#" id="contrast"><i class="mocit-eye-crossed"></i></a>
                                        </span>
                                    </li>
                                    <li class="list-inline-item seaarch">
                                        <a href="#" onclick="changeBandwidth()">Low Bandwidth</a>
                                    </li>
                                    <li class="list-inline-item">
                                        <div class="dateandtime">
                                            <span>
                                                सोमबार, &#2408;&#2406;&#2413;&#2414;&#45;&#2408;&#45;&#2408;&#2410;
                                            </span>
                                        </div>
                                    </li>
                                </ul>
                            </div>-->
                            <div class="col-12 col-lg-12">
                                <div class="pull-right npflag">
                                    <img src="/Dolfd/img/nepal-flag.gif" height="50" width="50" style="max-width:fit-content!important">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <style type="text/css">
            .business-desc {
                width: 65%;
                float: left;
            }

            .web-accesibility .list-inline-item:not(:last-child) {
                margin-right: 0.4rem;
            }

            .web-accesibility .list-inline-item .dateandtime {
                /*font-weight: bold;*/
                color: #4075c5;
                margin: 3px 0 0 !important;
                float: left;
            }

            #ac-wrapper {
                height: 100%;
                left: 0;
                top: 0;
                width: 100%;
                z-index: 1001;
                position: absolute;
                margin: 0 auto;
                text-align: center;
                float: left;
            }

            #popup {
                left: 12.5%;
                position: absolute;
                width: 75%;
                z-index: 1001;
                top: 27px;
                border: 3px solid #fff;
            }

            .over-lay {
                background: rgba(0,0,0,0.8);
                float: left;
                width: 100%;
                position: fixed;
                z-index: 999;
                min-height: 100%;
            }

            #closebutton {
                float: right;
                height: 17px;
                right: 0;
                margin-right: 1px;
                position: absolute;
                margin-top: 4px;
                margin-right: 7px;
            }

            #popup > p {
                margin: 22px 0 10px;
                padding: 30px;
            }

            /* Style the tab */
            .tab {
                overflow: hidden;
                border: 1px solid #ccc;
                background-color: #f1f1f1;
            }

                /* Style the buttons inside the tab */
                .tab button {
                    background-color: inherit;
                    float: left;
                    border: none;
                    outline: none;
                    cursor: pointer;
                    padding: 14px 16px;
                    transition: 0.3s;
                    font-size: 17px;
                }

                    /* Change background color of buttons on hover */
                    .tab button:hover {
                        background-color: #ddd;
                    }

                    /* Create an active/current tablink class */
                    .tab button.active {
                        background-color: #ccc;
                    }

            /* Style the tab content */
            .tabcontent {
                display: none;
                padding: 6px 12px;
                border: 1px solid #ccc;
                border-top: none;
            }

            .col {
                -ms-flex-preferred-size: 0;
                flex-basis: 0;
                -ms-flex-positive: 1;
                flex-grow: 1;
                max-width: 100%;
            }

            .row {
                display: -ms-flexbox;
                display: flex;
                -ms-flex-wrap: wrap;
                /* flex-wrap: wrap; */
                margin-right: -15px;
                margin-left: -15px;
            }
            .nav-link {
                color: white !important;
                font-weight: 500!important;
            }
            .highlight-header {
                background: #2657BA;
                color: #fff;
                padding: 10px 20px;
                margin: auto;
        </style>
        <div class="web__middlebar">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-md-10">
                        <nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-top:10px;color:#fff">
                            <!-- Brand -->
                            <!-- Toggler/collapsibe Button -->
                            @*<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                                    <span class="navbar-toggler-icon"></span>
                                </button>*@
                            <!-- Navbar links -->

                            @await Component.InvokeAsync("DynamicMenu")
                        </nav>

                    </div>

                    <div class="col-12 col-md-2">
                        <!--<div class="">
                            <ul class="list-inline font_choice web-accesibility">
                                <li class="list-inline-item" style="display: none;">
                                    <span class="font_choice pull-left">
                                        <div id="rvfs-controllers" class="fontsize-controllers group"></div>
                                        <a href="#" id="contrast"><i class="mocit-eye-crossed"></i></a>
                                    </span>
                                </li>-->
                        @*<li class="list-inline-item seaarch-icon"><a href="#" onclick="searchs()"><i class="mocit-magnifying-glass"></i></a></li>
                            @if (culture == "ne-NP")
                            {
                            <li class="@(culture == "en-US" ? "lang active" : "lang")">
                                <a asp-controller="Home" asp-action="SetLanguage"
                                   asp-route-returnUrl="@returnUrl" asp-route-culture="en-US">ENGLISH<i class="mocit-worldwide"></i></a>
                            </li>
                            }
                            else
                            {

                            <li class="@(culture == "ne-NP" ? "lang active" : "lang")">
                                <a asp-controller="Home" asp-action="SetLanguage"
                                   asp-route-returnUrl="@returnUrl" asp-route-culture="ne-NP">Nepali<i class="mocit-worldwide"></i></a>
                            </li>
                            }*@

                        <!--</ul>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="search-area" style="display: none;">
            <form method="post" action="" id="srch">
                <input type="hidden" name="ci_csrf_token" value="">
                <input type="text" name="search" class="form-control" placeholder="Type and Enter">
            </form>
        </div>
        <form id="langfrm" name="langfrm" method="post" action="#">
            <input type="hidden" name="previous_url" value="/">
            <input type="hidden" name="ci_csrf_token" value="">
            <div class="clearfix"></div>
        </form>
        <script type="text/javascript">
            function changeLanguage() {
                $("#langfrm").attr("action", ""); //"https://mocit.gov.np/welcome/ChangeLanguage"
                $('#langfrm').submit();
            }
            function changeBandwidth() {
                $("#langfrm").attr("action", ""); //"https://mocit.gov.np/change-bandwidth"
                $('#langfrm').submit();
            }
        </script>
        <script>
            function searchs() {
                $(".search-area").toggle();
            }
        </script>
</header>
	

















<!--<div class="web__topbar">
    <div class="ui container">
        <div class="topbar__frame">
            <div role="list" class="ui horizontal list">
                <div role="listitem" class="item">
                    <a class="btn-link" target="_blank" href="https://mail.nepal.gov.np/mail/"><i class="fas fa-envelope-open-text"></i><span>Centralized email system</span></a>
                </div>
                <div role="listitem" class="item">
                    <a class="btn-link" target="_blank" href='@("http://fas.dibugsoft.com/@dmin/login.aspx")'><i class="fas fa-network-wired"></i><span>Office automation</span></a>
                </div>
                <div role="listitem" class="item">
                    <a class="btn-link" target="_blank" href='http://103.69.127.42/'><i class="fas fa-network-wired"></i><span>Link to CDMS</span></a>
                </div>
            </div>
            <div>
                <ul class="list-inline font_choice web-accesibility" style="margin-left: 150px !important;">
                    <!-- <li class="list-inline-item seaarch"><a href="https://mail.moic.gov.np/login.html" target="_blank">  <i class="mocit-newsletter" style="font-size: 16px;"></i></a></li> -->

                    <!--<li class="list-inline-item" style="float:left;">
                        <span class="font_choice pull-right">
                            <div id="rvfs-controllers" class="fontsize-controllers group" style='float:left;'>
                                <div class="btn-group">
                                    <a id="btnDecFont" style="color:#fff;" href="#" class="rvfs-decrease btn" title="Decrease font size">A-</a>
                                    <a id="btnNorFont" style="color:#fff;" href="#" class="rvfs-reset btn" title="Default font size">A</a>
                                    <a id="btnIncFont" style="color:#fff;" href="#" class="rvfs-increase btn" title="Increase font size">A+</a>
                                </div>
                            </div>-->
                            @*<a style="color:#fff;" id="contrast"><i class="fas fa-low-vision"></i></a>*@
                        <!--</span>
                    </li>
                    @*<li class="list-inline-item"><a style="color:#fff;" href="#"
                        >Low Bandwidth</a></li>*@
                    <li class="list-inline-item">
                        <div class="dateandtime">
                            <span style="color:#fff;"></span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="language">
                <span class='@(culture=="en-US"?"lang active":"lang")'>
                    <a asp-controller="Home" asp-action="SetLanguage"
                       asp-route-returnUrl="@returnUrl" asp-route-culture="en-US">EN</a>
                </span>
                <span class='@(culture=="ne-NP"?"lang active":"lang")'>
                    <a asp-controller="Home" asp-action="SetLanguage"
                       asp-route-returnUrl="@returnUrl" asp-route-culture="ne-NP">NP</a>
                </span>
            </div>
        </div>
    </div>
</div>-->
<!-- Top Bar -->
<!--<div class="border-top block clearfix">
    <div class="container">-->
        <!-- Logo -->
        <!--<div class="row">
            <div class="col-md-8">
                <div class=" float-left">
                    <a cl1~ass="logo has-banner float-left text-center-md" href="#"><img height="90" width="90" src="~/Dolfd/img/nep-gov.png" alt="" /></a>
                </div>
                <div style="Margin-top:8px;">
                    <p style="margin:0px; font-family:serif; font-size:13px;">
                        Provincial Government of Nepal
                    </p>
                    <p style="margin:0px;font-family:serif; font-size:13px;">Minsitry of Land Management, Agriculture and Cooperative</p>
                    <strong style="font-family:serif; color:red;">@Model.customer.OrgName</strong>
                    <p style="margin:0px; font-family:serif; color:red; font-size:12px;">@Model.customer.OrgAddress</p>
                </div>

            </div>
            <div class="col-md-4 text-right">
                <a class="hidden-sm hidden-xs-down"><img class="flag float-right" src="~/Dolfd/img/nepal-flag.gif" li=""></a>
            </div>
        </div>
    </div>
</div>-->


