@model ContactUsModel

    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    @Html.ValidationSummary()
                </div>
                <div class="col-sm-6">
                    <h3 class="text-primary">
                        <i class="fa fa-envelope"></i>Comment/Feedback
                    </h3>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>
                                Email
                            </label>
                            <input name="Email" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>
                                Phone
                            </label>
                            <input name="phone" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>
                                Subject
                            </label>
                            <input class="form-control" name="subject" />
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>
                                Comment Detail
                            </label>
                            <textarea name="Details" class="form-control" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group text-center">
                            <input type="submit" value="Submit" class="btn btn-primary"/>

                        </div>
                    </div>
                    <div class="col-md-12">
                        <!-- Address -->
                        <div class="panel panel-default" style="height: 300px;">
                            <div class="panel-heading">
                                <h4 class="text-primary">
                                    <i class="fa fa-book"></i>Contact Details
                                </h4>
                            </div>

                            @if (Model != null)
                            {

                                <div class="panel-body">

                                    <h3>
                                        @Model.OfficeName
                                    </h3>
                                    <p>
                                        @Model.Address

                                    </p>
                                    <p>
                                        <i class="fa fa-phone"></i>
                                        <abbr title="Phone">
                                            P
                                        </abbr>: (+977) @Model.Phone1,@Model.Phone2
                                    </p>
                                    <p>
                                        <i class="fa fa-envelope-o"></i>
                                        <abbr title="Email">
                                            E
                                        </abbr>: <a href='@Model.Email1' style="color:blue !important;">@Model.Email1</a><!--,  <a href="spsc.bagamati@gmail.com">spsc.bagamati@gmail.com</a>-->
                                    </p>
                                    <p>
                                        <i class="fa fa-external-link"></i>
                                        <abbr title="Url">
                                            U
                                        </abbr>: <a style="color:blue !important;" href='@Model.WebsiteUrl'>@Model.WebsiteUrl</a>
                                    </p>
                                    <p>
                                        <i class="fa fa-clock-o"></i>
                                        <abbr title="Hours">
                                            H
                                        </abbr>:
                                        @Model.OpeningHours

                                    </p>

                                </div>
                            }
                            else
                            {
                                <div class="panel-body">

                                    <h3>
                                       Office Name
                                    </h3>
                                    <p>
                                       Office Address

                                    </p>
                                    <p>
                                        <i class="fa fa-phone"></i>
                                        <abbr title="Phone">
                                            P
                                        </abbr>: (+977) Phone1, Phone2
                                    </p>
                                    <p>
                                        <i class="fa fa-envelope-o"></i>
                                        <abbr title="Email">
                                            E
                                        </abbr>: <a href='#' style="color:blue!important">office@email.com</a><!--,  <a href="spsc.bagamati@gmail.com">spsc.bagamati@gmail.com</a>-->
                                    </p>
                                    <p>
                                        <i class="fa fa-external-link"></i>
                                        <abbr title="Url">
                                            U
                                        </abbr>: <a href='#'  style="color:blue!important">www.officeurl.com</a>
                                    </p>
                                    <p>
                                        <i class="fa fa-clock-o"></i>
                                        <abbr title="Hours">
                                            H
                                        </abbr>:
                                        Opening Hours of office

                                    </p>

                                </div>
                            }

                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="text-primary">
                                <i class="fa fa-map-marker"></i>Find Us
                            </h4>
                        </div>
                        <div class="panel-body">
                            <iframe width="550" height="557" id="gmap_canvas" src="https://maps.google.com/maps?q=Ministry%20of%20Land%20Management%20and%20Agriculture,%20Dhangadi&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                            @*<iframe width="550" height="557" id="gmap_canvas" src="https://maps.google.com/maps?q=State%20Public%20Service%20Commission%2C%20Hetauda&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>*@
                            <br />
                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>