@model LIMS.Web.Areas.Admin.Models.AInR.OwnerModel
@using LIMS.Web.Areas.Admin.Models.AInR
<div class="row" id="AnimalRegistration">
    <div class="col-md-12">
        <div class="x_panel light form-fit">

            <vc:admin-widget widget-zone="blog_details_buttons" additional-data="null" />
            <div class="x_title">
                <div class="caption">
                    Farm Name:@Model.Farm.NameEnglish &nbsp; Mobile no: @Model.Farm.MobileNo &nbsp; District:@Model.Farm.District

                </div>

            </div>
            <div class="x_content form">
                <div class="form-row">
                    <div class="form-body">
                        <input type="hidden" asp-for="FarmId" />
                        <input type="hidden" asp-for="Id" />
                    </div>

                    <div class="col-md-2">

                        <div class="form-group">
                            <admin-label asp-for="Type" />
                            <admin-select asp-for="Type" asp-items="@ViewBag.Type"></admin-select>
                            <span asp-validation-for="Type"></span>

                        </div>
                    </div>

                    <div class="col-md-2 ">

                        <div class="form-group">
                            <admin-label asp-for="NameNepali" />
                            <admin-input asp-for="NameNepali" />
                            <span asp-validation-for="NameNepali"></span>

                        </div>
                    </div>
                    <div class="col-md-2">

                        <div class="form-group">
                            <admin-label asp-for="NameEnglish" />
                            <admin-input asp-for="NameEnglish" />
                            <span asp-validation-for="NameEnglish"></span>

                        </div>
                    </div>
                    @*<div class="col-md-2">
            <div class="form-group farmonly">
                <admin-label asp-for="FarmId" />
                <admin-select asp-for="FarmId" asp-items="@ViewBag.FarmId"></admin-select>
                <span asp-validation-for="FarmId"></span>
            </div>
        </div>*@


                    <div class="col-md-2 farmonly">

                        <div class="form-group">
                            <admin-label asp-for="EthinicGroup" />
                            <admin-select asp-for="EthinicGroup" asp-items="@ViewBag.EthinicGroup" />
                            <span asp-validation-for="EthinicGroup"></span>

                        </div>
                    </div>

                    <div class="col-md-2">

                        <div class="form-group">
                            <admin-label asp-for="Provience" />
                            <admin-select asp-for="Provience" data-val="@Model.Provience" id="country" />
                            <span asp-validation-for="Provience"></span>

                        </div>
                    </div>

                    <div class="col-md-2">

                        <div class="form-group">
                            <admin-label asp-for="District" />
                            <select id="district" name="District" data-val="@Model.District" class="form-control">
                                <option value="">select</option>
                            </select>
                            <span asp-validation-for="District"></span>

                        </div>
                    </div>
                    <div class="col-md-2">

                        <div class="form-group">
                            <admin-label asp-for="LocalLevel" />
                            <select id="locallevel" name="LocalLevel" data-val="@Model.LocalLevel" class="form-control">
                                <option value="">select</option>
                            </select>
                            <span asp-validation-for="LocalLevel"></span>

                        </div>
                    </div>
                    <div class="col-md-1">

                        <div class="form-group">
                            <admin-label asp-for="Ward" />
                            <admin-input asp-for="Ward" />
                            <span asp-validation-for="Ward"></span>

                        </div>
                    </div>

                    <div class="col-md-2">

                        <div class="form-group">
                            <admin-label asp-for="Tole" />
                            <admin-input asp-for="Tole" />
                            <span asp-validation-for="Tole"></span>

                        </div>
                    </div>



                    <div class="col-md-3">

                        <div class="form-group">
                            <admin-label asp-for="Email" />
                            <admin-input asp-for="Email" />
                            <span asp-validation-for="Email"></span>

                        </div>
                    </div>

                    <div class="col-md-2">

                        <div class="form-group">
                            <admin-label asp-for="PhoneNo" />
                            <admin-input asp-for="PhoneNo" />
                            <span asp-validation-for="PhoneNo"></span>

                        </div>
                    </div>
                    <div class="col-md-2 farmeronly">

                        <div class="form-group">
                            <admin-label asp-for="EducationQualification" />
                            <admin-select asp-for="EducationQualification" asp-items="ViewBag.Education" />
                            <span asp-validation-for="EducationQualification"></span>

                        </div>
                    </div>
                    <div class="col-md-2 farmeronly">

                        <div class="form-group">
                            <admin-label asp-for="ForeignJobExperience" /><br />
                            <input type="radio" class="radio" asp-for="ForeignJobExperience" value="True" />Yes
                            <input type="radio" class="radio" asp-for="ForeignJobExperience" value="False" />No
                            <span asp-validation-for="ForeignJobExperience"></span>

                        </div>
                    </div>

                    <div class="col-md-2">

                        <div class="form-group">
                            <admin-label asp-for="Gender" /><br />


                            <label>Male</label>
                            <input type="radio" asp-for="Gender" value="Male" />
                            <label>Female</label>
                            <input type="radio" asp-for="Gender" value="Male" />
                            <span asp-validation-for="Gender"></span>

                        </div>
                    </div>
                    <div class="clearfix"></div>

                    @*<div class="col-md-3">

            <div class="form-group">
                <admin-label asp-for="Photo" />
                <admin-input asp-for="Photo" />
                <span asp-validation-for="Photo"></span>

            </div>
        </div>

        <div class="col-md-3">

            <div class="form-group">
                <admin-label asp-for="CitizenShip" />
                <admin-input asp-for="CitizenShip" />
                <span asp-validation-for="CitizenShip"></span>

            </div>
        </div>


        <div class="col-md-3 farmonly">

            <div class="form-group">
                <admin-label asp-for="Other" />
                <admin-input asp-for="Other" />
                <span asp-validation-for="Other"></span>

            </div>
        </div>*@






                </div>
                <center>
                    
                    <div class="actions">
                        <div class="btn-group btn-group-devided">
                            <button class="btn btn-success" type="submit" name="save"><i class="fa fa-check"></i> @T("Admin.Common.Save") </button>
                            
                        </div>
                    </div>
                </center>

                <partial name="_OwnerList" model="Model.Farm" />
            </div>
        </div>
      
    </div>


    





