@inject AdminAreaSettings adminAreaSettings
@model LIMS.Web.Areas.Admin.Models.Services.AIServiceModel

<form asp-area="@Constants.AreaAdmin" asp-controller="AI" asp-action="List" method="post">
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel light form-fit">
                <div class="x_title">
                    <div class="caption">
                        <i class="fa fa-comment"></i>
                        @T("Admin.Service.PregnencyDiagnosis")
                    </div>
                    <div class="actions btn-group btn-group-devided">
                        <a href="@Url.Action("Create")" class="btn green"><i class="fa fa-plus"></i><span class="d-none d-sm-inline"> @T("Admin.Common.AddNew") </span></a>
                    </div>
                </div>
                <div class="x_content form">
                    <div class="form-horizontal">
                        <div class="form-body">
                            <div class="x_content">
                                <div id="pregnency-grid"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>
    $(document).ready(function () {
        $("#pregnency-grid").kendoGrid({
            dataSource: {
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("List", "PregnencyDiagnosis"))",
                        type: "POST",
                        dataType: "json",
                        data: addAntiForgeryToken
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors"
                },
                error: function(e) {
                    display_kendoui_grid_error(e);
                    // Cancel the changes
                    this.cancelChanges();
                },
                pageSize: @(adminAreaSettings.DefaultGridPageSize),
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true
            },
            pageable: {
                refresh: true,
                pageSizes: [@(adminAreaSettings.GridPageSizes)]
            },
            editable: {
                confirmation: false,
                mode: "inline"
            },
            scrollable: false,
            columns: [
                {
                    field: "AnimalRegistration.Species.EnglishName",
                    title: "@T("Admin.AnimalRegistration.SpeciesId")",
                    width: 300,
                },
                {
                    field: "AnimalRegistration.Name",
                    title: "@T("Admin.AnimalRegistration.Name")",
                    width: 300,
                },
                {
                    field: "AnimalRegistration.EarTagNo",
                    title: "@T("Admin.AnimalRegistration.EarTagNo")",
                    width: 300,
                },
                 {
                     field: "ServiceName",
                    title: "@T("Admin.PregnencyDiagnosis.ServiceName")",
                    width: 300,
                },

                {
                    field: "Date",
                    title: "@T("Admin.PregnencyDiagnosis.Date")",
                    width: 300,
                    template: "#= kendo.toString(kendo.parseDate(Date, 'yyyy-MM-dd'), 'dd/MM/yyyy') #"

                },
                 {
                    field: "Result",
                    title: "@T("Admin.PregnencyDiagnosis.Result")",
                    width: 300,
                }





            ]

        });

    });
    </script>
</form>