@model LIMS.Web.Areas.Admin.Models.AInR.FarmModel
<input type="hidden" asp-for="Id" />
<input type="hidden" asp-for="District" />
<input type="hidden" asp-for="LocalLevel" />
<div class="form-row">
    <div class="col-md-2">

        <div class="form-group">
            <admin-label asp-for="Category" />
            <admin-select asp-for="Category" asp-items="@ViewBag.Category" id="category"></admin-select>
            <span asp-validation-for="Category"></span>

        </div>
    </div>

    <div class="col-md-2">

        <div class="form-group">
            <admin-label asp-for="NameNepali" />
            <admin-input asp-for="NameNepali" />
            <span asp-validation-for="NameNepali"></span>

        </div>
    </div>
    <div class="col-md-2">

        <div class="form-group">
            <admin-label asp-for="NameEnglish" />
            <admin-input asp-for="NameEnglish" />
            <span asp-validation-for="NameEnglish"></span>

        </div>
    </div>
    <div class="col-md-2 cooperativeOnly">

        <div class="form-group">
            <admin-label asp-for="NoOfMember" />
            <admin-input asp-for="NoOfMember" />
            <span asp-validation-for="NoOfMember"></span>

        </div>
    </div>
    <div class="col-md-2 cooperativeOnly">

        <div class="form-group">
            <admin-label asp-for="NoOfFemaleMember" />
            <admin-input asp-for="NoOfFemaleMember" />
            <span asp-validation-for="NoOfFemaleMember"></span>

        </div>
    </div>
    <div class="col-md-2 cooperativeOnly">

        <div class="form-group">
            <admin-label asp-for="NoOfDalitMember" />
            <admin-input asp-for="NoOfDalitMember" />
            <span asp-validation-for="NoOfDalitMember"></span>

        </div>
    </div>
    <div class="col-md-2 farmonly">
        <div class="form-group ">
            <admin-label asp-for="FarmType" />
            <admin-select asp-for="FarmType" asp-items="@ViewBag.farmType"></admin-select>
            <span asp-validation-for="FarmType"></span>
        </div>
    </div>

    <input type="hidden" asp-for="Provience" />
    <input type="hidden" asp-for="District" />

    @*<div class="col-md-3">

            <div class="form-group">
                <admin-label asp-for="Provience" />
                <select name="Provience" id="country" data-val="@Model.Provience" class="form-control">
                    <option value="">select</option>
                </select>

            </div>
        </div>

        <div class="col-md-2">

            <div class="form-group">
                <admin-label asp-for="District" />
                <select name="district" id="district" data-val="@Model.District" class="form-control">
                    <option value="">select</option>
                </select>
                <span asp-validation-for="District"></span>

            </div>
        </div>*@
    <div class="col-md-2">

        <div class="form-group">
            <admin-label asp-for="LocalLevel" />
            <select name="localLevel1" asp-items="@ViewBag.LocalLevels" class="form-control" disabled>
            </select>
            <span asp-validation-for="LocalLevel"></span>

        </div>
    </div>
    <div class="col-md-1">

        <div class="form-group">
            <admin-label asp-for="Ward" />
            <admin-input asp-for="Ward" onkeypress="return onlyNumberKey(event)" />
            <span asp-validation-for="Ward"></span>

        </div>
    </div>

    <div class="col-md-2">

        <div class="form-group">
            <admin-label asp-for="Tole" />
            <admin-input asp-for="Tole" />
            <span asp-validation-for="Tole"></span>

        </div>
    </div>



    <div class="col-md-2">

        <div class="form-group">
            <admin-label asp-for="PanNO" />
            <admin-input asp-for="PanNO" />
            <span asp-validation-for="PanNO"></span>

        </div>
    </div>

    <div class="col-md-2 nocooperative">

        <div class="form-group">
            <admin-label asp-for="CitizenshipNo" />
            <input asp-for="CitizenshipNo" class="citizen form-control" />
            <span asp-validation-for="CitizenshipNo"></span>

        </div>
    </div>
    <div class="col-md-2 nocooperative">

        <div class="form-group">
            <admin-label asp-for="IssueDate" />
            <input asp-for="IssueDate" class="citizen nepaliDate1 form-control" />
            <span asp-validation-for="IssueDate"></span>

        </div>
    </div>
    <div class="col-md-2 nocooperative">

        <div class="form-group">
            <admin-label asp-for="IssueDistrict" />
            <select asp-for="IssueDistrict" asp-items="ViewBag.Districts" class="form-control citizen"></select>
           @* <input asp-for="IssueDistrict" class="citizen form-control" />*@
            <span asp-validation-for="IssueDistrict"></span>

        </div>
    </div>


    <div class="col-md-2 farmonly">

        <div class="form-group">
            <admin-label asp-for="RegisteredDate" />
            <admin-input asp-for="RegisteredDate" />
            <span asp-validation-for="RegisteredDate"></span>

        </div>
    </div>
    <div class="col-md-2 farmonly">

        <div class="form-group">
            <admin-label asp-for="RegNo" />
            <admin-input asp-for="RegNo" />
            <span asp-validation-for="RegNo"></span>

        </div>
    </div>
    <div class="col-md-2 ">

        <div class="form-group">
            <admin-label asp-for="MoblileNo" />
            <admin-input asp-for="MoblileNo" />
            <span asp-validation-for="MoblileNo"></span>

        </div>
    </div>
    <div class="col-md-2 ">

        <div class="form-group">
            <admin-label asp-for="Phone" />
            <admin-input asp-for="Phone" />
            <span asp-validation-for="Phone"></span>

        </div>
    </div>
    <div class="col-md-3">

        <div class="form-group">
            <admin-label asp-for="Email" />
            <admin-input asp-for="Email" type="email" />
            <span asp-validation-for="Email"></span>

        </div>
    </div>
    <div class="col-md-3 farmonly">

        <div class="form-group">
            <admin-label asp-for="URL" />
            <admin-input asp-for="URL" />
            <span asp-validation-for="URL"></span>

        </div>
    </div>
    <div class="col-md-3">

        <div class="form-group">
            <admin-label asp-for="NatureOfWork" />
            <input asp-for="NatureOfWork" class="form-control" />
            @* <admin-select asp-for="NatureOfWork" asp-items="ViewBag.NatureOfWork" />*@
            <span asp-validation-for="NatureOfWork"></span>

        </div>
    </div>

    <div class="col-md-3">

        <div class="form-group">
            <admin-label asp-for="MunicipalityTaxIdentificationNumber" />
            <admin-input asp-for="MunicipalityTaxIdentificationNumber" />
            <span asp-validation-for="MunicipalityTaxIdentificationNumber"></span>

        </div>
    </div>
    <div class="col-md-2 hide">

        <div class="form-group">
            <admin-label asp-for="FarmerEthnicity" />
            <admin-select asp-for="FarmerEthnicity" asp-items="ViewBag.EthinicGroup" />
            <span asp-validation-for="FarmerEthnicity"></span>

        </div>
    </div>
    <div class="col-md-2 farmeronly">

        <div class="form-group">
            <admin-label asp-for="EducationQualification" />
            <admin-select asp-for="EducationQualification" asp-items="ViewBag.Education" />
            <span asp-validation-for="EducationQualification"></span>

        </div>
    </div>
    <div class="col-md-2 farmeronly">

        <div class="form-group">
            <admin-label asp-for="ForeignJobExperience" /><br />
            <input type="radio" class="radio" asp-for="ForeignJobExperience" value="True" />Yes
            <input type="radio" class="radio" asp-for="ForeignJobExperience" value="False" />No
            <span asp-validation-for="ForeignJobExperience"></span>

        </div>
    </div>
    <div class="col-md-2 farmonly">

        <div class="form-group">
            <admin-label asp-for="RoadFacility" /><br />
            <input type="radio" class="radio" asp-for="RoadFacility" value="True" />Yes
            <input type="radio" class="radio" asp-for="RoadFacility" value="False" />No
            <span asp-validation-for="RoadFacility"></span>

        </div>
    </div>


    <div class="col-md-2 farmonly">

        <div class="form-group">
            <admin-label asp-for="DrinkingWaterFacility" /><br />
            <input type="radio" class="radio" asp-for="DrinkingWaterFacility" value="True" />Yes
            <input type="radio" class="radio" asp-for="DrinkingWaterFacility" value="False" />No
            <span asp-validation-for="DrinkingWaterFacility"></span>

        </div>
    </div>


    <div class="col-md-2 farmonly">

        <div class="form-group">
            <admin-label asp-for="ElectricityFacility" /><br />
            <input type="radio" class="radio" asp-for="ElectricityFacility" value="True" />Yes
            <input type="radio" class="radio" asp-for="ElectricityFacility" value="False" />No
            <span asp-validation-for="ElectricityFacility"></span>

        </div>
    </div>
    <div class="col-md-2 farmonly">

        <div class="form-group">
            <admin-label asp-for="DistanceFromHighway" />
            <admin-input asp-for="DistanceFromHighway" />
            <span asp-validation-for="DistanceFromHighway"></span>

        </div>
    </div>
    <div class="col-md-2 farmonly">

        <div class="form-group">
            <admin-label asp-for="DistanceFromRoad" />
            <admin-input asp-for="DistanceFromRoad" />
            <span asp-validation-for="DistanceFromRoad"></span>

        </div>
    </div>

    <div class="col-md-2 farmonly">

        <div class="form-group">
            <admin-label asp-for="HouseNear100M" />
            <admin-input asp-for="HouseNear100M" />
            <span asp-validation-for="HouseNear100M"></span>

        </div>
    </div>

    <div class="col-md-2 farmonly">

        <div class="form-group">
            <admin-label asp-for="HouseNear50M" />
            <admin-input asp-for="HouseNear50M" />
            <span asp-validation-for="HouseNear50M"></span>

        </div>
    </div>
    <div class="col-md-2 farmonly">

        <div class="form-group">
            <admin-label asp-for="LandOwnershipType" />
            <admin-select asp-for="LandOwnershipType" asp-items="ViewBag.LandOwnershipType" />
            <span asp-validation-for="LandOwnershipType"></span>

        </div>
    </div>
    <div class="col-md-2 farmonly">

        <div class="form-group">
            <admin-label asp-for="LandAreaUnit" />
            <admin-select asp-for="LandAreaUnit" asp-items="ViewBag.LandAreaUnit" />
            <span asp-validation-for="LandAreaUnit"></span>

        </div>
    </div>
    <div class="col-md-2 farmonlyOwn">

        <div class="form-group">
            <admin-label asp-for="Own" />
            <admin-input asp-for="Own" />
            <span asp-validation-for="Own"></span>

        </div>
    </div>
    <div class="col-md-2 farmonlyLease">

        <div class="form-group">
            <admin-label asp-for="Lease" />
            <admin-input asp-for="Lease" />
            <span asp-validation-for="Lease"></span>

        </div>
    </div>
    <div class="col-md-2 farmonly">

        <div class="form-group">
            <admin-label asp-for="MarketType" />
            <admin-select asp-for="MarketType" asp-items="ViewBag.MarketType" />
            <span asp-validation-for="MarketType"></span>

        </div>
    </div>
    <div class="col-md-4 farmonly">

        <div class="form-group">
            <label id="lblMarketType"></label><admin-label asp-for="Buyer" />
            <admin-input asp-for="Buyer" />
            <span asp-validation-for="Buyer"></span>

        </div>
    </div>



    @*<div class="col-md-2 farmonly">

            <div class="form-group">
                <admin-label asp-for="Pprs" /><br />
                <input type="radio" class="radio" asp-for="Pprs" value="True" />Yes
                <input type="radio" class="radio" asp-for="Pprs" value="False" />No
                <span asp-validation-for="Pprs"></span>

            </div>
        </div>*@




</div>
<center>
    <div class="actions">
        <div class="btn-group btn-group-devided">
            <button class="btn btn-success" type="submit" name="save"><i class="fa fa-check"></i> @T("Admin.Common.Save") </button>

        </div>
    </div>
</center>


<script>
    $(document).ready(function () {

        $('.nepaliDate1').nepaliDatePicker({
            ndpYear: true,
            ndpMonth: true,
            ndpYearCount: 10
        });

        $(".hide").hide();
        $(".farmonly").hide();
        $(".farmonlyOwn").hide();
        $(".farmonlyLease").hide();


        $(".farmeronly").hide();
        $(".cooperativeOnly").hide();
        $(".nocooperative").hide();
        $(".citizen").prop('required', false);
        var category = $("#category").val();
        var landOwnerShipType = $('@Html.IdFor(m=>m.LandOwnershipType)').val();
        var marketType = $('@Html.IdFor(m=>m.MarketType)').val();
        if (category == "farmer") {
            $(".cooperativeOnly").hide();
            $(".nocooperative").show();
            $(".farmonly").hide();
            $(".farmonlyOwn").hide();
            $(".farmonlyLease").hide();
            $(".farmeronly").show();
        }
        if (category == "farm") {
            $(".cooperativeOnly").hide();
            $(".farmeronly").hide();
            $(".farmonly").show();

        }
        if (category == "co-operative" || category == "groups") {
            $(".farmonly").hide();
            $(".farmonlyOwn").hide();
            $(".farmonlyLease").hide();
            $(".farmeronly").hide();
            $(".nocooperative").hide();
            $(".citizen").prop('required', false);
            $(".cooperativeOnly").show();

        }
        if (category == "") {
            $('.farmeronly input[type="text"]').val('');
            $('.farmonly input[type="text"]').val('');
            $('.farmonlyOwn input[type="text"]').val('');
            $('.farmonlyLease input[type="text"]').val('');
            $('.cooperativeOnly input[type="text"]').val('');
            $(".farmonly").hide();
            $(".farmonlyOwn").hide();
            $(".farmonlyLease").hide();

            $(".farmeronly").hide();
            $(".cooperativeOnly").hide();
            $(".nocooperative").hide();
            $(".citizen").prop('required', false);

        }

        //land Ownership Type
        if (landOwnerShipType == "Own") {
            $('.farmonlyOwn').show();
            $('.farmonlyLease').hide();

        }
        else if (landOwnerShipType == "Lease") {
            $('.farmonlyLease').show();
            $('.farmonlyOwn').hide();

        }
        else if (landOwnerShipType == "Both") {
            $('.farmonlyOwn').show();
            $('.farmonlyLease').show();
        }
        else {
            $('.farmonlyOwn').hide();
            $('.farmonlyLease').hide();
        }

        //market type
        if (marketType != "" && marketType != "Farm Gate") {
            $("#lblMarketType").val("");
            $("#lblMarketType").val(marketType);
        }

        $(document).on('change', '#@Html.IdFor(m=>m.LandOwnershipType)', function () {
            var landOwnerShipType = $(this).val();

            $('.farmonlyOwn').hide();
            $('.farmonlyLease').hide();
             //land Ownership Type
             if (landOwnerShipType == "Own") {
                 $('.farmonlyOwn').show();
                 $('.farmonlyLease').hide();

             }
             else if (landOwnerShipType == "Lease") {
                 $('.farmonlyLease').show();
                 $('.farmonlyOwn').hide();

             }
             else if (landOwnerShipType == "Both") {
                 $('.farmonlyOwn').show();
                 $('.farmonlyLease').show();
             }
        })


          $(document).on('change', '#@Html.IdFor(m=>m.MarketType)', function () {
            var marketType = $(this).val();
            $("#lblMarketType").html("");

            if (marketType != "" && marketType != "Farm Gate") {
                $("#lblMarketType").html(marketType);
            }
        })


            $("#category").change(function () {
                var category = $(this).val();
                if (category == "farmer") {
                    $('.farmonly input[type="text"]').val('');
                    $('.farmonlyOwn input[type="text"]').val('');
                    $('.farmonlyLease input[type="text"]').val('');
                    $('.farmonly').find("select").prop('selectedIndex', 0);
                    $('.farmonly').find("radio").prop('checked', false);
                    $(".farmonly").hide();
                    $(".farmonlyOwn").hide();
                    $(".farmonlyLease").hide();

                    $(".farmeronly").show();
                    $(".nocooperative").show();
                    $(".citizen").prop('required', true);

                }
                if (category == "farm") {
                    $('.farmeronly input[type="text"]').val('');
                    $('.farmeronly').find("select").prop('selectedIndex', 0);
                    $(".farmeronly").hide();
                    $(".farmonly").show();
                    $(".nocooperative").show();
                    $(".citizen").prop('required', true);

                }
                if (category == "co-operative" || category == "groups") {
                    $('.farmeronly input[type="text"]').val('');
                    $('.farmeronly').find("select").prop('selectedIndex', 0);
                    $('.farmonly input[type="text"]').val('');
                    $('.farmonlyOwn input[type="text"]').val('');
                    $('.farmonlyLease input[type="text"]').val('');

                    $('.farmonly').find("select").prop('selectedIndex', 0);
                    $(".farmonly").hide();
                    $(".farmonlyOwn").hide();
                    $(".farmonlyLease").hide();

                    $(".farmeronly").hide();
                    $(".nocooperative").hide();
                    $(".citizen").prop('required', false);
                    $(".cooperativeOnly").show();
                }
                if (category == "") {
                    $(".farmonly").hide();
                    $(".farmonlyOwn").hide();
                    $(".farmonlyLease").hide();

                    $(".farmeronly").hide();
                    $(".cooperativeOnly").hide();
                    $(".nocooperative").hide();
                    $(".citizen").prop('required', false);
                }
            })



        //AutoComplete
         $('#@Html.IdFor(m=>m.NatureOfWork)').kendoAutoComplete({
            minLength: 3, // Minimum characters before the autocomplete activates
            dataSource: {
                transport: {
                    // AJAX Configuration
                    read: {
                        url: "/Admin/Anugaman/CategoryAutoComplete",
                        data: function () {
                            return {
                                // Parameters to pass to the AJAX URL
                                term: $('#@Html.IdFor(m=>m.NatureOfWork)').val(),
                                type: "Nature Of Work"
                            };
                        },
                        dataType: "json"
                    }
                },
                schema: {
                    // Schema configuration to map your AJAX response
                    data: function (response) {
                        return $.map(response, function (item) {
                            return {
                                id: item.Id,
                                value: item.NameEnglish
                            };
                        });
                    }
                }
            },
            dataTextField: "value", // Specify the field containing the display text
            select: function (e) {
                // Set the selected item's value to the autocomplete textbox
                this.value(e.dataItem.value);
            }
        });




    });


    function onlyNumberKey(evt) {

        var ASCIICode = (evt.which) ? evt.which : evt.keyCode
        if (ASCIICode > 31 && (ASCIICode < 48 || ASCIICode > 57))
            return false;
        return true;
    }

</script>