
@{
    //page title
    ViewBag.Title = "Farm";
}
<style>
    /* Style the tab */
    .tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
    }

        /* Style the buttons that are used to open the tab content */
        .tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
        }

            /* Change background color of buttons on hover */
            .tab button:hover {
                background-color: #ddd;
            }

            /* Create an active/current tablink class */
            .tab button.active {
                background-color: #ccc;
            }

    /* Style the tab content */
    .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
    }

    .tabcontent {
        animation: fadeEffect 1s; /* Fading effect takes 1 second */
    }

    /* Go from zero to full opacity */
    @@keyframes fadeEffect {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="x_panel light form-fit">

            <div class="tab">
                <button class="tablinks" onclick="openCity(event, 'List')" id="defaultOpen">@T("Admin.ImportBudget")</button>
                <button class="tablinks" onclick="openCity(event, 'Subsidy')">@T("Admin.Budget.Subsidy")</button>
                <button class="tablinks" onclick="openCity(event, 'Training')">@T("Admin.Budget.Training")</button>
                <button class="tablinks" onclick="openCity(event, 'InputSupply')">@T("Admin.Budget.InputSupply")</button>
            </div>

            <!-- Tab content -->
            <div id="List" class="tabcontent">
                <partial name="~/Views/PujigatKharchaKharyakram/_List.cshtml"/>
               @* <partial name="_List.cshtml" />*@
            </div>

            <div id="Subsidy" class="tabcontent">
                <partial name="~/Views/PujigatKharchaKharyakram/_subsidyEntry.cshtml" />
            </div>

            <div id="Training" class="tabcontent">
                <partial name="~/Views/PujigatKharchaKharyakram/_trainingChonot.cshtml" />
            </div>
            <div id="InputSupply" class="tabcontent">
                <partial name="~/Views/PujigatKharchaKharyakram/_inputSupply.cshtml" />
            </div>
        </div>
    </div>
</div>

@*@section Scripts
    {*@
<script>
    document.getElementById("defaultOpen").click();

    function openCity(evt, cityName) {
        // Declare all variables
        var i, tabcontent, tablinks;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }
</script>
@*}*@

<!-- <div class="row">
     <div class="col-md-12">
         <div class="x_panel light form-fit">
             <a
             <vc:admin-widget widget-zone="blog_details_buttons" additional-data="null" />
             <admin-tabstrip name="farm-edit">
                 <items>
                     <tabstrip-item text="@T("Admin.ImportBudget")" tab-index="0">
                         <content>
                             <div>
                                 <partial name="_List" />
                             </div>
                         </content>
                     </tabstrip-item>
                     <tabstrip-item text="@T("Admin.Budget.Subsidy")" tab-index="1">
                         <content>
                             <div>
                                 <partial name="_subsidyEntry" />
                             </div>

                         </content>
                     </tabstrip-item>
                     <tabstrip-item text="@T("Admin.Budget.Training")" tab-index="2">
                         <content>
                             <div>
                                 <partial name="_trainingChonot" />
                             </div>

                         </content>
                     </tabstrip-item>
                     <tabstrip-item text="@T("Admin.Budget.InputSupply")" tab-index="3">
                         <content>
                             <div>
                                 <partial name="_inputSupply" />
                             </div>
                         </content>
                     </tabstrip-item>
                 </items>
             </admin-tabstrip>
         </div>
     </div>
 </div>-->
