@model List<MainMenuModel>
@{ 
    var curCulture = System.Threading.Thread.CurrentThread.CurrentCulture.Name;
    }
    <nav class="nav-main">
            @if (Model.Any())
            {
                <ul id="topMain" class="nav nav-pills nav-main">
                    @foreach (var item in Model)
                    {
                        @if (item.HasSubMenu && item.SubMenus.Any())
                        {
                            <li class="dropdown">
                                <a class="dropdown-toggle" href="#">@item.MainMenuName</a>
                                <ul class="dropdown-menu">
                                    @foreach (var subItem in item.SubMenus)
                                    {
                                        if (subItem.HasSubSubMenu && subItem.SubSubMenus.Any())
                                        {
                                            <li>
                                                <a class="dropdown-item" href="#">@subItem.Name </a>
                                                <ul class="submenu dropdown-menu">
                                                    @foreach (var subSubItem in subItem.SubSubMenus)
                                                    {
                                                        <li><a class="dropdown-item" href="@subSubItem.Url">@subSubItem.SubSubMenuName</a></li>
                                                    }
                                                </ul>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="dropdown-item"><a href="@subItem.Url">@subItem.Name</a></li>
                                        }
                                    }
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="@item.Url">@item.MainMenuName</a>
                            </li>
                        }
                    }
                </ul>
            }
</nav>