@inject AdminAreaSettings adminAreaSettings
@model FarmListModel
@{ //page title
    ViewBag.Title = T("Admin.Catalog.Categories.Manage").Text; }

<div class="row">
    <div class="col-md-12">
        <div class="x_panel light form-fit">
            <div class="form-group">
                <div class="col-md-6">
                    <input asp-for="Keyword" class="form-control" style="width: inherit!important" placeholder="Filter" />
                </div>
            </div>
            <div class="x_title">
                <div class="form-group">
                </div>
                <div class="actions btn-group btn-group-devided util-btn-margin-bottom-5">
                    <button type="button" class="btn ">
                        <a href="@Url.Action("Create")" class="btn green">
                            @T("Admin.Common.AddNew")
                        </a>
                    </button>
                    <button type="button" name="importexcel" id="importexcel" class="btn blue">
                        <i class="fa fa-upload"></i>
                        @T("Admin.Common.ImportFromExcel")
                    </button>
                    <vc:admin-widget widget-zone="category_list_buttons" additional-data="null" />
                </div>
            </div>
            <div class="x_content">
                <div id="categories-grid"></div>

            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $("#categories-grid").kendoGrid({
            //toolbar: ["search"],
            //search: {
            //    fields: [
            //        { name: "Program", operator: "eq" },
            //        { name: "kharchaCode", operator: "eq" },
            //    ]
            //},
            dataSource: {
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("List", "PujigatKharchaKharyakram"))",
                        type: "POST",
                        dataType: "json",
                        data: additionalData
                    },
                    update: {
                        url: "@Html.Raw(Url.Action("Update", "PujigatKharchaKharyakram"))",
                        type: "POST",
                        dataType: "json",
                        data: addAntiForgeryToken
                    },
                    destroy: {
                        url: "@Html.Raw(Url.Action("Delete", "PujigatKharchaKharyakram"))",
                        type: "POST",
                        dataType: "json",
                        data: addAntiForgeryToken
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors",
                    model: {
                        id: "Id",
                        fields: {
                            Id: { editable: false, type: "string" },                          
                            ActivityName: { editable: false, type: "string" },
                            PlanningProgram: { editable: false, type: "string" },
                            Yearly: { editable: false, type: "number" },
                            SourceOfFund: { editable: false, type: "string" },
                            TypeOfExpen: { editable: false, type: "string" },
                            TypeOfExecution: { editable: false, type: "string" },
                            ExpensesCategory: { editable: true, type: "string" }
                        }
                    }
                },
                error: function (e) {
                    display_kendoui_grid_error(e);
                    // Cancel the changes
                    this.cancelChanges();
                },
                pageSize: @(adminAreaSettings.DefaultGridPageSize),
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true
            },
            pageable: {
                refresh: true,
                pageSizes: [@(adminAreaSettings.GridPageSizes)]
            },
            editable: {
                confirmation: true,
                mode: "inline"
            },
            scrollable: false,
            columns: [
            {
                field: "ActivityName",
                    title: "@T("Admin.Budget.Fields.ActivityName")",
                     template: '<a class="k-link" href="Edit/#=Id#">#=ActivityName#</a>',
            },
            {
                field: "PlanningProgram",
                title: "@T("Admin.Budget.Fields.PlanningProgram")",
                },
            {
                field: "Yearly",
                title: "@T("Admin.PujigatKaryakram.Fields.Yearly")",
            },
            {
                field: "SourceOfFund",
                    title: "@T("Admin.PujigatKaryakram.Fields.SourceOfFund")",           
                },
             {
                 field: "TypeOfExpen",
                title: "@T("Admin.PujigatKaryakram.Fields.TypeOfExpen")",
                },
            {
                field: "TypeOfExecution",
                title: "@T("Admin.PujigatKaryakram.Fields.TypeOfExecution")",
                },
              {
                  field: "ExpensesCategory",
                  title: "@T("Admin.PujigatKaryakram.Fields.ExpensesCategory")",
                  editor: sDropDownEditor
                },
             {
                command: [
                    {
                        name: "edit",
                        text: {
                            edit: "@T("Admin.Common.Edit")",
                            update: "@T("Admin.Common.Update")",
                            cancel: "@T("Admin.Common.Cancel")"
                        },
                     },
                     {
                        name: "destroy",
                        text: "@T("Admin.Common.Delete")"
                     }
                 ],
                width: 200
            }
            ]

        });

    });




    function additionalData() {
        var data = {
            Keyword: $("#Keyword").val()
        };
        addAntiForgeryToken(data);
        return data;
    }

    function sDropDownEditor(container, options) {
        $('<input name="ExpensesCategory"/>')
            .appendTo(container)
            .kendoDropDownList({
                valuePrimitive: true,

                autoBind: true,
                dataTextField: "name",
                dataValueField: "value",
                dataSource: [
                    { name: "Select", value: "" },
                    { name: "Subsidy", value: "Subsidy" },
                    { name: "Training", value: "Training" },
                    { name: "Input Supply", value: "Input Supply" },
                    { name: "Other", value: "Other" },
                ]
            });
    }
</script>
<script>
    $(document).ready(function () {
        //search button
        $('#Keyword').keyup(function () {
            //search
            var grid = $('#categories-grid').data('kendoGrid');
            grid.dataSource.page(1); //new search. Set page size to 1
            //grid.dataSource.read(); we already loaded the grid above using "page" function
            return false;
        });


    });


</script>
@*import categories form*@
<div class="modal-dialog" id="importexcel-window" style="display:none; padding: 0 10px;">
    <script type="text/javascript">
        // don't remove <script> tag
    </script>
    <form asp-area="@Constants.AreaAdmin" asp-controller="PujigatKharchaKharyakram" asp-action="ImportBudgetFromXlsx" method="post" enctype="multipart/form-data">

        @*<em>@T("Admin.Catalog.Category.List.ImportFromExcelTip")</em>*@
        <div class="form-group">
            <label><b>xlsx Format of excel file required  </b></label>  &nbsp; &nbsp; &nbsp;
            <a class="btn btn-sm btn-primary" href="@Url.Action("Download","PujigatKharchaKharyakram")">Download sample</a>
            &nbsp;
        </div>
        <div class="form-group">
            @*<div class="col-md-3" style="margin-top: 2px; height: 34px; padding-left: 25px;">
                    <label class="control-label">
                        @T("Admin.Common.ExcelFile"):
                    </label>
                </div>*@

            <div class="col-md-3">
                <label>@T("Admin.Common.ExcelFile") </label>

                <input class="form-control" type="file" id="importexcelfile" name="importexcelfile" required />
            </div>
            <div class="col-md-3">
                <label>@T("Admin.Common.FiscalYear")</label>
                <select id="Fiscalyear" name="FiscalYear" class="form-control" required>
                    <option value="">Select</option>
                </select>
            </div>
            @*<div class="col-md-3">
                    <label>@T("Admin.Common.Type")</label>
                    <select id="Type" name="Type" class="form-control" required>
                        <option value="">Select</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label>@T("Admin.Common.ProgramType")</label>
                    <select id="Program" name="ProgramType" class="form-control" required>
                        <option value="">Select</option>
                    </select>
                </div>*@
        </div>
        <div class="form-group">
            &nbsp;
        </div>
        <div class="form-group">
            <div class="col-md-2">

            </div>
            <div class="col-md-10 text-right mt-10">
                <input type="submit" class="k-button" value="@T("Admin.Common.ImportFromExcel")" />
            </div>
        </div>
    </form>
</div>
<script>
    $(document).ready(function () {
        $.get("/Admin/PujigatKharchaKharyakram/GetFiscalYear", (result) => {
            $.each(result, function (i, item) {
                $("#Fiscalyear").append(`<option value="${item.Id}" selected>${item.NepaliFiscalYear}</option>`);
            });
        });
        $.get("/Admin/PujigatKharchaKharyakram/PujigatType", (result) => {
            $.each(result, function (i, item) {
                $("#Type").append(`<option value="${item.Value}" selected>${item.Text}</option>`);



            });
        });
        $.get("/Admin/PujigatKharchaKharyakram/ProgramType", (result) => {
            $.each(result, function (i, item) {
                $("#Program").append(`<option value="${item.Value}" selected>${item.Text}</option>`);

            });
        });
            $("#importexcel").click(function (e) {
                e.preventDefault();
                var window = $("#importexcel-window");
                if (!window.data("kendoWindow")) {
                    window.kendoWindow({
                        modal: true,
                        title: "@T("Admin.Common.ImportFromExcel")",
                        actions: ["Close"]
                    });
                }
                window.data('kendoWindow').center().open();
            });

        });
</script>
