@model LIMS.Web.Areas.Admin.Models.Bali.PugigatKharchaKaryakramModel


<div class="row">
    <div class="col-md-12">
        <div class="x_panel light form-fit">
            <form asp-area="@Constants.AreaAdmin" asp-action="Create" method="post">

                <div class="x_title">
                    <div class="caption">
                        <i class="fa fa-comment"></i>
                        @T("Admin.Budget.Create")
                        @*@T("Admin.ContentManagement.Blog.BlogPosts.AddNew")*@
                        <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink("Back To list", "TabEntry")</small>
                    </div>
                    <div class="actions">
                        <div class="btn-group btn-group-devided">
                            <button class="btn btn-success" type="submit" name="save"><i class="fa fa-check"></i> @T("Admin.Common.Save") </button>

                        </div>
                    </div>
                </div>
                <vc:admin-widget widget-zone="blog_details_buttons" additional-data="null" />

                <div class="x_content form">
                    <div class="form-row">
                        <div class="form-body">
                            <div class="col-md-2">

                                <div class="form-group">
                                    <admin-label asp-for="BudgetSourceId" />
                                    <admin-select asp-for="BudgetSourceId" asp-items="ViewBag.BudgetSourceId" required="required">

                                    </admin-select>
                                    <span asp-validation-for="BudgetSourceId"></span>

                                </div>
                            </div>
                            <div class="col-md-2">

                                <div class="form-group">
                                    <admin-label asp-for="SubSectorId" />
                                    <admin-select asp-for="SubSectorId" asp-items="ViewBag.SubSectorId" required="required">

                                    </admin-select>
                                    <span asp-validation-for="SubSectorId"></span>

                                </div>
                            </div>
                            <div class="col-md-2 col-sm-2">

                                <div class="form-group">
                                    <admin-label asp-for="Limbis_Code" />
                                    <input asp-for="Limbis_Code" class="form-control" required="required" />
                                    <span asp-validation-for="Limbis_Code"></span>

                                </div>
                            </div>
                            <div class="col-md-6">

                                <div class="form-group">
                                    <admin-label asp-for="Program" />
                                    <admin-input asp-for="Program" required="required" />
                                    <span asp-validation-for="Program"></span>

                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group">
                                    <admin-label asp-for="kharchaCode" />
                                    <admin-input asp-for="kharchaCode" />
                                    <span asp-validation-for="kharchaCode"></span>
                                </div>
                            </div>




                            <div class="col-md-2">

                                <div class="form-group">
                                    <admin-label asp-for="Type" />
                                    <admin-select asp-for="Type" asp-items="ViewBag.Type" required="required">

                                    </admin-select>
                                    <span asp-validation-for="Type"></span>

                                </div>
                            </div>
                            @*<div class="col-md-3">

            <div class="form-group">
                <admin-label asp-for="ProgramType" />
                <admin-select asp-for="ProgramType" asp-items="ViewBag.ProgramType" required="required">

                </admin-select>
                <span asp-validation-for="ProgramType"></span>

            </div>
        </div>*@
                            <div class="col-md-2">
                                <div class="form-group">
                                    <admin-label asp-for="BarsikBajet" />
                                    <input asp-for="BarsikBajet"  type="number" step="0.01" class="form-control"/>
                                    <span asp-validation-for="BarsikBajet"></span>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group">
                                    <admin-label asp-for="BarshikParinam" />
                                    <input asp-for="BarshikParinam" type="number" step="0.01" class="form-control"/>
                                    <span asp-validation-for="BarshikParinam"></span>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group">
                                    <admin-label asp-for="PrathamChaumasikBadjet" />
                                    <input asp-for="PrathamChaumasikBadjet"  type="number" step="0.01" class="form-control"/>
                                    <span asp-validation-for="PrathamChaumasikBadjet"></span>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group">
                                    <admin-label asp-for="PrathamChaumasikParimam" />
                                    <input asp-for="PrathamChaumasikParimam"  type="number" step="0.01" class="form-control"/>
                                    <span asp-validation-for="PrathamChaumasikParimam"></span>
                                </div>

                            </div><div class="col-md-2">
                                <div class="form-group">
                                    <admin-label asp-for="DosroChaumasikBadjet" />
                                    <input asp-for="DosroChaumasikBadjet"  type="number" step="0.01" class="form-control"/>
                                    <span asp-validation-for="DosroChaumasikBadjet"></span>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group">
                                    <admin-label asp-for="DorsoChaumasikParimam" />
                                    <input asp-for="DorsoChaumasikParimam"  type="number" step="0.01" class="form-control"/>
                                    <span asp-validation-for="DorsoChaumasikParimam"></span>

                                </div>
                            </div>

                            <div class="col-md-2">

                                <div class="form-group">
                                    <admin-label asp-for="TesroChaumasikBadjet" />
                                    <input asp-for="TesroChaumasikBadjet"  type="number" step="0.01" class="form-control"/>

                                    <span asp-validation-for="TesroChaumasikBadjet"></span>

                                </div>
                            </div>
                            <div class="col-md-2">

                                <div class="form-group">
                                    <admin-label asp-for="TesroChaumasikParimam" />
                                    <input asp-for="TesroChaumasikParimam"  type="number" step="0.01" class="form-control"/>
                                    <span asp-validation-for="TesroChaumasikParimam"></span>

                                </div>
                            </div>
                            <div class="col-md-2">

                                <div class="form-group">
                                    <admin-label asp-for="ChauthoTrimasikkBadjet" />
                                    <input asp-for="ChauthoTrimasikkBadjet" type="number" step="0.01" class="form-control" />
                                    <span asp-validation-for="ChauthoTrimasikkBadjet"></span>

                                </div>
                            </div>
                            <div class="col-md-2">

                                <div class="form-group">
                                    <admin-label asp-for="ChauthoTrimasikParimam" />
                                    <input asp-for="ChauthoTrimasikParimam"  type="number" step="0.01" class="form-control"/>
                                    <span asp-validation-for="ChauthoTrimasikParimam"></span>

                                </div>
                            </div>
                            <div class="col-md-2">

                                <div class="form-group">
                                    <admin-label asp-for="Unit" />
                                    <admin-input asp-for="Unit"/>
                                    @*<admin-select asp-for="Unit" asp-items="ViewBag.Unit" required="required">
                                    </admin-select>*@
                                    <span asp-validation-for="Unit"></span>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group">
                                    <admin-label asp-for="FiscalYearId" />
                                    <admin-select asp-for="FiscalYearId" asp-items="ViewBag.FiscalYearId" required="required">
                                    </admin-select>
                                    <span asp-validation-for="FiscalYearId"></span>
                                </div>
                            </div>

                            <div class="col-md-12 col-sm-12">
                                <div class="form-group">
                                    <admin-label asp-for="Remarks" />
                                    <textarea asp-for="Remarks" rows="3" class="form-control"></textarea>
                                    <span asp-validation-for="Remarks"></span>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
    <script>
    $(document).ready(function () {
          $("#@Html.FieldIdFor(m=>m.BudgetSourceId)").change(function () {
              var budgetSourceId = $(this).val();
              if (budgetSourceId) {
           $("#@Html.FieldIdFor(m=>m.SubSectorId)").empty();
            $("#@Html.FieldIdFor(m=>m.SubSectorId)").append("<option value=''>Select</option>");

            url = "@Url.Action("GetSubSectorBySource", "PujigatKharchaKharyakram")";
            addAntiForgeryToken(budgetSourceId);
            $.getJSON(url, { budgetSourceId: budgetSourceId }, (data) => {
                $.each(data, function (i, item) {
                    $('#@Html.FieldIdFor(m=>m.SubSectorId)').append(`<option value="${item.Id}">${item.NameNepali}</option>`);
                });
            });
        }
        else {
            $("#@Html.FieldIdFor(m=>m.SubSectorId)").empty();
            $("#@Html.FieldIdFor(m=>m.SubSectorId)").append("<option value=''>Select</option>");
        }


    });
    })
    </script>
