@inject AdminAreaSettings adminAreaSettings

@{ //page title
                ViewBag.Title = T("Admin.Catalog.Categories.Manage").Text; }

<div class="row">
    <div class="col-md-12">
        <div class="x_panel light form-fit">
            <div class="x_title">
               
                <div class="actions btn-group btn-group-devided util-btn-margin-bottom-5">
                    
                 
                    <button type="button" name="importexcel" id="importexcel" class="btn blue">
                        <i class="fa fa-upload"></i>
                        @T("Admin.Common.ImportFromExcel")
                    </button>
                    <vc:admin-widget widget-zone="category_list_buttons" additional-data="null" />
                </div>
            </div>
     
            <div class="x_content">
                <div id="categories-grid"></div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#categories-grid").kendoGrid({
            dataSource: {
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("List", "PujigatKharchaKharyakram"))",
                        type: "POST",
                        dataType: "json",
                        data: addAntiForgeryToken
                    },
                    update: {
                        url: "@Html.Raw(Url.Action("Edit", "PujigatKharchaKharyakram"))",
                        type: "POST",
                        dataType: "json",
                        data: addAntiForgeryToken
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors",
                    model: {
                        id: "Id",
                        fields: {

                            Id: { editable: false, type: "string" }
                        }
                    },

                },
                error: function (e) {
                    display_kendoui_grid_error(e);
                    // Cancel the changes
                    this.cancelChanges();
                },
                pageSize: @(adminAreaSettings.DefaultGridPageSize),
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true
            },
            pageable: {
                refresh: true,
                pageSizes: [@(adminAreaSettings.GridPageSizes)]
            },
            editable: {
                confirmation: false,
                mode: "inline"
            },
            scrollable: false,
            columns: [{
                field: "Limbis_Code",
                title: "@T("Admin.PujigatKaryakram.Fields.Limbis_Code")",
                //template: '<a class="k-link" href="Edit/#=Id#">#=kendo.htmlEncode(Breadcrumb)#</a>',
            },
            {
                field: "Program",
                title: "@T("Admin.PujigatKaryakram.Fields.Program")",
            },
            
            {
                field: "kharchaCode",
                title: "@T("Admin.PujigatKaryakram.Fields.kharchaCode")",
            },
            {
                field: "BarsikBajet",
                title: "@T("Admin.PujigatKaryakram.Fields.BarsikBajet")",
            },
            {
                field: "PrathamChaumasikBadjet",
                title: "@T("Admin.PujigatKaryakram.Fields.PrathamChaumasikBadjet")",
            },
            {
                field: "DosroChaumasikBadjet",
                title: "@T("Admin.PujigatKaryakram.Fields.DosroChaumasikBadjet")",
            },
            {
                field: "TesroChaumasikBadjet",
                title: "@T("Admin.PujigatKaryakram.Fields.TesroChaumasikBadjet")",
                },
            {
                field: "Expenses_category",
                title: "@T("Admin.PujigatKaryakram.Fields.ExpensesCategory")",
            },
            {
                field: "Unit",
                title: "@T("Admin.PujigatKaryakram.Fields.Unit")",
            },
            {
                command: [
                    {
                        name: "edit",
                        text: {
                            edit: "@T("Admin.Common.Edit")",
                            update: "@T("Admin.Common.Update")",
                            cancel: "@T("Admin.Common.Cancel")"
                        },

                    }],
                width: 200
            }
            ]

        });

    });
</script>
<script>
    $(document).ready(function () {
        //search button
        $('#search-categories').click(function () {
            //search
            var grid = $('#categories-grid').data('kendoGrid');
            grid.dataSource.page(1); //new search. Set page size to 1
            //grid.dataSource.read(); we already loaded the grid above using "page" function
            return false;
        });

      
    });

 
</script>
@*import categories form*@
<div class="modal-dialog" id="importexcel-window" style="display:none; padding: 0 10px;">
    <form asp-area="@Constants.AreaAdmin" asp-controller="PujigatKharchaKharyakram" asp-action="ImportFromXlsx" method="post" enctype="multipart/form-data">

        @*<em>@T("Admin.Catalog.Category.List.ImportFromExcelTip")</em>*@
        <div class="form-group">
            &nbsp;
        </div>
        <div class="form-group">
            @*<div class="col-md-3" style="margin-top: 2px; height: 34px; padding-left: 25px;">
            <label class="control-label">
                @T("Admin.Common.ExcelFile"):
            </label>
        </div>*@
            <div class="col-md-3">
                <label>@T("Admin.Common.ExcelFile")</label>

                <input class="form-control" type="file" id="importexcelfile" name="importexcelfile" required/>
            </div>
            <div class="col-md-3">
                <label>@T("Admin.Common.FiscalYear")</label>
                <select id="Fiscalyear" name="FiscalYear" class="form-control" required>
                    <option value="">Select</option>
                </select>
            </div>
            <div class="col-md-3">
                <label>@T("Admin.Common.Type")</label>
                <select id="Type" name="Type" class="form-control" required>
                    <option value="">Select</option>
                </select>
            </div>
            <div class="col-md-3">
                <label>@T("Admin.Common.ProgramType")</label>
                <select id="Program" name="ProgramType" class="form-control" required>
                    <option value="">Select</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            &nbsp;
        </div>
        <div class="form-group">
            <div class="col-md-2">
                
            </div>
            <div class="col-md-10 text-right mt-10">
                <input type="submit" class="k-button" value="@T("Admin.Common.ImportFromExcel")" />
            </div>
        </div>
    </form>
</div>
<script>
    $(document).ready(function () {
        $.get("/Admin/PujigatKharchaKharyakram/GetFiscalYear", (result) => {
            $.each(result, function (i, item) {
                $("#Fiscalyear").append(`<option value="${item.Id}" selected>${item.NepaliFiscalYear}</option>`);



            });
        });
        $.get("/Admin/PujigatKharchaKharyakram/PujigatType", (result) => {
            $.each(result, function (i, item) {
                $("#Type").append(`<option value="${item.Value}" selected>${item.Text}</option>`);



            });
        });
        $.get("/Admin/PujigatKharchaKharyakram/ProgramType", (result) => {
            $.each(result, function (i, item) {
                $("#Program").append(`<option value="${item.Value}" selected>${item.Text}</option>`);



            });
        });
            $("#importexcel").click(function (e) {
                e.preventDefault();
                var window = $("#importexcel-window");
                if (!window.data("kendoWindow")) {
                    window.kendoWindow({
                        modal: true,
                        title: "@T("Admin.Common.ImportFromExcel")",
                        actions: ["Close"]
                    });
                }
                window.data('kendoWindow').center().open();
            });

        });
</script>
