@model GalleryViewModel
<link href="~/Dolfd/css/photoViewer/photoviewer.css" rel="stylesheet" type="text/css" />

<style>
    .header {
        background-color: #f1f1f1;
        background-image: none;
    }
    .gallery-list .card-img-top {
       
        height: 165px !important;
    }
</style>



<section class="inner-page">

    <div class="col-12 col-md-12">
        <div class="main-abt-area">
            <div class="main-comon-title">
                <h4>Photo Gallery</h4>
            </div>
            <div class="clearfix"></div>
            <div class="common-title">
            </div>
            <div class="clearfix"></div>
            <div class="content-area gallery-list">

                <div class="col-lg-12 col-md-12 col-sm-4 col-xs-12">


                    @if (Model.Galleries.Count > 0)
                    {
                        @foreach (var item in Model.Galleries)
                        {
                            <div class="col-3 col-xs-3 col-sm-3 col-lg-3">
                                <div class="card">
                                    <img class="card-img-top" src='@((item != null && item.Images.Any()) ?
                                                                  item.Images.FirstOrDefault().PictureUrl :
                                                                      "/dolfd/img/nep-gov.png")' width="120px" alt="123">
                                    <div class="card-body">
                                        <h5 class="card-title">@item.Title</h5>
                                        <a data-gallery="bookGallery" asp-controller="Gallery" asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">View All </a>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                  
                </div>
               
            </div>
        </div>
    </div>
    <div class="col-12 col-md-12">
        <div class="main-abt-area">
            <div class="main-comon-title">
                <h4>Videos</h4>
            </div>
            <div class="clearfix"></div>
            <div class="common-title">
            </div>
            <div class="clearfix"></div>
            <div class="content-area gallery-list">

                <div class="col-lg-12 col-md-12 col-sm-4 col-xs-12">


                    @if (Model.Videos.Count > 0)
                    {
                        @foreach (var item in Model.Videos)
                        {
                            <div class="col-3 col-xs-3 col-sm-3 col-lg-3">
                                <div class="card">
                                    <img class="card-img-top" src='@((item != null && item.Images.Any()) ?
                                                                  item.Images.FirstOrDefault().PictureUrl :
                                                                      "/dolfd/img/nep-gov.png")' width="120px" alt="123">
                                    <div class="card-body">
                                        <h5 class="card-title">@item.Title</h5>
                                        <a data-gallery="bookGallery" asp-controller="Gallery" asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">View All </a>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                  
                </div>
            </div>
        </div>
    </div>

</section>
