@model List<LIMS.Website1.Models.LabelModel>
@inject LIMS.Website1.Data.IGetLabel _lbl
@using System.Globalization
@{
    Layout = "~/Views/Shared/_layoutDolfd.cshtml";
    var culture = CultureInfo.CurrentCulture.ToString();

}

<div class="container">
    <div class="row">
        <div class="col-md-12 text-right">
            <a asp-controller="Account" asp-action="Logout">Logout</a>
        </div>
        <div class="col-md-12">
            <h2>@_lbl.GetByName("Labels.Labels", culture)</h2>
            <p>
                <a asp-action="CreateUpdate" class="btn btn-success"><i class="ion-plus"></i> Create New</a>
            </p>
            <table class="table table-bordered" id="tbl">
                <thead>
                    <tr>
                        <th>
                            @_lbl.GetByName("Labels.Title", culture)
                        </th>
                        <th>
                            @_lbl.GetByName("Labels.English", culture)
                             </th>
                        <th>
                            @_lbl.GetByName("Labels.Nepali", culture)
                           </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EnglishName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NepaliName)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "CreateUpdate", new { id = item.Id }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="~/Dolfd/js/jquery-3.3.1.min.js"></script>

<script>
    $(function () {
        $("#tbl").DataTable();
        //{
        //    "columnDefs": [

        //        { "orderable": false, "targets": 2 },



        //    ],
        //});
    })
</script>
