@model LIMS.Web.Areas.Admin.Models.Organization.DiaryIndustryAndShopModel

<form method="post">
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel light form-fit">
                <div class="x_title">
                    <div class="actions">
                    </div>
                </div>
                <vc:admin-widget widget-zone="blog_details_buttons" additional-data="null" />
                <div class="x_content form">
                    <div class="form-row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <admin-label asp-for="FiscalYearId" />
                                <admin-select asp-for="FiscalYearId" asp-items="ViewBag.FiscalYearId" required="required" ></admin-select>
                                <span asp-validation-for="FiscalYearId"></span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div id="showTable">
            <table class="table table-bordered">
                <thead>
                    <tr style="text-align:center">
                        <th>@T("Admin.DiaryIndustry.OrganizationName")</th>
                        <th>@T("Admin.DiaryIndustry.Milk")</th>
                        <th>@T("Admin.DiaryIndustry.Curd")</th>
                        <th>@T("Admin.DiaryIndustry.Ghew")</th>
                        <th>@T("Admin.DiaryIndustry.Cheese")</th>
                        <th>@T("Admin.DiaryIndustry.Churpi")</th>
                        <th>@T("Admin.DiaryIndustry.Panir")</th>
                        <th>@T("Admin.DiaryIndustry.Methai")</th>
                        <th>@T("Admin.DiaryIndustry.IceCream")</th>
                        <th>@T("Admin.DiaryIndustry.Others")</th>
                        <th>@T("Admin.DiaryIndustry.YearlyBusinessIncome")</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var items in Model.Organization)
                    {
                    <tr>
                        <td>
                            @items.NameEnglish
                            <input type="hidden" asp-for="OtherOrganizationId" value="@items.Id">
                        </td>
                        <td>
                            <admin-input asp-for="Milk" />
                        </td>
                        <td>
                            <admin-input asp-for="Curd" />

                        </td>
                        <td>
                            <admin-input asp-for="Ghew" />

                        </td>
                        <td>
                            <admin-input asp-for="Cheese" />

                        </td>
                        <td>
                            <admin-input asp-for="Churpi" />

                        </td>
                        <td>
                            <admin-input asp-for="Panir" />

                        </td>
                        <td>
                            <admin-input asp-for="Mithai" />

                        </td>
                        <td>
                            <admin-input asp-for="IceCream" />

                        </td>
                        <td>
                            <admin-input asp-for="Others" />

                        </td>
                        <td>
                            <admin-input asp-for="YearlyBusinessIncome" />

                        </td>

                    </tr>
                    }
                </tbody>
            </table>
            <center>
                <input type="submit" class="btn btn-success" />
            </center>
        </div>
    </div>

</form>


