@model NewsEventViewModel


    <div class="row">
        <br />
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="text-primary">
                        <i class="fa fa-newspaper-o"></i>@(Model.ObjNews!=null?Model.ObjNews.Type:"News/Event")
                    </h4>
                </div>
                <div class="panel-body">
                    <ul class="scholoar-ship">
                        @if (Model.News.Any())
                        {
                            @foreach (var item in Model.News)
                            {
                                <li>
                                    <a style="color: #1892F5;" asp-route-id="@item.Id" asp-route-type="@item.Type">
                                        @item.Title<span></span>
                                    </a>
                                </li>
                            }
                        }
                        else
                        {
                            <li><a href="">No record found.</a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        @if (Model.ObjNews != null)
        {
            <div class="col-md-6">

                <h4 class="text-primary">
                    <i class="fa fa-newspaper-o"></i>
                    @Model.ObjNews.Title
                </h4>
                <font style="color: rgb(159,159,159);">
                    <i class="fa fa-calendar">&nbsp;@Model.ObjNews.UploadedDate.ToString("dd MMMM yy") &nbsp;</i>&nbsp;<i class="fa fa-edit">&nbsp;@Model.ObjNews.UploadedBy</i>
                </font><br />

                <div class="text-center">
                    <img src='@(Model.ObjNews.Image.FilePath)' onerror="hideImage(this);" width="550"
                         alt="Avatar" />
                </div>
                @Model.ObjNews.Description

            </div>
        }
        else
        {
            <div class="col-md-6">
                <h4 class="text-primary">
                    <i class="fa fa-newspaper-o"></i>
                    News/Event Title
                </h4>
                <font style="color: rgb(159,159,159);">
                    <i class="fa fa-calendar">&nbsp;@DateTime.Now &nbsp;</i>&nbsp;<i class="fa fa-edit">&nbsp;Admin</i>
                </font><br />
                No record found.
            </div>
        }

        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="highlight-section">
                <div class="highlight-header text-center">
                    <h6>Hilight</h6>
                </div>
                <ul>
                    @if (Model.NewsAndEvent.Count() > 0)
                    {
                        @foreach (var item in Model.NewsAndEvent)
                        {
                            <li class="d-flex mb-4 news-highlight">
                                <img src='@((!string.IsNullOrEmpty(item.Image.FilePath))?item.Image.FilePath:"~/Dolfd/img/nep-gov.png")' onerror="this.onerror=null; this.src='/Dolfd/img/nep-gov.png'" alt="" width="25" height="20">

                                <a asp-controller="NewsEvent" asp-action="Index" asp-route-id="@item.Id" asp-route-type="@item.Type">
                                    @item.Title
                                    <br /><span class="date d-block ml-0 mt-1">
                                        <i class="fa fa-calendar">   @item.UploadedDate.ToString("dd MMM yyyy")</i>
                                    </span>
                                </a>
                            </li>
                            <div class="clearfix"></div>
                        }
                    }
                    else
                    {
                        <li class="d-flex mb-4 news-highlight">
                            <img src="img/nep-gov.png" width="60px" class="hilight-img">
                            <a href="#" target="_blank">
                                No records found
                                <br /><span class="date d-block ml-0 mt-1">
                                    <i class="fa fa-calendar"></i>&#2408;&#2406;&#2413;&#2414;&#45;&#2408;&#45;&#2408;&#2409;
                                </span>
                            </a>
                        </li>
                    }

                    <!--
                <div class="clearfix"></div>
                <li class="d-flex mb-4 news-highlight">
                                                                <img src="https://mocit.gov.np/application/resources/site/img/logo.png" class="hilight-img">

                    <a href="https://mocit.gov.np/categorydetail/20780124d" target="_blank">
                        वि.सं. २०७६ र २०७७ सालको वरिष्ठ पत्रकार सम्मान एवं राष्ट्रिय पत्रकारिता पुरस्कार घोषणा सम्बन्धी प्रेस विज्ञप्ति										<span class="date d-block ml-0 mt-1">
                        <i class="fa fa-calendar"></i>
                        &#2408;&#2406;&#2413;&#2414;&#45;&#2407;&#45;&#2408;&#2410;									</span>
                    </a>
                </li>		-->
                </ul>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script type="text/javascript">
        function hideImage(img) {
            img.style.display = "none";
        }
    </script>

}
