@model NewsEventViewModel
@using LIMS.Website1.Data
@using System.Globalization
@inject IGetLabel _lbl
@{
    var culture = CultureInfo.CurrentCulture.ToString();
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-primary">
                <i class="fa fa-book"></i>@Model.Type
            </h3>
            <table id="tblPublication" class="table table-responsive table-bordered">
                <thead>
                    <tr style="background: #fefefe;">
                        <th>
                            @_lbl.GetByName("Title", culture)

                        </th>
                        @*<th>
                            @_lbl.GetByName("Published Date", culture)
                        </th>
                        <th>
                            @_lbl.GetByName("Size", culture)
                        </th>*@
                        <th>
                            @_lbl.GetByName("Download", culture)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.News.Any())
                    {
                        @foreach (var item in Model.News)
                        {
                            <tr>
                                <td>
                                    @item.Title
                                </td>
                                @*<td>
                                    @item.ActiveDate.ToShortDateString()
                                </td>
                                <td>@(item.Image.FileSize+" KB")</td>*@
                                <td>
                                    @*@if (!String.IsNullOrEmpty(item.Image.FileName))
                                        {*@
                                    <a asp-controller="NewsEvent" asp-action="Download" asp-route-id="@item.Id">
                                        <i class="fa fa-download"></i>
                                    </a>
                                    @*}
                                        @if (item.ShowText)
                                        {
                                            <a asp-controller="NewsEvent" asp-action="Details" asp-route-id="@item.Id">
                                             Details
                                            </a>
                                        }*@
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="3">No record found.</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section Scripts{
    <script type="text/javascript">
        function hideImage(img) {
            img.style.display = "none";
        }
        $(document).ready(function () {
            $('#tblPublication').DataTable({
                language: {
                    searchPlaceholder: "Search...",
                    search: "",
                }
            });
        });
    </script>
}