@inject AdminAreaSettings adminAreaSettings
@model FarmListModel
@{
    //page title
    ViewBag.Title = "Bali";
}

<div class="row">
    <div class="col-md-12">
        <div class="x_panel light form-fit">
            <div class="x_title">
                <div class="caption">
                    <i class="fa fa-comment"></i>
                    @T("Admin.Bali.LIST")
                </div>
                
            </div>
            <div class="x_content form">
                <div class="form-inline">
                    <div class="form-body">
                        <div class="form-body col-md-12">
                            <div class="form-group">
                                <label class="col-2 col-sm-2 col-md-2 control-label">@T("Admin.common.FiscalYear") </label>
                                <div class="col-2 col-md-3 col-sm-3">
                                    <admin-select asp-for="Fiscalyear" asp-items="ViewBag.fiscalyear">


                                    </admin-select>

                                    @*<input id="dropdownlist" />*@
                                </div>
                                <div class="col-md-5 col-sm-5">
                                    <button class="btn btn-success filter-submit" id="search-bali" style="font-size: 13px!important;">
                                        <i class="fa fa-search"></i> @T("admin.common.search")
                                    </button>
                                </div>
                            </div>
                            <div class="form-group">

                            </div>
                        </div>
                        <div class="x_content">
                            <div id="bali-grid"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        $('#search-bali').click(function () {
            //search
            var grid = $('#bali-grid').data('kendoGrid');
            grid.dataSource.page(1); //new search. Set page size to 1
            //grid.dataSource.read(); we already loaded the grid above using "page" function
            return false;
        });

        $("#bali-grid").kendoGrid({
            dataSource: {
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("BaliReport", "Bali"))",
                        type: "POST",
                        dataType: "json",
                        data: additionalData
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors"
                },
                error: function(e) {
                    display_kendoui_grid_error(e);
                    // Cancel the changes
                    this.cancelChanges();
                },
                pageSize: @(adminAreaSettings.DefaultGridPageSize),
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true
            },
            pageable: {
                refresh: true,
                pageSizes: [@(adminAreaSettings.GridPageSizes)]
            },
            editable: {
                confirmation: false,
                mode: "inline"
            },
            scrollable: false,
            columns: [
             

                {
                field: "Breed.EnglishName",
                title: "@T("Admin.Bali.CropName")",
                    width: 400,
                    template:"#=(BreedReg==null)?'':BreedReg.EnglishName#"
                },


                    {
                        field: "Area",
                        title: "@T("Admin.Bali.Area")",
                        width: 400,

                },
                      {
                          field: "Productivity",
                        title: "@T("Admin.Bali.Productivity")",
                        width: 400,

                    },
                       {
                          field: "Production",
                        title: "@T("Admin.Bali.Production")",
                        width: 400,

                }
                        

            ]

        });
        function additionalData() {
            var data = {
                Keyword: $("#Fiscalyear").val()
            };
            addAntiForgeryToken(data);
            return data;
        }
    });
</script>