@inject AdminAreaSettings adminAreaSettings
@model FarmListModel
@{
    //page title
    ViewBag.Title = "Bali";
}

<div class="row">
    <div class="col-md-12">
        <div class="x_panel light form-fit">
            <div class="x_title">
                <div class="caption">
                    <i class="fa fa-comment"></i>
                    @T("Admin.Bali.LIST")
                </div>
                <div class="actions btn-group btn-group-devided">
                    <a href="@Url.Action("Create")" class="btn green"><i class="fa fa-plus"></i><span class="d-none d-sm-inline"> @T("Admin.Common.AddNew") </span></a>
                </div>
            </div>
            <div class="x_content form">
                <div class="form-horizontal">
                    <div class="form-body">
                        <div class="col-md-6">
                            <input asp-for="Keyword" class="form-control" style="width: inherit!important" placeholder="Filter" />
                        </div>
                        <div class="x_content">
                            <div id="bali-grid"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#bali-grid").kendoGrid({
            dataSource: {
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("List", "Bali"))",
                        type: "POST",
                        dataType: "json",
                        data: additionalData
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors"
                },
                error: function(e) {
                    display_kendoui_grid_error(e);
                    // Cancel the changes
                    this.cancelChanges();
                },
                pageSize: @(adminAreaSettings.DefaultGridPageSize),
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true
            },
            pageable: {
                refresh: true,
                pageSizes: [@(adminAreaSettings.GridPageSizes)]
            },
            editable: {
                confirmation: false,
                mode: "inline"
            },
            scrollable: false,
            columns: [
                {
                    field: "Species.EnglishName",
                    title: "@T("Admin.Bali.CropCategory")",
                    width: 400,
                    template: '<a class="k-link" href="Edit/#=Id#"><i class="fa fa-edit"/>&nbsp#=kendo.htmlEncode((Species.EnglishName == null) ? " ": Species.EnglishName)#</a>',

                },

                {
                field: "Breed.EnglishName",
                title: "@T("Admin.Bali.CropName")",
                    width: 400,
                    template:"#=(BreedReg==null)?'':BreedReg.EnglishName#"
                },


                    {
                        field: "Area",
                        title: "@T("Admin.Bali.Area")",
                        width: 400,

                },
                      {
                          field: "Productivity",
                        title: "@T("Admin.Bali.Productivity")",
                        width: 400,

                    },
                       {
                          field: "Production",
                        title: "@T("Admin.Bali.Production")",
                        width: 400,

                },
                         {
                          field: "FiscalYear.NepaliFiscalYear",
                        title: "@T("Admin.Bali.FicalYear")",
                        width: 400,

                    },


            ]

        });
        function additionalData() {
            var data = {
                Keyword: $("#Keyword").val()
            };
            addAntiForgeryToken(data);
            return data;
        }
        $('#Keyword').keyup(function () {
            //search
            var grid = $('#categories-grid').data('kendoGrid');
            grid.dataSource.page(1); //new search. Set page size to 1
            //grid.dataSource.read(); we already loaded the grid above using "page" function
            return false;
        });
    });
</script>