@model FarmLabResourcesModel
<div class="x_content form">
    <div class="form-row">

        <div class="col-md-3">

            <div class="form-group">
                <admin-label asp-for="Type" />
                <admin-select asp-for="Type" asp-items="@ViewBag.Type" required="required"></admin-select>
                <span asp-validation-for="Type"></span>

            </div>
        </div>
        <div class="col-md-2" id="subtype">

            <div class="form-group">
                <admin-label asp-for="SubType" />
                <admin-select asp-for="SubType">

                    <option value="">Select</option>

                    <option value="Main seed">Main seed</option>
                    <option value="Hybrid seed">Hybrid seed</option>
                  

                </admin-select>
                <span asp-validation-for="SubType"></span>

            </div>
        </div>

        <div class="col-md-2" id="Fishsubtype">

            <div class="form-group">
                <admin-label asp-for="SubType" />
                <admin-select asp-for="SubType">

                    <option value="">Select</option>

                    <option value="Hatchling">Hatchling</option>
                    <option value="Fry">Fry</option>
                    <option value="Fingerling">Fingerling </option>

                </admin-select>
                <span asp-validation-for="SubType"></span>

            </div>
        </div>


        <div class="col-md-2" id="BiruwaSubType">

            <div class="form-group">
                <admin-label asp-for="PlantType" />
                <admin-select asp-for="PlantType">

                    <option value="">Select</option>

                    <option value="Admin.BijuBiruwaUtpadan">@T("Admin.BijuBiruwaUtpadan")</option>
                    <option value="Admin.KamamiBiruwaUtapadan">@T("Admin.KamamiBiruwaUtapadan")</option>
                    <option value="Admin.TissueCultureBiruwaUtpadan">@T("Admin.TissueCultureBiruwaUtpadan") </option>
                    <option value="Kalami">@T("Admin.FalfulBiruwaUtpadan")</option>

                </admin-select>
                <span asp-validation-for="PlantType"></span>

            </div>
        </div>

        <div class="col-md-2" id="BernaSubType">

            <div class="form-group">
                <admin-label asp-for="PlantType" />
                <admin-select asp-for="PlantType">

                    <option value="">Select</option>

                    <option value="Admin.TarkariBerna">@T("Admin.TarkariBerna")</option>
                    <option value="Admin.AluKoPBSdAna">@T("Admin.AluKoPBSdAna")</option>

                </admin-select>
                <span asp-validation-for="PlantType"></span>

            </div>
        </div>

        <div class="col-md-2" id="BewSubType">

            <div class="form-group">
                <admin-label asp-for="PlantType" />
                <admin-select asp-for="PlantType">

                    <option value="">Select</option>

                    <option value="Admin.ChauBew">@T("Admin.ChauBew")</option>
                    <option value="Admin.AanyaBew">@T("Admin.AanyaBew")</option>

                </admin-select>
                <span asp-validation-for="PlantType"></span>

            </div>
        </div>


        <div class="col-md-3">

            <div class="form-group">
                <admin-label asp-for="ItemName" />
                <admin-input asp-for="ItemName" />
                <span asp-validation-for="ItemName"></span>

            </div>
        </div>
        <div class="col-md-2">

            <div class="form-group">
                <admin-label asp-for="Sector" />
                <admin-select asp-for="Sector">

                    <option value="">Select</option>

                    <option value="Public">Public</option>
                    <option value="Hybrid seed">Private</option>


                </admin-select>
                <span asp-validation-for="Sector"></span>

            </div>
        </div>

        <div class="col-md-2">

            <div class="form-group">
                <admin-label asp-for="UnitId" />
                <admin-select asp-for="UnitId" asp-items="ViewBag.UnitId" required="required">

                </admin-select>
                <span asp-validation-for="UnitId"></span>

            </div>
        </div>
        <div class="col-md-3 col-sm-2">

            <div class="form-group">
                <admin-label asp-for="AvailableQuantity" />
                <input asp-for="AvailableQuantity" class="form-control" required="required" />
                <span asp-validation-for="AvailableQuantity"></span>

            </div>
        </div>
        <div class="col-md-3">

            <div class="form-group">
                <admin-label asp-for="UnitPrice" />
                <input asp-for="UnitPrice" class="form-control" required="required" />
                <span asp-validation-for="UnitPrice"></span>

            </div>
        </div>
        <div class="col-md-12">

            <div class="form-group">
                <admin-label asp-for="Remarks" />
                <input asp-for="Remarks" class="form-control" />
                <span asp-validation-for="Remarks"></span>

            </div>
        </div>

    </div>
    </div>
<script>

    $(document).ready(function () {
        $("#subtype").hide();
        $("#Fishsubtype").hide();
        $("#BewSubType").hide();
        $("#BernaSubType").hide();
        $("#BiruwaSubType").hide();
        var types = $("#Type").val();
        if (types) {
            if (types == "Admin.Resource.Seed") {
                $("#subtype").show();
                $("#BewSubType").show();
                $("#BernaSubType").hide();
                $("#BiruwaSubType").hide();
                $("#Fishsubtype").hide();
            }
            else if (types == "Admin.Resource.Berna") {
                $("#subtype").show();
                $("#BewSubType").hide();

                $("#BernaSubType").show();

                $("#Fishsubtype").hide();
            }
            else if (types == "Admin.Resource.Fish") 
                {
                $("#Fishsubtype").show();
                $("#subtype").hide();
                $("#BewSubType").hide();


                   $("#BernaSubType").hide();
                $("#BiruwaSubType").hide();

                }
            else {
                $("#Fishsubtype").show();
                $("#subtype").show();
                $("#BewSubType").hide();


                $("#BernaSubType").hide();
                $("#BiruwaSubType").show();
            }
        }
        $("#Type").change(function () {
            var type = $(this).val();
            if (type == "Admin.Resource.Seed") {
                $("#subtype").show();
                $("#BewSubType").show();
                $("#BernaSubType").hide();
                $("#BiruwaSubType").hide();
                $("#Fishsubtype").hide();
            }
            else if (type== "Admin.Resource.Berna") {
                $("#subtype").show();
                $("#BewSubType").hide();

                $("#BernaSubType").show();

                $("#Fishsubtype").hide();
            }
            else if (type == "Admin.Resource.Fish") {
                $("#Fishsubtype").show();
                $("#subtype").hide();
                $("#BewSubType").hide();


                $("#BernaSubType").hide();
                $("#BiruwaSubType").hide();

            }
            else {
                $("#Fishsubtype").hide();
                $("#subtype").show();
                $("#BewSubType").hide();


                $("#BernaSubType").hide();
                $("#BiruwaSubType").show();
            }
        });
    })
</script>