@model FooterViewModel
@using LIMS.Website1.Data
@inject IGetLabel _lbl


<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h4 class="letter-spacing-1">
                    <u>
                        @_lbl.GetByName("Footer.ContactInformation", "")
                    </u>
                </h4>
                <!-- Contact Address -->
                <address>
                    <ul class="list-unstyled">
                        <li class="footer-sprite ">

                            <b>
                                @Model.Customer.OrgName<br>
                            </b>
                            @*@(Model.ContactUs!=null?Model.ContactUs.Department:"Department Name")</b><br>*@
                        </li>
                        <li class="footer-sprite address">

                            <b>@Model.Customer.OrgAddress , Nepal</b><br>
                        </li>
                        <li class="footer-sprite phone">
                            Phone : @(Model.ContactUs!=null?Model.ContactUs.Phone1:"Phone")
                        </li>
                        <li class="footer-sprite email">
                            <a>@(Model.ContactUs!=null?Model.ContactUs.Email1:"officeEmail@email.com")</a>
                        </li>
                        <li>
                            <!-- Social Icons -->
                            <div class="mt-20">
                                <a href="https://www.facebook.com/" class="social-icon social-icon-border social-facebook float-left" data-toggle="tooltip" data-placement="top" title="Facebook">

                                    <i class="fa fa-facebook-square"></i>
                                </a>
                            </div>
                            <!-- /Social Icons -->
                        </li>
                    </ul>
                </address>
                <!-- /Contact Address -->
            </div>
            <div class="col-md-6">
                <!-- Latest Blog Post -->
                <h4 class="letter-spacing-1">
                    <u> @_lbl.GetByName("Footer.RelatedLinks","")</u>

                </h4>
                <ul class="footer-posts list-unstyled">
                    @if (Model.ImportantLinks.Any())
                    {
                        @foreach (var item in Model.ImportantLinks)
                        {
                            <li>
                                <a href="@item.URL">@item.LinkName</a>
                            </li>
                        }
                    }
                    else
                    {
                        <li>
                            <a href="http://moeap.sudurpaschim.gov.np">Ministry of Economic Affairs and Planning,Sudurpaschim Province</a>

                        </li>
                        <li>
                            <a href="http://molmac.sudurpaschim.gov.np">Ministry of Land Management,Agriculture & Cooperative,Sudurpaschim Province </a>
                        </li>
                        <li>
                            <a href="http://www.dls.gov.np/">Department of Livestock Services</a>
                        </li>
                        <li>
                            <a href="http://www.doad.gov.np/">Department of Agriculture Development</a>
                        </li>
                        <li>
                            <a href="http://moitfe.sudurpaschim.gov.np">Ministry of Industry, Tourism, Forest and Environment,Sudurpaschim Province</a>
                        </li>
                    }
                    @*<li>
                            <a href="http://moeap.sudurpaschim.gov.np">Ministry of Economic Affairs and Planning,Sudurpaschim Province</a>

                        </li>
                        <li>
                            <a href="http://molmac.sudurpaschim.gov.np">Ministry of Land Management,Agriculture & Cooperative,Sudurpaschim Province </a>
                        </li>
                        <li>
                            <a href="http://www.dls.gov.np/">Department of Livestock Services</a>
                        </li>
                        <li>
                            <a href="http://www.doad.gov.np/">Department of Agriculture Development</a>
                        </li>
                        <li>
                            <a href="http://moitfe.sudurpaschim.gov.np">Ministry of Industry, Tourism, Forest and Environment,Sudurpaschim Province</a>
                        </li>*@
                </ul>
                <!-- /Latest Blog Post -->
            </div>
            <div class="col-md-3">
                <!-- Newsletter Form -->
                <h4 class="letter-spacing-1">
                    @_lbl.GetByName("Footer.FindUsInMap", "")

                </h4>
                <div class="mapouter">
                    <div class="gmap_canvas">
                    @if (string.IsNullOrEmpty(Model.Map))
                    {
                    <iframe width="283" height="199" id="gmap_canvas" src="https://maps.google.com/maps?q=Ministry%20of%20Land%20Management%20and%20Agriculture,%20Dhangadi&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.embedgooglemap.net"></a>
                    }
                    else
                    {
                    <iframe width="283" height="199" id="gmap_canvas" src="@Model.Map" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.embedgooglemap.net"></a>

                    }
                </div>
                    <style>
                        .mapouter {
                            text-align: right;
                            height: 299px;
                            width: 383px;
                        }

                        .gmap_canvas {
                            overflow: hidden;
                            background: none !important;
                            height: 220px;
                            width: 360px;
                        }
                    </style>
                </div>






            </div>

        </div>

    </div>

    <div class="copyright">
        <div class="container text-center">

            &copy; 2021 Copyright @Model.Customer.OrgName ,  @Model.Customer.OrgAddress, Sudurpaschim Province, Nepal

        </div>
    </div>

</footer>